[2021-11-19 15:23] 1337-sys opened #352 "Is batch tasks possible?"
Thank you very much for writing such a wonderful queue library.

1.  I want to use it in production but I was wondering if batch processing is possible. I will bulk insert the data waiting in the queue to the db.

Finally, I would like to ask you something based on your experience.

2. A user has many notifications. I am writing these notifications to the database. But my db connection pool fills

[2021-11-20 01:07] 1337-sys opened #353 "[BUG] Dangling program"
Program could not be closed. Previously I was calling the Stop() and Shutdown() funcs. Same result whether I call it or not. Asynq is already handling the shutdown job. Even though I set ShutdownTimeout, nothing changed.

[code]

Initialize:

[code]

Destroy:

[code]

Machine: Darwin Kernel Version 20.6.0 - MacBook Pro (Retina, 15-inch, Mid 2014) - MacOS Big Sur

[2021-11-20 14:24] hibiken commented on #353
@1337-sys Thank you for opening an issue.

You should be able to fix this by replacing the call to `Server.Run` with `Server.Start`. For more context, `Server.Run` takes care of calling `Server.Stop` and `Sever.Shutdown`. But in this case, since you are calling those methods yourself, you should use `Server.Start` to start the server. Also, you don't need to put that call in a separate goroutine s

[2021-11-20 14:37] hibiken commented on #352
@1337-sys Thank you for opening an issue.

Let me make sure that I understood your questions correctly:

To use an example, if you enqueue task A, B and C to a queue. You want to handle these three tasks as a unit (e.g. in batch) instead of handling them individually. In other words, you want to group these tasks into one task that gets delivered to your `Handler`? If this is what you meant, there

[2021-11-20 16:33] tpoxa commented on #265
Thanks, @hibiken Would be great to have an example of the usage.

[2021-11-20 17:07] tpoxa commented on #265
I keep receiving an empty result within my taskInfo

[2021-11-21 04:35] hibiken opened #354 "[DOC] Add documentations on ResultWriter"
Add examples on how to use `ResultWriter` to write result for tasks.

- [x] Add a wiki page
- [ ] Add `ExampleResultWriter` test

[2021-11-21 04:40] hibiken commented on #265
@tpoxa Thank you for the comment! I'll make sure to add some examples in the godoc and wiki #354

But in the meantime, this is a simple example.

[code]

Then you should be able to see the result payload in the Web UI or read that result bytes programmatically by calling `Inspector.GetTaskInfo`. Let me know if you have further questions. Also make sure that you are using asynq v0.19 👍

[2021-11-21 12:35] tpoxa commented on #265
Sorry, does not work.  https://github.com/hibiken/asynq/blob/9f2c321e9804901f06b58e82f9e0ce4125d80b74/client.go#L379 is that ok that Result returned is always nil?

[2021-11-21 14:11] hibiken commented on #265
I think there's some misunderstanding here. `TaskInfo` returned from `Client.Enqueue` will always have nil result because you just enqueued the task and haven't handled them in your Handler.

Result will be available after you write result in your handler. Just make sure you set the `Retention` option so that the tasks don't get deleted once they are processed successfully.

[2021-11-21 15:46] tpoxa commented on #265
Yes, it might be a misunderstanding.
Yes, I did set up retention time, so how I can get the actual result?
I thought I enqueue tasks synchronously so I must have a result in task info.

How does the enqueuer know that a task is accomplished?

Thank you!
Sorry for the silly questions.

[2021-11-21 16:41] hibiken commented on #265
`Enqueue` only puts the given task on a queue to be handled asynchronously by workers (Are you running the worker server process with your `Handler`?), only after the Handler processes the task the result will be available (Assuming that you write result using the `ResultWriter`, see example above).

Unfortunately there's no out-of-the-box solution to listen on the event when the task is completed

[2021-11-21 16:59] tpoxa commented on #265
Ok, for example. Webform sends a task, get a website's screenshot. The user submits the URL and waits for a few seconds (up to 30) when it's done.  As the result, the website shows a screenshot URL.

One of the workers gets a payload (website URL) makes a screenshot, publishes it to the bucket, and returns URL of the uploaded image.

[2021-11-21 17:00] tpoxa commented on #265
So ideal (IMHO) it would be to have something like this:
[code]

[2021-11-21 17:23] crossworth commented on #265
Hello, I don't think this would work. I mean the `wait` would have to use `Inspector.GetTaskInfo` in a loop with a timer to know when the task is finished, but if this is the case, I think using a goroutines and channels would be better, or if you really need to wait maybe doing it synchronously without a goroutine should work as well.

Maybe you should generate a task with an ID and create a rout

[2021-11-21 18:48] tpoxa commented on #265
Ok, guys thanks. I came up with sth like this:

[code]
Where wait function is next:

[code]

[2021-11-22 06:49] carrymec opened #358 "[BUG]"
### Discussed in https://github.com/hibiken/asynq/discussions/357

<div type='discussions-op-text'>

<sup>Originally posted by **carrymec** November 22, 2021</sup>
https://github.com/hibiken/asynq/blob/9f2c321e9804901f06b58e82f9e0ce4125d80b74/internal/rdb/rdb.go#L871

![image](https://user-images.githubusercontent.com/36873164/142816180-5455250e-59d4-4445-9495-f4eb2992f038.png)

when line 679 for

[2021-11-22 06:49] carrymec commented on #358
![image](https://user-images.githubusercontent.com/36873164/142816635-c8ac3406-a1e8-4d8f-9467-dcf7636344e9.png)

[2021-11-22 06:50] carrymec commented on #358
i dont know when this data created

[2021-11-22 07:26] Ryalu opened #359 "[FEATURE REQUEST] forwarder.interval support dynamic adjustment"
https://github.com/hibiken/asynq/blob/9f2c321e9804901f06b58e82f9e0ce4125d80b74/server.go#L369

[2021-11-22 14:02] hibiken commented on #358
@carrymec thank you for opening an issue.

Could you describe the steps to reproduce the bug?

[2021-11-22 14:04] hibiken commented on #359
@Ryalu thank you for opening this feature request.

There're a few intervals like this one that we can make configurable. I'll try to include this change in the next release 👍

[2021-11-24 03:07] carrymec commented on #358
i remove all asynq:{default}:t* keys

[2021-11-29 14:09] mrsufgi commented on #321
@hibiken there's something missing with tracing though.
I'm using OpenTelemetry (OTel)

[code]

`EnqueueContext` works great and I'm able to see traces in my otel-collector, however, I'm not able to propagate this context to my handlers. perhaps we need something lower level when we dequeue from redis?

Maybe I'm missing something? maybe we need redis-server in the loop?

[code]

[2021-11-29 15:45] crossworth commented on #321
When asynq dequeues a task, it create a new context for it (from `context.Background`)
https://github.com/hibiken/asynq/blob/9f2c321e9804901f06b58e82f9e0ce4125d80b74/processor.go#L193

https://github.com/hibiken/asynq/blob/9f2c321e9804901f06b58e82f9e0ce4125d80b74/internal/context/context.go#L31-L40

You should create a middleware for the handle that adds OpenTelemetry support for the context.

Sim

[2021-11-30 01:45] c-nv-s commented on #206
@hibiken  any update on this request?

[2021-11-30 09:56] mrsufgi commented on #321
@crossworth that was quite helpful! So now I have a tracing middleware that creates a span (entrypoint)

(based on your code ofc)
[code]

Now, I have NEW spans generated from the handler.
Whats missing is using the trace context we had while enqueuing and passing it to the middleware.

Although like you said,
`When asynq dequeues a task, it create a new context for it `
So thats sounds impossible

[2021-11-30 14:39] hibiken commented on #321
@mrsufgi thank you for these comment and thank you @crossworth for jumping in to help!

I'm new to opentelemetry so I may be wrong, but I believe there should be two traces like @crossworth mentioned.
First trace includes the `client.Enqueue` to enqueue a task to a queue while handling HTTP request, for example.
Second trace is when the task gets delivered to the Handler to be processed.
I believe

[2021-11-30 14:43] hibiken commented on #206
@c-nv-s thank you for the comment!
Sorry, this feature work has been de-prioritized because I had other features to work on. I'm currently working on metrics related work, so I may be able to work on this soon.

But if anyone's interested, feel free to open a PR for this 👍

[2021-11-30 14:54] crossworth commented on #321
OpenTelemetry has the concept of a Producer and Consumer
https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/trace/api.md#spankind

I think is possible to do context propagation similar to this https://www.splunk.com/en_us/blog/devops/distributed-tracing-for-kafka-clients-with-opentelemetry-and-splunk-apm.html

Maybe something like this should work: https://gist.g

[2021-12-01 05:13] seanyu4296 commented on #321
Just chiming in quickly I actually add the trace ids in the task like a Metadata  and extract it during task processing to have one trace. I'll post later on how I did it

[2021-12-06 09:32] mrsufgi commented on #321
Based on your answers I have my final snippet
https://gist.github.com/mrsufgi/99ad8f697c2d2894b9904067d28223e5
(sorry that its not a full workingfiles but Its meddled with our codebase) if anyone is looking for a fuller solution ping me :)

[2021-12-06 23:43] jcgarciaram commented on #321
@seanyu4296 I am working on adding tracing to DataDog as well. Would it be possible for you to share code examples and tips on how you got this to work? https://github.com/hibiken/asynq/issues/321#issuecomment-911204264

[2021-12-07 03:46] hibiken commented on #321
@seanyu4296 would you mind creating a wiki page describing your solution so that other users can use it as a reference? (https://github.com/hibiken/asynq/wiki/_new)

[2021-12-08 07:11] sersh88 opened #362 "[FEATURE REQUEST] On fail cleanup task"
For some tasks I need to prepare some files and need to clean them if task failed after all defined attempts.
So, it will be very useful to define a cleanup task for a task to run after it's failed. It can be done as passing option to NewTask method.
So, after our original task is failed a new cleanup task will be automatically created with the same payload.

[2021-12-08 07:35] sersh88 opened #363 "[FEATURE REQUEST] retry policy enhancement"
Feature request about retry policy.
Sometimes, when doing a task, it is clear that it will not be possible to complete it even on subsequent attempts.
So, it will be useful for a task handler to return special error type after which the task will be completely failed and no retries will be processed.
Also another enhancement is to be able to modify task payload in task handler. It's useful in some

[2021-12-08 11:44] crossworth commented on #363
Hello, you can already handle the error in different ways, see:
https://github.com/hibiken/asynq/wiki/Task-Retry#skip-retry

About changing the task payload, I don't is possible right now, but you can get the same result by enqueuing a new task with the payload changed and returning a skip retry on the task.

[2021-12-08 11:51] crossworth commented on #362
You can implement this in different ways:

1. [Using middlewares](https://github.com/hibiken/asynq/wiki/Handler-Deep-Dive)
2. [Using the error handler](https://pkg.go.dev/github.com/hibiken/asynq?utm_source=godoc#Config.ErrorHandler)

You can define a custom error and check it on the middleware/error handler (or check the task type) and enqueue the cleanup task.

Maybe it will be possible with the

[2021-12-08 14:31] sersh88 commented on #362
But error handler and middleware ProcessTask will react on every retry, right? So, I can't know if this was the last attempt to run the task or not?

[2021-12-08 14:32] crossworth commented on #362
https://pkg.go.dev/github.com/hibiken/asynq#GetRetryCount

[2021-12-08 14:33] sersh88 commented on #363
Thanks, somehow I missed this SkipRetry error.

[2021-12-08 14:37] #363 closed

[2021-12-08 14:41] hibiken commented on #363
@sersh88 thank you for creating this issue and thank you @crossworth for jumping in!

For the first question, please see @crossworth's comment above.

For the second question, payload should be immutable IMO. We introduced task `Result` in v0.19. you could probably write your partial result and read the result in the subsequent attempts.

Example:
[code]

[2021-12-17 19:15] gedw99 opened #368 "[FEATURE REQUEST] Driver for NATS so we get geo physical Load balancing and Failover"
**Is your feature request related to a problem? Please describe.**

I need geo physical load balancing and NATS provides that out of the box.

NATS can run for example 3 servers in each continent. You typically setup 3 in a cluster in each continent.

the nats.go client will automatically connect to the nearest one and automatically failover and then reconnect when a closer server or cluster comes

[2021-12-18 15:10] hibiken commented on #368
@gedw99 Thank you for opening this issue!
Adding support for other message brokers are on our long-term roadmap. If you need this feature soon, it'd recommend look for other solutions since we don't have specific timeline for when this will be worked on.

Related issue: #173

[2021-12-20 14:20] hibiken commented on #358
I don't believe this is a bug of the library since user deleted tasks from redis manually. Closing this.

[2021-12-20 14:20] #358 closed

[2021-12-26 10:02] gmhafiz opened #369 "[BUG] Unique tasks before TTL should not be run"
**Describe the bug**
The second of two identical tasks with same UUID and payload should not be sent to Redis before TTL, when the message sent could have been from a retry.

This is a related to issue https://github.com/hibiken/asynq/issues/275 with the difference that in 275, repeated tasks are allowed to be processed before TTL because the previous task is deleted. In my case, asynq must respec

[2021-12-26 13:36] hibiken commented on #369
@gmhafiz Thank you for reporting an issue!

The intention behind the `Unique` option is to prevent a duplicate task being enqueued to the same queue. The duration you pass to the `Unique` option is there to avoid a situation where a stale task in the queue blocking new tasks from being enqueued (or other similar situations).

Reading your use case, I think the alternative you suggested sounds perf

[2021-12-30 10:43] xdorro opened #371 "[QUESTION] How to fix duplicate scheduler task in 2 servers?"
Sorry my english is not good,
I am having 1 task scheduled every 15 seconds, its task is to send a notification to the user.
when i deploy it on 2 different servers my users get the same 2 messages, i checked on asynq and see 2 scheduled tasks running side by side. Can you help me fix this?

[2021-12-31 04:08] hibiken commented on #371
@xdorro thank you for opening an issue!

Would you mind providing more details? Code snippets would be very helpful.

[2021-12-31 20:34] danthegoodman1 opened #373 "[FEATURE REQUEST] Optional `WAIT` flag for Enqueue"
I think it would be useful to have the option to use or not use `WAIT {some number}` with Enqueue such that we can have assurance that we durably wrote to Redis (when not using AOF).

Since Redis can lose writes before syncing to a replica, this is still a conern present without AOF.

Maybe an `asynq.Wait(int)` would be a parameter that would be passed to the `Enqueue()` function.

[2021-12-31 21:19] mdibaiee commented on #206
Hello 👋
I just saw this issue and thought it was easy enough to fix in my spare time, so I just created a PR. Happy to apply any feedback you have on it.

P.S.: Happy new year!

[2021-12-31 22:15] c-nv-s commented on #368
Just to let you know this would be an awesome feature.
I understand that it is complex and low-priority... but it can help people reduce the complexity of thier stacks.

[2022-01-01 14:59] hibiken commented on #373
@danthegoodman1 Great feature request.

I believe synchronous replication is needed in some use cases and may be a common need.
Let me do a little bit more research around this to come up with a suggestion.

Any suggestion on the API is welcome!

[2022-01-02 15:24] #206 closed

[2022-01-03 22:44] #359 closed

[2022-01-03 23:56] hibiken commented on #371
Any updates? I'm closing this for now, but feel free to re-open if you are still seeing the issue.

[2022-01-03 23:56] #371 closed

[2022-01-06 02:26] hibiken commented on #369
Proposed solution above won't work currently. This issue came up in discussion #376. I'm re-opening this issue to revisit the semantics of the `Unique` option.

[2022-01-12 17:10] #353 closed

[2022-01-13 12:31] zhaolion opened #379 "[FEATURE REQUEST] Dynamic Register Periodic Tasks"
**feature request idea**

Currently periodic tasks need to be bound to a period at runtime, is it possible to support that client can register a dynamic periodic tasks, similar to `Register(task, ... options)`

**Describe alternatives you've considered**
Some of our business scenarios will perform periodic tasks with different cycles based on some user data.

[code]

If this feature is supported,

[2022-01-14 03:44] ruziyi opened #380 "redis eval error"
**Describe the bug**
I got the error "could not enqueue task: UNKNOWN: redis eval error: ERR Error running script (call to f_6b2833bade2cce3e7bae2440c9187cd23e3ae042): @user_script:5: @user_script: 5: Wrong number of args calling Redis command From Lua script
" when I try run the code in the docs .

**To Reproduce**
Steps to reproduce the behavior (Code snippets if applicable):
1. Setup background

[2022-01-14 04:04] #380 closed

[2022-01-14 04:04] ruziyi commented on #380
There may be a problem with the redis version.

[2022-01-15 01:13] hibiken commented on #379
Hi @zhaolion thank you for creating this feature request!

You can actually call `(*Scheduler).Register` dynamically. However, a problem with the current implementation of Scheduler is that it doesn't persist the registered tasks and their schedule in persistent store, so if that process is restarted, it doesn't know what tasks were registered before. (FYI: I'm planning on changing this in the fut

[2022-01-15 11:50] binaek opened #381 "[FEATURE REQUEST] Add ability to provide a base `context` for `handler` invocations"
**Is your feature request related to a problem? Please describe.**
I am unable to set a base `context` for the `handlerFunc` invocations.

**Describe the solution you'd like**
Something along the lines of what `http.Server` provides:
[code]

A nice adaptation would be `BaseContext func(context.Context) context.Context`.

This will allow invocation contexts to be derived from a known `context.Conte

[2022-01-16 00:32] hibiken commented on #381
@binaek Thank you for creating this feature request!

I think it makes sense to add this `BaseContext` to `Config`.
But before we make the change, could you describe possible use cases?  So that we have more concrete motivation to make this change :)

[2022-01-16 04:33] hibiken commented on #330
Duplicate of #308

[2022-01-16 04:33] #330 closed

[2022-01-16 04:34] hibiken commented on #352
Duplicate of #339

[2022-01-16 04:34] #352 closed

[2022-01-16 04:35] hibiken commented on #368
Duplicate of #173

[2022-01-16 04:35] #368 closed

[2022-01-16 04:36] #321 closed

[2022-01-16 04:36] #121 closed

[2022-01-16 04:38] hibiken commented on #326
Closing this issue for now since I don't think this is a common need.

[2022-01-16 04:38] #326 closed

[2022-01-16 08:28] zhaolion commented on #379
Thank you for your reply 🙌. I think what you are planning to do is a better realized idea. The ability for periodic tasks to be stored and updated is a very exciting feature.

Also thank you very much for some ideas and references to the repository - dkron, i will try to make some demos to see whether I can solve some of my case.

Finally, considering that you are already planning to do some relat

[2022-01-16 08:28] #379 closed

[2022-01-16 08:44] binaek commented on #381
@hibiken
The use case that I am struggling with is as such:

The application uses Context as a DI container for application wide services like DB connection, Root loggers, telemetry etc.

The context also uses a signal.NotifyContext   and so deadlines and cancellations never reach the handlers till an explicit call to Stop or Shutdown

[2022-01-17 00:10] hibiken commented on #381
I see. I'm onboard with adding this field to `Config`.

Just to clarify, the proposed function's signature is:

[code]

The input to the `BaseContext` is the context that would normally be passed to Handler (in the absence of this `BaseContext` function provided by the user), is that correct? So in effect this `BaseContext` function works like a middleware where user gets an opportunity to decorat

[2022-01-17 04:20] hibiken commented on #379
Hi @zhaolion, I was doing a bit more research around this topic and I came across [this page](https://github.com/mperham/sidekiq/wiki/Ent-Periodic-Jobs#dynamic-jobs) on sidekiq's Wiki (Sidekiq is a popular background job processing library in Ruby, and Asynq was heavily inspired by sidekiq).

Suggested solution in the wiki applies to users of Asynq as well.
Basic idea is to store dynamic periodic

[2022-01-17 05:02] zhaolion commented on #379
Hi @hibiken , Thank you so much for your research ! 👏

After reading your solutions, this is a better practice to solve my problems. I would very much like to see some updates on this topic.

[2022-01-19 16:28] lucy9x opened #382 "[FEATURE REQUEST] Backed Support In Memory or Embedded Database"
Currently asynq only supports redis for backed. It would be great if asynq support in memory or embedded database like SQLite, BadgerDB, BoltDB... for backed

[2022-01-20 10:24] lucy9x opened #383 "[BUG] Wrong number of args calling Redis command From Lua script on Windows"
**Describe the bug**
UNKNOWN: redis eval error: ERR Error running script (call to f_6b2833bade2cce3e7bae2440c9187cd23e3ae042): @user_script:5: @user_script: 5: Wrong number of args calling Redis command From Lua script

**To Reproduce**
run code demo.go on windows

[code]
2. See Error ...
[code]

**Environment (please complete the following information):**
 - OS: Windows 10
 - Version of `asynq` p

[2022-01-20 13:08] hibiken commented on #383
@lucy9x Thank you for opening an issue!

Could you also check the version of Redis? Currently minimum supported version of redis is v4.x

[2022-01-20 14:08] lucy9x commented on #383
Hi @hibiken
Thanks for your comment. I realize I'm using redis version 3 :'(

[2022-01-21 01:44] zhaolion commented on #339
@hibiken The author of sidekiq have developed a new [repository](https://github.com/contribsys/faktory) that implements batch tasks, which may give you some ideas: https://github.com/contribsys/faktory/wiki/Ent-Batches

[2022-01-22 00:55] hibiken commented on #339
@zhaolion Thanks for pointing that out. But it seems like Sidekiq's (and Faktory's) "batch feature" is more like a workflow feature, which we are planning on implementing, and tracked as a separte issue #244 .

This feature request is slightly different: We want to aggregate (or group) of tasks into one before invoking the `Handler`.  The initial comment in this thread gives a good example :)

[2022-01-22 14:47] hibiken commented on #308
Check out `PeriodicTaskManager` type, which was added in v0.21.
You can store your periodic task configuration in a durable storage (e.g. file, database, etc) and write an implementation of `PeriodicTaskConfigProvider` which exports that configuration. This also supports dynamically adding/removing periodic tasks.

See [this wiki page](https://github.com/hibiken/asynq/wiki/Dynamic-Periodic-Task) f

[2022-01-22 14:47] #308 closed

[2022-01-22 14:49] hibiken commented on #379
FYI: Just released a new version v0.21 which includes `PeriodicTaskManager`, which allows you to dynamically add/remove periodic tasks. See [this wiki page](https://github.com/hibiken/asynq/wiki/Dynamic-Periodic-Task) for an example.

This is a new feature so any feedback is appreciated!

[2022-01-24 15:57] thejosk opened #385 "[QUESTION] Production ready ?"
Hi @hibiken,

First of all, thanks for this amazing library, excellent job.

We plan to use this library for background job processing for a new project in our company (>10 years in the industry). I know you've mentioned in https://github.com/hibiken/asynq#stability-and-compatibility that there could be breaking changes until a major version is released, I'm wondering if anything has changed and h

[2022-01-24 20:03] hibiken commented on #385
Hi @thejosk, thank you for posting this question!

I believe that README needs an update, since the library is quite stable at this point.
Breaking changes are rare at this point, and if we need to make such changes, we document thoroughly in the release notes and CHANGLOG. So as long as you use go.mod to specify the version number for asynq, it's unlikely to break your application.

Also, if we m

[2022-01-24 22:00] thejosk commented on #385
Awesome, thank you. Closing this for now.

[2022-01-24 22:00] #385 closed

[2022-01-26 06:44] dmskys opened #387 "How to implement delayed task queue"
I want the task to execute in seconds later. How to implement a delayed task queue?

[2022-01-26 20:55] hibiken commented on #387
Does this work for you?

[code]

[2022-01-27 01:53] dmskys commented on #387
yes thanks

[2022-01-27 01:53] #387 closed

[2022-01-27 06:40] duzhipeng opened #388 "[BUG] go get github.com/hibiken/asynq/tools/asynq error"
**Describe the bug**
go get github.com/hibiken/asynq/tools/asynq error

**To Reproduce**
Steps to reproduce the behavior (Code snippets if applicable):
1. `go get github.com/hibiken/asynq/tools/asynq` or `go get -u github.com/hibiken/asynq/tools/asynq` .
2. The error is shown in the figure below.
3. Installation failed.

**Expected behavior**
The installation is successful without error.

**Screen

[2022-01-27 14:07] hibiken commented on #388
@duzhipeng Thank you for reporting this. I confirmed the bug on my machine as well.

Let me look into this in the next few days. In the meantime, please work around this by building the CLI from the source 🙏

[2022-01-28 03:46] ryan961 opened #389 "Is it necessary for the `LREM` argument count = 0 ?"
....

In the case of a certain amount of data, it will cause a lot of slow queries, which will cause Redis CPU to explode, and this will enter a vicious cycle that can't be handled.
https://github.com/hibiken/asynq/blob/dff2e3a33639338c648599bf6ea83f835feec4bf/internal/rdb/rdb.go#L312
https://github.com/hibiken/asynq/blob/dff2e3a33639338c648599bf6ea83f835feec4bf/internal/rdb/rdb.go#L344
...

[2022-01-28 12:45] nkbai opened #390 "[BUG] Deadline of active task is invalid"
**Describe the bug**
 asynqapi/queues/default/active_tasks?page=1&size=20
returns:

[code]
I've the same problem with #286. and I'm sure that `(r *recoverer) recover() ` is called every miniute.

[code]
list deadline returns these ids ,but their deadline is invalid. so ` r.broker.ListDeadlineExceeded(deadline, r.queues...)` returns empty.

[2022-01-28 13:44] hibiken commented on #390
@nkbai thank you for reporting this issue!

Can you also provide the output of `redis-cli zrange asynq:default:deadlines 0 -1 withscores`?

[2022-01-28 13:57] hibiken commented on #389
@ryalu Thank you for reporting this issue!

These `LREM` operations are executed against the `asynq:{qname}:active` list which can only grow up to the number specified by `Config.Concurrency` so should be bounded to smallish number (e.g. ~100 or so).

But you made a good point, that this count may only need to be set to 1 since we only need to remove just one element from the list during normal op

[2022-01-29 01:47] nkbai commented on #390
redis-cli zrange asynq:{default}:deadlines 0 -1 withscores                                                 09:46:35
1) "2aa19466-a99f-4553-b552-f9b6232946f7"
2) "1643420787"

[2022-01-29 01:57] nkbai commented on #390
my default timeout is 1 minitue

[2022-01-29 17:56] hibiken commented on #390
I see. thank you for providing the info! It seems like the task IDs are in the active set but not in the deadline set?

Could you also describe the steps to reproduce this?

Also, could you paste the output of `HGETALL asynq:{default}:t:315f4ee3-98e2-4f11-8f95-5e816aa48a38`?

[2022-01-31 08:03] sersh88 commented on #380
I have the same problem. Did you solved it?

[2022-01-31 14:18] hibiken commented on #380
@sersh88 it's most likely that the version of redis is below v4.

[2022-01-31 17:08] #354 closed

[2022-02-01 07:49] sersh88 commented on #380
I have version 5.0.14 and looks like a bit another error:
`UNKNOWN: UNKNOWN: redis eval error: ERR Error running script (call to f_7574d838a4ddc18d626139a5521903c904f1404a): @user_script:30: user_script:30: attempt to perform arithmetic on local 'bytes' (a boolean value)`

Looks like this error may happen becouse of maxmemory setting on redis and `maxmemory-policy allkeys-lru`. Will try to setup a

[2022-02-01 09:33] AlexeyBelezeko opened #393 "[FEATURE REQUEST] Add message headers"
I'm struggling a bit with passing trace id with the task. Cause there is no way to get it inside middleware without unmarshaling the payload. This adds unnecessary dependencies to middleware code.

I suggest adding `map[string]string` with headers alongside with payload which lets users pass meta info alongside with payload.

P.S.: Big thank you for your work. Sorry if i missed something in the do

[2022-02-01 13:54] hibiken commented on #380
@sersh88 thank you for the update. Feel free to open a issue if that doesn't help 👍

[2022-02-01 14:43] hibiken commented on #388
This should be fixed now.

Please feel free to reopen the issue if you see an error when running

[code]

[2022-02-01 14:43] #388 closed

[2022-02-01 14:54] hibiken commented on #390
@nkbai Please let me know if you are still seeing the issue!

[2022-02-01 14:56] hibiken commented on #393
@AlexeyBelezeko Thank you for opening a feature request!

Is it possible to use [context values](https://pkg.go.dev/context#WithValue)?

[2022-02-01 14:57] hibiken commented on #382
Duplicate of #173

[2022-02-01 14:57] #382 closed

[2022-02-02 10:22] AlexeyBelezeko commented on #393
Unfortunately not. I inject trace_id and other meta info into context to use it inside Handlers but it didn't save me from exposing the inner structure of concrete handlers to middleware which I'm wanna avoid.

[2022-02-03 01:05] hibiken commented on #393
Hmm I see. Maybe similar to this feature request #326?

Could you give me a more concrete example of what you're trying to achieve? Code snippet would be very helpful here :)

[2022-02-03 19:28] aakashbajaj opened #395 "[FEATURE REQUEST] Distributed Scheduler"
**Is your feature request related to a problem? Please describe.**
RIght now, a dedicated scheduler needs to be running. If that instance/service goes down, there's no way of recovery (specifically in kubernetes pod)

**Describe the solution you'd like**
Multiple schedulers register themselves on redis and maintain a master copy of Scheduler Entries. So, that if one instance goes down, other can p

[2022-02-04 11:44] svedova commented on #334
Our use case is as follows:

- We receive the task and the worker processes it
- The worker creates a docker container foreach task
- When the worker server is restarted during the execution of the task, it's still able to recover the docker container and continue the task
- However, when the process finishes the task is not moved from Active state to Completed.

Here's a mock code:

[code]

Now t

[2022-02-04 12:55] AlexeyBelezeko commented on #393
In our project we run asynq server and client in two different processes. And to pass traceID i was forced to write middleware like this:
[code]
I suggest adding headers:
[code]
And this change will help to simplify middleware like this:
[code]

[2022-02-04 13:07] crossworth commented on #393
Would a partial unmarshal work here?
Since you dont need the others fields, just unmarshal on a struct with the fields that you need and are common to the tasks.

[code]

Or you could access the payload using another library for json handling like: https://github.com/tidwall/gjson

[2022-02-04 14:59] hibiken opened #396 "[QUESTION] Resuming tasks on worker restart"
Our use case is as follows:

- We receive the task and the worker processes it
- The worker creates a docker container foreach task
- When the worker server is restarted during the execution of the task, it's still able to recover the docker container and continue the task
- However, when the process finishes the task is not moved from Active state to Completed.

Here's a mock code:

[code]

Now t

[2022-02-04 15:01] hibiken commented on #396
@svedova Thank you for commenting with a question (I moved to a new issue since it's slightly different from the original issue).

Where are you getting this `staleTaskIds`? Is this a channel or a slice?

[2022-02-04 15:02] hibiken commented on #334
@svedova thanks for commenting, I moved the discussion to #396 👍

[2022-02-04 15:15] hibiken commented on #395
@aakashbajaj Thank you for opening an issue!

Can you run a multiple instances of `PeriodicTaskManager` ([see wiki here for more details](https://github.com/hibiken/asynq/wiki/Dynamic-Periodic-Task)) and store the periodic task configuration in a durable storage (e.g. Database, file in a distrubted filesystem, etc) and source that with `PeriodicTaskConfigProvider`?

To prevent these multiple insta

[2022-02-04 16:07] AlexeyBelezeko commented on #393
@crossworth thank you for your suggestion. But I also want to exclude this info from the payload to not affect uniqueness of the task.
For example, we have a few places in code which can add tasks to the same queue. Those tasks will have different trace ID and different payloads. To avoid duplications of work I have to use the TaskID. This will work perfectly with your solution. But I believe that

[2022-02-05 07:18] nkbai commented on #390
Sorry, this is caused by my misoperation. I set the retry times of this task to 1.

[2022-02-05 07:19] #390 closed

[2022-02-07 06:15] aakashbajaj commented on #395
Thanks @hibiken for the suggestion. I'll look into this.

[2022-02-07 21:03] svedova commented on #396
@hibiken so this is our use case at [Stormkit](https://www.stormkit.io):

1. We build and deploy users applications. Each time they hit deploy we create a deployment task.
2. Once the worker server receives the task, we store the task id in [badger](https://github.com/dgraph-io/badger). This keeps the task id in the filesystem. This task id is removed from the filesystem when the task is processed

[2022-02-08 02:50] hibiken commented on #396
@svedova Thanks for providing more detailed info.

You don't have to do this yourself, let the library handle this.

If a worker server crashed and left tasks in active state (i.e. stale/orphaned tasks), it'll be [recovered automatically](https://github.com/hibiken/asynq/blob/master/recoverer.go) by another server listening to the same queue (this *another server* could be a restarted process).

S

[2022-02-08 03:55] hibiken commented on #395
@aakashbajaj Closing this for now, but feel free to open this with a follow-up question or feedback 👍

[2022-02-08 03:55] #395 closed

[2022-02-08 22:17] svedova commented on #396
@hibiken thanks a lot for the answer! I guess I'll use it that way but it would be very nice to have the ability to pick it up immediately. Our timeout is 10 minutes and if the server crashes during the first minute the user will have to wait approximately 10 minutes for the task to be picked up. So I guess this becomes a feature request :)

[2022-02-09 03:08] hibiken commented on #396
Totally agree with your concern. I'm actively working this right now and it'll be part of the next version.
Please feel free to subscribe to #334, so that you'll be notified when that issue is closed.

Duplicate of #334.

[2022-02-09 03:08] #396 closed

[2022-02-09 03:12] hibiken commented on #393
Sorry for the delay in response here!

Let me think about this for a bit more since once a feature is added, it's hard to remove if we decide otherwise later.

[2022-02-16 02:42] xhochipe opened #398 "hope add Add the old and new entryids that get the entryID and re-register the function"
Add the old and new entryids that get the entryID and re-register the function

For example, if I manage these tasks in mysql and the task is registered, I can update the entryID in my data in time. If I change the cronSpec data in mysql and the task is registered again, I can get the entryID before registration and the new entryID. Then I can compare the entryID with the new entryID. Update the n

[2022-02-16 14:54] hibiken commented on #381
Closed via #386

[2022-02-16 14:54] #381 closed

[2022-02-17 13:55] hibiken commented on #398
@xhochipe Thank you for creating an issue!

Would you mind explaining the feature request in more detail? I'm not sure if I understand the request correctly.

[2022-02-19 14:15] #334 closed

[2022-02-20 05:47] lvsoso opened #401 "ERROR: Failed to extend lease for tasks"
[code]

https://github.com/hibiken/asynq/blob/cabf8d36273ced35d2df62cde4001b43ab7748bd/internal/rdb/rdb.go#L944

Redis version >= 6.2.0: Added the `GT` and `LT` options.

I encounter the error when using the redis  that it's version low than 6.2.0.

[2022-02-20 13:35] hibiken commented on #401
@lvsoso Thank you for creating this issue!

I missed the supported redis version when I was browsing the zadd documentation. Since `GT` is not strictly needed (although it'd be nice if we can add it to convey the intention to "extend" the lease), I'll remove that option for now. XX option should be sufficient in our case, since we check the expired lease before sending the ZADD command to redis.

[2022-02-20 14:20] #401 closed

[2022-02-20 14:43] hieunguyen1809 opened #403 "[BUG] Got panic when starting service"
Hi guys, today I found that my service suddenly panic with this error. I'm using asynq version 0.18.6, not sure how can I fix it.

[code]

[2022-02-22 17:00] hibiken commented on #403
@hieunguyen1809 Thank you for reporting an issue! (Sorry for the delay in response).

Could you provide the output from these commands? (Ideally no server is running while you run these commands)
(substitude the `<qname>` with your queue name)

[code]

The above command will give you the list of task IDs and use the IDs to run the following command (substitude <task_id> with the ID returned from t

[2022-02-23 01:23] xhochipe commented on #398
in func  PeriodicTaskManager:
Such as

1: I register task A in the database. After registration, a function should be provided to return the entryID of this task to the user.

2: Task A has been modified, and the entryID registered last time and the entryID registered after the new task has been registered now should be obtained.

[2022-02-23 10:09] carrymec opened #405 "[FEATURE REQUEST] I wan to know this data 'asynq:schedulers:{******} ' how to use"
What is the role of 'asynq:schedulers:{******} '
can i delete list in 'asynq:schedulers:{******}'?

[2022-02-23 13:42] hibiken commented on #398
Got it, thank you for explaining.

I think what we need is an ability for a user to provide a callback which gets invoked whenever Scheduler's entry changes.

My initial solution is add something like this to the `PeriodicTaskManagerOpts`:

[code]

Let me know if this makes sense! Any feedback is appreciated.

[2022-02-24 08:40] hieunguyen1809 commented on #403
I do not have access the prod redis directly but the server start normally after I upgrade to the latest version 0.21.0. Sorry, I'm busy these days so I forgot to reply.

[2022-02-24 08:41] hieunguyen1809 commented on #403
I do not have access the prod redis directly but the server start normally after I upgrade to the latest version 0.21.0. Sorry, I'm busy these days so I forgot to reply.

[2022-02-24 13:39] hibiken commented on #403
Got it. I'll close this for now since we can't reproduce.

[2022-02-24 13:39] #403 closed

[2022-02-24 13:45] hibiken commented on #405
We store information about running `Scheduler's` entries in redis for tooling.
In web UI, you can see these entries info in the "Schedulers" page.
In CLI, you can see it when you run `asynq cron ls` command.

Let me know if you have more questions.

[2022-02-24 13:45] #405 closed

[2022-02-28 09:12] xhochipe commented on #398
@hibiken yes ,tks,

[2022-03-01 00:14] hibiken commented on #369
Started a discussion at #409

[2022-03-05 13:25] erosiners opened #410 "Can the consumer group function be supported?"

[2022-03-05 15:53] ericdong2012 opened #411 "[BUG] always retry and report handler not found"
When I send multiple messages to the same type, I find that the message will directly enter the retry, and the error handler not found will be reported. What is the possible reason

![Snipaste_2022-03-05_23-47-49](https://user-images.githubusercontent.com/36787305/156890682-063650dd-378a-4681-8abf-ab2fab47d271.png)

[2022-03-06 04:04] hibiken commented on #410
@erosiners Thank you for opening an issue?

Could you provide more details? It'd be easier to understand if you could provide an example use case.

[2022-03-06 04:07] hibiken commented on #411
@ericdong2012 Thank you for opening an issue.

Looking at the error messages, it seems that you are running the Server to consume task from a queue, but handler for task with type `"command:server:192.168.19.128"` is not registered.

If you could provide a code snippet for your `Server` and `ServeMux`, I can provide more details 👍

[2022-03-06 08:34] ericdong2012 commented on #411
thanks for you reply, here are some codes:

[code]

// execCmd
[code]

[2022-03-06 09:03] ericdong2012 commented on #411
At present, I only use the default queue to realize different types through different IP addresses. Will there be any problems in this way, and should I design a queue with different IP addresses

[2022-03-06 10:16] erosiners commented on #410
For example, after a user has successfully registered, multiple consumers may send emails or text messages to users at the same time and add points to users when a message is published. Emails and text messages are independent services, and they all need to subscribe to receive messages before processing them. The current single-consumer model cannot complete the appeal function.
My English is not

[2022-03-06 14:22] hibiken commented on #411
@ericdong2012 thanks for providing more details!

Does the value of `localip` used in this line

[code]

match the value used for the string for task types?

---

If you the tasks have dynamic IP address in their task type, you can call the `HandleFunc` with just the prefix (since it does the prefix match to route task to a registered handler func).

[code]

[2022-03-06 14:31] hibiken commented on #410
@erosiners Thank you for providing more details!

Asynq does not support something like Kafka consumer group, so you need to use a different approach.

Using the example above, I can think of two approaches:

1. **Multiple messages approach**: Enqueue one task for sending email and enqueue another task for sending text message
2. **Single message approach**: Enqueue one task to send notifications

[2022-03-07 03:26] ericdong2012 commented on #411
Thanks for you reply .
After my test, I found that, as you initially said, I created a new client (consume) in push2mq in the server, but my design scenario is like this. The new server processes the messages of the upper client, parses the messages, processes other logic, and finally creates a new client(consume) and sends the results to the type specified by other servers. What I want to know is

[2022-03-07 07:10] hzylyq opened #414 "[QUESTION] how to delete a delay task"
[code]
how delete task

[2022-03-07 10:39] lvsoso commented on #414
use this API to delete or cancel ?

https://github.com/hibiken/asynq/blob/master/inspector.go#L508

[2022-03-07 10:40] lvsoso commented on #414
use this API to delete or cancel ?

https://github.com/hibiken/asynq/blob/master/inspector.go#L508

[2022-03-08 01:02] hibiken commented on #414
@hzylyq Thanks for opening an issue!

The API suggested by @lvsoso should do what you want 👍

Note: [`Inspector.DeleteTask`](https://pkg.go.dev/github.com/hibiken/asynq#Inspector.DeleteTask) applies to non-active tasks, if you need to cancel an active task, please use [`Inspector.CancelProcessing`](https://pkg.go.dev/github.com/hibiken/asynq#Inspector.CancelProcessing) instead.

[2022-03-08 01:02] #414 closed

[2022-03-08 04:03] hibiken commented on #411
@ericdong2012 are you still seeing the "handler not found" error?

If not, would you mind starting a discussion [here](https://github.com/hibiken/asynq/discussions/new) and close this issue?
Either way, I think I need a more detailed explanation (e.g. a diagram or high level overview of your use case) to understand the issue :)

[2022-03-14 05:22] #411 closed

[2022-03-14 09:06] micross opened #419 "how to chain a set of tasks to be executed one by one?"

[2022-03-15 02:45] hibiken commented on #419
@micross Thank you for the question!
I'm planning to work on [a feature ](https://github.com/hibiken/asynq/issues/244) which would enable user to define a chain of tasks and run it as a workflow. This feature is a large feature and I'm still in the design phase and most likely start working on it in a few months.

In the meantime, you'll have to use a different approach. A common way to deal with

[2022-03-17 02:15] mailbaoer opened #420 "[BUG] Can't cancel task"
**Describe the bug**
I have some tasks not set timeout, for a long time run, I found some tasks are always in running state, I tried to cancel them in web ui or cli, they can't be canceled, and the state changed to running after canceling

**To Reproduce**
Steps to reproduce the behavior (Code snippets if applicable):
sorry, I don't know how reproduce

**Expected behavior**
A clear and concise des

[2022-03-17 03:09] hibiken commented on #420
@mailbaoer Thank you for opening an issue!

Would you mind providing the version of asynq package you are using :)

[2022-03-17 08:44] mailbaoer commented on #420
I'm use 0.22.1 now, but this bug may exists before this version, I've see this in other versions, maybe 0.18 for my first time use asynq

[2022-03-17 12:50] hibiken commented on #420
I see.

We've made some improvements around orphaned task recovery in v0.22. If you are using latest version of Web UI (v0.6.0), you'll see the status of the tasks will show "Orphaned". This happens when a worker start working on a task but crashes before completing the processing.

If you run a server against the same queue, they'll be recovered automatically after some time period (i.e. after a

[2022-03-18 02:37] mailbaoer commented on #420
1. Yes, I started a worker service on my server only run tasks for background, but NewxxxTask run with another api service to add tasks
2. I've run this command,but does not see anything
![screenshot-20220318-103721](https://user-images.githubusercontent.com/5282978/158927018-6fffe5ba-3d3b-4f1f-b874-2f01d5659a73.png)

[2022-03-18 03:33] hibiken commented on #420
Ok, thanks for providing that info.

Would you mind running this command:

[code]

[2022-03-18 04:02] mailbaoer commented on #420
![image](https://user-images.githubusercontent.com/5282978/158934911-c7011ee4-b83d-4b6c-91d2-cecb6813b84f.png)
all the tasks stays in running for a lot of days, It's still running now, and I'm upgrade asynqmon to 0.6.1

![screenshot-20220318-120234](https://user-images.githubusercontent.com/5282978/158935252-716d1eb3-c2c8-4eec-9659-05f7d563a7be.png)

[2022-03-18 12:40] raynaudoe opened #421 "Multiple handlers for a specific task type ?"
Let's say that I have a task named `data:process` and the payload contains some raw json for example and I want that task to be distributed to 'several' handlers, the task should be processed by 'all' the handlers.
Something like:

[code]

is this possible ?
Thanks a lot

[2022-03-18 12:56] hibiken commented on #420
That's very strange. I thought you'd have entries in either `asynq:{default}:deadlines` (used by v0.21.x or below) or `asynq:{default}:lease` (used by v0.22.x). These zsets are used to recover orphaned tasks in case of worker crash, but the fact that there's no entries there seem something unexpected happened.
I'll keep this bug open to see if others have encountered similar issue and get more con

[2022-03-18 13:58] hibiken commented on #421
@raynaudoe thank you for the question!

Is this similar to this other question #410?

[2022-03-19 07:33] ajatprabha opened #422 "[FEATURE REQUEST] Possibility to configure retry strategy per task using Option API"
Is it currently possible to configure a task's retry mechanism from Option API? I see that we can specify MaxRetry, but can we also specify RetryBackoff strategy?

**Describe the solution you'd like**
[code]

**Describe alternatives you've considered**
I'm not sure how I can use `RetryDelayFunc` for this since it is passed on during initialisation and can't possibly have all the information with i

[2022-03-19 13:56] hibiken commented on #422
@ajatprabha Thanks for opening an issue!

You could include that metadata in your payload and provide you `RetryDelayFunc` to use that metadata, and fallback to use `DefaultRetryDelayFunc` if that metadata is not present?

[2022-03-19 15:15] ajatprabha commented on #422
The problem I see is, task type is dynamic in my use-case. So RetryDelayFunc might not be enough to calculate backoff for a task type that may come in future with a different retry logic requirement.

[2022-03-19 15:17] ajatprabha commented on #422
Ok, I'll try this out and get back if I face any issues with it.

[2022-03-19 19:46] raynaudoe commented on #421
Thanks @hibiken , yeah, something like consumers groups.
The difference with the example on that issue is that, initially, my handlers (dataProcessorA, dataProcessorB ...) they all handle the same type of task but each processor analyzes let's say some aspect of the payload. Then the 'final' result is the sumatory of all the handler's outputs.

I'm sure that I can achieve the above using kafka or

[2022-03-20 14:25] hibiken commented on #421
I see. It sounds like this use case may benefit from a workflow feature like this one (#244)? Essentially you'd create a multiple tasks to handle multiple stages in your workflow.

I'm planning to work on this laster half of this year so the feature is coming :)

[2022-03-21 02:44] mailbaoer commented on #420
Thank you very much for your patience in answering, if I encounter this problem again I will check to see if I can reproduce it

[2022-03-21 10:40] raynaudoe commented on #421
thanks! yeah, I really like the workflows idea! Looking forward to it :)

[2022-03-21 18:08] #421 closed

[2022-03-21 23:59] thejosk opened #423 "[QUESTION] Redis active active"
Problem: We have kubernetes clusters located in multiple data centres. To avoid single point of failure, each data centre will run multiple instances of the periodic task manager, and based on the retention/unique logic mentioned in (https://github.com/hibiken/asynq/discussions/376), only 1 job can be enqueued at a time. But my question is how will the data in redis be replicated in both the data

[2022-03-22 01:11] hibiken commented on #422
Closing this!

[2022-03-22 01:12] hibiken commented on #419
Closing this, Feel free to reopen if you have follow-up questions :)

[2022-03-22 01:12] #419 closed

[2022-03-22 01:12] hibiken commented on #410
Closing this, feel free to reopen this issue if you have follow-up questions :)

[2022-03-22 01:12] #410 closed

[2022-03-22 08:00] namhq1989 commented on #420
any update? I met this bug too. asynq v0.22.1, redis v5.0.7

[2022-03-22 12:58] hibiken commented on #420
@namhq1989 Thanks for the comment. We're waiting for a way to reproduce this.

For anyone experienced this bug, please provide the following:

- If possible, the steps to reproduce this bug.
- Asynq version
- Output of the following command (replace the `<qname>` with the queue name (e.g. `asynq:{default}:lease`):
    - (for asynq v0.22.x or above): `ZRANGE asynq:{<qname>}:lease 0 -1 WITHSCORES`

[2022-03-23 08:55] realmicro opened #425 "Can asynq server add Handler dynamically after server.Run()?"
Can Asynq server add Handler dynamically after server.Run()?

[2022-03-24 03:49] hibiken commented on #425
@realmicro Thank you for creating an issue!

Could you describe your use case in more details?

[2022-03-24 05:36] realmicro commented on #425
I wanner to create a distributed delay job center by Asynq.
But I think the job Handler is configurable, maybe can use Golang's Plugin feature, for writing job handler dynamically.

[2022-03-25 14:39] thejosk commented on #423
Thanks so much @hibiken for your response. I'll reach out if I have more questions. Closing this now. Thanks for your amazing work.

[2022-03-25 22:33] hibiken commented on #425
I'm not 100% sure if I understand your request, but if you want Server to pull tasks off queues that were created dynamically, I'm planning on adding support for that (See #250).

[2022-03-26 14:27] realmicro commented on #425
@hibiken Yes, #250 is my request.
I am looking forward to the release V1.0.

[2022-03-29 20:13] aukgit opened #427 "[BUG] Description of the bug"
**Describe the bug**
Overflow build issue for x86 platform

[code]

**To Reproduce**
Steps to reproduce the behavior (Code snippets if applicable):
1. Setup background : build on using docker

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
![image](https://user-images.githubusercontent.com/4561204/160698724-954d2fd6-2e78-4d11-9218-76bb8b4e68e

[2022-03-29 23:45] hibiken commented on #427
This bug was fixed via #426 today. The fix should be included in the next release :)

[2022-03-29 23:45] #427 closed

[2022-04-01 17:08] 1337-sys opened #428 "System Design Pattern | Messaging App"
Hi @hibiken,

First of all, thank you for writing lightest message queue in Go.

I'm writing a messaging app. When the QR is read, I start to process messages.  I will use asynq for processing history messages and normal message. I guess I have to create an asynq server for each number (instance)?

Message Handler Case:

- Number Instance -> PhoneNumber (Start asynq server when read qr)

- QR Read

[2022-04-02 21:22] hibiken commented on #428
@1337-sys thanks for opening an issue.

2000 queues sound too excessive. You'd probably better off limiting the number of queues to much lower number. You can put variety of task types in the same queue.

Use of redis cluster or sentinel is recommended for high availability and reliability (e.g. automatic failover), but comes with its own operational overhead.

Let me know if you have any follow u

[2022-04-02 22:33] 1337-sys commented on #428
Thank you so much for your reply :)

Currently there are 400 phones. There are 1 publisher and 800 consumers(history and normal per phone). I have no idea how to reduce consumer number. I guess I can also put history messages in the regular message queue, right? I can't think of any other ideas.

Is it possible for me to send messages from all phones from a single queue?  Will it be worse performa

[2022-04-03 17:19] zhuxubin01 opened #429 "[FEATURE REQUEST] sequential process for same task"
Is asynq support process same task sequential?

for example:

i send many tasks to Send Email Queue(task1 task2 task3 task4 task5), but task3 failed, i don't want to continue process task4 and

task5. The sequence must task1 task2 task3 task4 task5.
And when task3 failed, is it support me to modify the task content by ui , because if task3 is not finish, the following tasks ( task4 task5) will nev

[2022-04-03 23:02] hibiken commented on #429
@zhuxubin01 thank you for creating an issue!

Please take a look at #244. Once the workflow feature is landed, this use case should be supported :)

[2022-04-05 04:52] 1337-sys commented on #428
This link didn't help.
[XEP-0160: Best Practices for Handling Offline Messages](https://xmpp.org/extensions/xep-0160.html)

I'm still open to good ideas :)

[2022-04-05 12:34] sujit-baniya commented on #250
@hibiken Not sure if it's correct way of adding handler dynamically, this is working for me so far

[code]

[2022-04-07 05:47] StevenSevenHHHH opened #430 "scheduler fail"
I started a once-a-minute execution of the scheduler, the execution succeeded several times will occasionally fail, the failure rate is very high, failure when the asynq handler is not called, failure web ui prompt "handler not found for task", if really handler is not configured that every time should not be executed successfully, but this is an occasional failure, can not understand. I configure

[2022-04-07 05:47] StevenSevenHHHH commented on #430
![asynq-retry-queue](https://user-images.githubusercontent.com/102236880/162128990-c28dbf88-3b5b-439a-a268-2da8b521ac07.jpg)
![asynq-retry](https://user-images.githubusercontent.com/102236880/162129008-15164963-04e4-4605-a991-48e19158e98c.jpg)

[2022-04-07 06:27] StevenSevenHHHH commented on #430
The occasional failure case is that it actually just doesn't dispatch to my handler, it fails, and I debug the message at the handler entry and it doesn't output

[2022-04-07 07:05] StevenSevenHHHH commented on #430
I would like to ask, how is this number of failures counted? As long as the first dispatch fails even if the subsequent retries succeed, the number of failures will be added up?

[2022-04-07 07:57] StevenSevenHHHH commented on #430
I found the problem, it is my use of the error, I have enabled multiple workers locally connected to a redis, but these multiple workers are not the same registered handler, sometimes it will be dispatched to other unregistered workers will appear not found handler, sorry

[2022-04-07 07:57] #430 closed

[2022-04-07 22:26] rohitjha941 opened #431 "[Question] Will this work with AWS MemoryDB ?"

[2022-04-08 13:05] hibiken commented on #431
@rohitjha941 Thank you for the question!

Currently, we don't support other message brokers other than Redis. Related feature request #173
But given that AWS MemoryDB is Redis compatible this may be easier to add support for.

If you don't mind, would you mind sharing why you'd use AWS MemoryDB instead of Redis?

[2022-04-10 10:52] rohitjha941 commented on #431
I was thinking about using memory DB as it persists data during shutdown/failover and it is cheaper than running a managed Redis instance with failover.

[2022-04-11 01:03] hibiken commented on #431
Makes sense. I'll look into this when I work on #173

[2022-04-11 23:55] #339 closed

[2022-04-12 00:15] hibiken commented on #428
We have a feature request that allows server to listen to dynamic queue names #250, and it's in the roadmap of the project.
I'm considering adding support for prefix matching against queue names. So that you can configure server like this:

[code]

Is this something you are requesting?

[2022-04-13 09:19] NuVivo314 opened #434 "[BUG] go install don't work for tools asynq"
**Describe the bug**
the `go install` don't work after `v0.23.0`
**To Reproduce**
[code]

and is i force the version with @
[code]

**Expected behavior**

install `asynq` lastest version

**Environment (please complete the following information):**
 - OS: Linux / docker build
 - Version of `asynq` package latest(v0.23.0)

[2022-04-13 13:30] #434 closed

[2022-04-14 04:10] hibiken commented on #428
Closing this. Please feel free to post follow up questions if any :)

[2022-04-14 04:10] #428 closed

[2022-04-15 12:53] 1337-sys commented on #428
Yeah yeah, this is exactly what I want. I'm so glad. The 30k line project is counting days to move to this queue library. We'll pass on this feature when it done.

[2022-04-15 13:53] realmicro opened #435 "Can I get metadata from server context?"
When I Use `client.EnqueueContext`, the context with my metadata,
In Server, Can I get client metadata from `ProcessTask` 's context?

[2022-04-15 22:38] hibiken commented on #435
@realmicro thank you for the question!

The context you provide to `EnqueueContext` applies to the enqueue operation only (e.g. timeout/deadline for enqueue operation). If you need to provide metadata to Handler, use task payload instead.
If you have some static metadata you want to provide to handler via context, you may be able to leverage [`Config.BaseContext`](https://pkg.go.dev/github.com/hib

[2022-04-16 02:55] realmicro commented on #435
@hibiken OK, Thanks for your reply.
I have use task payload instead.

[2022-04-16 02:55] #435 closed

[2022-04-16 15:18] sujit-baniya commented on #250
@realmicro The full code for server.go

[code]

[2022-04-20 08:57] cspyb opened #436 "[BUG] Asynq don't work when use redis version >=6.2.4 with auth enable(redis with username/password)"
**Describe the bug**
Asynq don't work when use redis version >=6.2.4 with auth enable(redis with username/password)

**To Reproduce**
Steps to reproduce the behavior (Code snippets if applicable):
1. Setup redis-server with version 6.2.4
2. enable redis-server requirepass with username:"default", password: "password"
4. change "asynq_test.go" func: setup
    r = redis.NewClient(&redis.Options{

[2022-04-21 06:35] SQYY opened #437 "Added pipelining support to asynq"
Added pipelining support to asynq, making least changes on other classes. The idea is capturing all commands sent with pipeline, and replaying them for cluster redirecting.

[2022-04-21 07:20] jubel8180-cloudly opened #438 "asynq tools not installing"
after providing this command
go get -u github.com/hibiken/asynq/tools/asynq

show me this output
go get: installing executables with 'go get' in module mode is deprecated.
Use 'go install pkg@version' instead.

[2022-04-22 00:02] hibiken commented on #438
Thanks for opening an issue! Did you encounter any issues when installing the executable binary? Or is this more of a documentation bug?

[2022-04-22 00:11] hibiken commented on #436
@cspyb Thank you for reporting this!

Is this issue mostly around test failures? Or are you having issues connecting to a Redis server with auth enabled?

---
If it's the former, I tried reproducing this on my machine by doing the following:
1. Add the following line to redis.conf file `requirepass foobared`
2. Start a redis server with the redis.conf file; Confirmed that the auth is enabled by ru

[2022-04-22 05:38] cspyb commented on #438
I double check my testing env, it's my fault here.

[2022-04-22 13:02] hibiken commented on #438
@cspyb I'm guessing that your comment is meant for issue #436?

[2022-04-22 20:05] ghstahl opened #439 "[FEATURE REQUEST] programmatically signal the server to shutdown"
**Is your feature request related to a problem? Please describe.**
I am dynamically spinning up and shutting down servers based upon a config change.
i.e. my app can have many so-called asynq server, they are just go routines.    In my test I have 2 running in a single app.  I just can't get them to gracefully shutdown.  I want the go routine they live in to end because ```srv.Run()``` returned gr

[2022-04-23 00:00] ghstahl commented on #439
It's not a question of stopping and starting a server instance. I need to throw the whole thing away because it was configured to pull from a set of queues that are no longer valid.
As new configs come in, I can spin up new servers (go routines) that have a set of queues never seen before.

Once a server instance is started, I can't shut it down, meaning I can't get rid of the go routine that host

[2022-04-27 00:27] ghstahl commented on #250
Another approach, related to the following [request](https://github.com/hibiken/asynq/issues/439), is to dynamically shutdown the whole server and restart it.  The theory is that the server must be in a certain state and the simplest thing for me to do was shut it down and bring it back up with the new settings.

I have a forked version if [asynq](https://github.com/fluffy-bunny/asynq) that simply

[2022-04-28 12:49] hibiken commented on #105
@a5r0n thanks for the comment! It's a good point, we could add a HTTP/gRPC service that accepts requests and enqueues the tasks. That service can also be responsible for pushing the task to Handler services via HTTP/gRPC also :)
I think we can explore this as an extension to the library 👍 (i.e. implementation should live in either separate repo, or under `/x` directory)

[2022-04-28 13:18] hibiken commented on #439
@ghstahl Sorry for the late reply!

Are you calling `Server.Run` to start a server in your goroutine? If so, please use `Server.Start` instead.
As long as you have reference to that server in your goroutine, you can shutdown the specific server by calling `Shutdown` on the server.

Example:

[code]

[2022-04-28 21:15] ghstahl commented on #439
Yes, one could say I am calling Server.Run :man_facepalming:
Well, this is a relief, please excuse me while I go delete that fork of mine!

[2022-04-28 21:15] #439 closed

[2022-04-28 22:09] ghstahl opened #441 "[FEATURE REQUEST] maxArchiveSize and archivedExpirationInDays should be configurable at the server level"
## Configurable MaxArchiveSize and ArchivedExpirationInDays
There are some tasks I don't care if they eventually fail and would prefer, they just get thrown away.

In my application I spin up multiple asynq servers (hosted in a go routines).  Some I want to have failed tasks archived, other servers I don't care.  It's a house keeping thing to not write stuff to REDIS when nobody cares about them.

[2022-04-29 03:59] zuiwanting opened #442 "[BUG] rerr when use aliyun redis cluster"
aliyun redis cluster has limit in use lua script

err message as follow:

bad lua script for redis cluster, all the keys that the script uses should be passed using the KEYS array, and KEYS should not be in expression

the reference doc link may is :

https://help.aliyun.com/document_detail/145968.htm?spm=a2c4g.11186623.0.0.43c23732F5QAva#concept-2353537

[2022-04-29 22:27] hibiken commented on #155
@a5r0n thanks for the comment, I think that makes sense. `Client` can expose the health of the backend resource (Redis in our case). I've been meaning to revisit how we do health checks of Redis (Redis is a critical backend for both `Client` and `Server` instances and we should expose a API to check the health). Please feel free to open a new issue 👍

[2022-04-30 07:22] tonytony2020 opened #444 "[FEATURE REQUEST] list all available states in cmd tool help info"
it not easy to remember all available state values

    active     pending    aggregating  scheduled  retry      archived   completed

if I make a small change  https://github.com/hibiken/asynq/blob/master/tools/asynq/cmd/task.go#L22
from

    taskListCmd.Flags().StringP("state", "s", "", "state of the tasks to inspect")
    ....

to

    allStates := strings.Join([]string{
        Somewhere.Const

[2022-04-30 14:37] hibiken commented on #444
@tonytony2020 Thank you for the feedback!

I'm actually currently working on improving the help command output for the CLI (https://github.com/hibiken/asynq/tree/enhance/cli). Feel free to create a PR for that branch :)

[2022-04-30 22:45] a5r0n opened #445 "[FEATURE REQUEST] expose backend Health in client & server"
**Is your feature request related to a problem? Please describe.**
to manage app lifecycle, we need to know when to restart some services

**Describe the solution you'd like**
exposing backend services health (like the Redis connection) should do the trick

@hibiken do u accept PR for this?
Any thoughts how to implement?
NB, i quite new in go, so i need some guidance

[2022-05-01 19:03] strobus opened #446 "[FEATURE REQUEST] Expose asynq context to facilitate client testing"
**Is your feature request related to a problem? Please describe.**
I'm writing a system where I need careful tracking of tasks and their corresponding business objects, with the ability to query them. So I'm putting the task ID and other data in a database. My code naturally uses the `asynq.GetTaskID(ctx)` function to get the task ID. The issue I'm having is trying to write tests for this code. I

[2022-05-02 13:42] hibiken commented on #446
@strobus Thanks for opening this issue!
I think it makes sense to create a test utility package under `/x/asynqtest`.
PR is welcome!

[2022-05-04 12:30] SergeyNSW opened #447 "[FEATURE REQUEST] Expose an option to change standard cron parser for a scheduler"
**Is your feature request related to a problem? Please describe.**
I'd like to have an ability to run a job every N seconds, the cron package used behind the scene allows to have extended (with seconds) or custom schedule parser, but the async uses default one.
**Describe the solution you'd like**
Is it possible to extend the asynq.SchedulerOpts so that it would accept custom cron.ScheduleParser a

[2022-05-05 12:25] gustavosbarreto opened #449 "[BUG] Scheduler flooding log messages"
**Describe the bug**

Scheduler starts flooding log messages when enqueuing a duplicated task.

The following log entry are displayed multiple times:

[code]

EDIT: Also it is not possible to set a nil logger because it is overridden by the default chatty logger:

[code]

**To Reproduce**

1. Setup a periodic task
2. Scale your service up to 2+ instances
3. See log messages

**Expected behavior**

[2022-05-06 04:30] chenlujjj opened #450 "[FEATURE REQUEST] choose EVAL for `func (r *RDB) runScript`"
**Is your feature request related to a problem? Please describe.**
I am using this awesome lib in my work, however when I released my application to production, I found that the evalsha is forbidden in my company.

**Describe the solution you'd like**
Maybe we can choose to use `eval` or `evalsha` in `func (r *RDB) runScript` and `func (r *RDB) runScriptWithErrorCode`.
It can be a bool parameter i

[2022-05-06 06:58] chenlujjj commented on #450
It turns out that some script calls `func (r *RDB) runScript` or `func (r *RDB) runScriptWithErrorCode` mentioned above, others call `func (s *Script) Run` directly, such as `res, err := dequeueCmd.Run(context.Background(), r.client, keys, argv...).Result()` in `rdb.go`.

[2022-05-06 06:59] chenlujjj commented on #450
So there woule be more work than just modifying `func (r *RDB) runScript` and  `func (r *RDB) runScriptWithErrorCode`

[2022-05-06 07:13] chenlujjj commented on #450
I have fored a repo: https://github.com/chenlujjj/asynq/tree/eval-script, and replaced all `Run` to `Eval`. It's just a quick and dirty update for my usage and should not be merged into main branch.

[2022-05-06 23:18] #444 closed

[2022-05-06 23:50] hibiken commented on #436
Closing (see https://github.com/hibiken/asynq/issues/438#issuecomment-1106029742)

[2022-05-06 23:50] #436 closed

[2022-05-06 23:55] #438 closed

[2022-05-07 01:18] anupriya17 opened #453 "Test goleak is outdated VerifyNoLeaks -> VerifyNone"
The goleak made changes while ago and it was not updated in asynq test cases

https://github.com/hibiken/asynq/blob/245d4fe66370611e552d1fe6f17982c849edac97/server_test.go#L23

Please check the readme
[VerifyNone](https://github.com/uber-go/goleak#quick-start)

[2022-05-07 22:41] hibiken commented on #453
@anupriya17 Thank you for pointing this out! Looks like we are still using goleak v0.10.0. We should update to the latest release and update to the newer API as suggested.

[2022-05-08 01:15] MohabMohamed commented on #453
I would love to work on this issue.
@hibiken can you please assign it to me?

[2022-05-08 13:13] MohabMohamed commented on #453
Done in #454 , @hibiken  please review.

[2022-05-08 17:17] hibiken commented on #453
Thank you @MohabMohamed  and @anupriya17 🎉

[2022-05-08 17:17] #453 closed

[2022-05-08 18:08] ChihSeanHsu opened #456 "[FEATURE REQUEST] Is there any way to do some specific action before periodic task enqueue?"
**Is your feature request related to a problem? Please describe.**
As title, I'm wondering is there any option or handler before periodic task enqueue?

**Describe the solution you'd like**
Maybe, we can solve this case just like [error-handling](https://github.com/hibiken/asynq/wiki/Periodic-Tasks#error-handling)

**Additional context**
IMO, we can implement this function in Enqueue part, not onl

[2022-05-09 03:22] hibiken commented on #456
@ChihSeanHsu thank you for creating a feature request.

What kind of action do you need to perform before enqueueing a task? I want to understand the motivation.

[2022-05-09 04:21] ChihSeanHsu commented on #456
@hibiken Thanks for your prompt response.
We want to have a metrics to monitor the periodic enqueue count or some other actions (Currently, I have no another idea).
Although, we can just make this metrics by processing task part, but I just wonder is there any pre-action way not post-action.

[2022-05-09 08:56] yxlimo commented on #105
i am planning to write a protoc-plugin so i can reuse grpc client interface to enqueue tasks.

please let me know if u have similar idea.  may be i can do some contribution and avoid doing things repeatedly.

[2022-05-09 13:32] Antoine-Sevec opened #458 "Question: Is it possible to use a client written in typescript ?"
Hello :)

I wanted to say thank you for your work on Async, it's a great project :)

We want to use our typescript language to be able to send our requests to Asynq, but we did not see in the doc that this was possible. Do you think this is achievable?

Thank you for your reply

[2022-05-10 03:06] yxlimo opened #459 "[FEATURE REQUEST] Periodic Tasks support customize cron logger"
i want to customize cron logger to get more info, but i can't do it with scheduler
[code]

maybe we can add an option for schedulerOpts like
[code]

or just use asynq logger wrapper, seems little strange, and it need to do many things to handle edge case.
[code]

WDYT?

[2022-05-10 12:50] hibiken commented on #459
@yxlimo Thank you for opening an issue!
What kind of logs do you need?

[2022-05-10 12:59] hibiken commented on #449
@gustavosbarreto Thank you for the feedback!

I see, since we do provide `EnqueueErrorHandler`, we probably should probably lower the log-level (or potentially remove it entirely). I'll work on this one soon 👍

[2022-05-10 13:05] hibiken commented on #445
@a5r0n Thank you for opening this issue!

I want to do a bit more research around how we should do health checking / export health status, etc.
I'll get back to you soon 👍

[2022-05-10 13:06] hibiken commented on #442
@zuiwanting Thank you for opening an issue (sorry for the delay in response).

Is this redis-cluster implementation different from the Open-Source version?

[2022-05-10 13:13] hibiken commented on #450
@chenlujjj thank you for opening an issue!
Do you think you can keep using your fork?

[2022-05-10 13:17] chenlujjj commented on #450
yes, it works now.

[2022-05-10 13:18] #450 closed

[2022-05-10 14:49] ghstahl commented on #441
The handlers in the design have no knowledge of the context in which they are used.  For a particular server, returning errors is just fine and it's fine to flow into the archive.    For another server, with the handlers behaving the same way, we want the archive excluded.

The issue that popped out to me going down the sentinel error path is that normal errors emitted from the handler are fine as

[2022-05-10 15:05] ChihSeanHsu commented on #456
@hibiken Great.
Thanks for your help!
What will the road map be about this small feature?
Or can I just submit a PR about it?

[2022-05-10 23:11] hibiken commented on #456
@ChihSeanHsu Feel free to open a PR if you have bandwidth to work on it. Thanks :)

[2022-05-11 03:29] yxlimo commented on #459
thank you for reply，i need logs like this
- every time cronjob started
- enqueue task success or failed

[2022-05-12 09:35] paveljanda commented on #420
Hi, we never had this problem as we never used asynq before. BUT if anyone could describe how to reproduce this bug and it gets fixed/solved, it would help us choosing the right distributed task queue for our projects. Currently choosing from ~5 contestants.

Thanks a lot to everyone!

[2022-05-12 16:33] hibiken commented on #459
You can do this within your `Handler` code. If it's shared between multiple task types, I'd recommend using `MiddlewareFunc` to have that applied to multiple tasks. See [this wiki page](https://github.com/hibiken/asynq/wiki/Handler-Deep-Dive#using-middleware) for examples.

Currently, you can provide ]`SchedulerOpts.EnqueueErrorHandler`](https://pkg.go.dev/github.com/hibiken/asynq#SchedulerOpts.En

[2022-05-13 03:58] linhbkhn95 opened #463 "[FEATURE REQUEST] Support compress task payload"
**Is your feature request related to a problem? Please describe.**
- Currently, I use some data as a task `asynq`, but it's payload size is big. So, I think whether `asynq` should support compress task payload when marshal task to save to redis.

**Describe the solution you'd like**
- use `gzip`... to compress task before storing to redis

**Describe alternatives you've considered**
No
**Additiona

[2022-05-15 13:26] jack-evans opened #466 "[FEATURE REQUEST] support getting state of task"
**Is your feature request related to a problem? Please describe.**

It may be possible that on API call I enqueue a task and return a 202, but I want to provide an API that would then allow to retrieve the state of task, I.e has it been completed, is it still in progress etc

**Describe the solution you'd like**

The client can get a task that has been enqueued and give the state of progress.

**D

[2022-05-15 14:40] hibiken commented on #463
@linhbkhn95 Thank you for creating an issue!

In general, we recommend that you keep the memory footprint of each task small (e.g. payload contains IDs to various data).
Is it possible to store the data elsewhere and refer to it via IDs?

[2022-05-15 14:43] hibiken commented on #466
@jack-evans Thank you for creating an issue!

The package provide [`Inspector`](https://pkg.go.dev/github.com/hibiken/asynq#Inspector) type which allows you to query various information from the queue, including `TaskInfo`.
Calling `Inspector.GetTaskInfo` and inspecting `TaskInfo.State` should give you the current state of the task in question :)

LMK if you have questions!

[2022-05-15 15:55] jack-evans commented on #466
Ahh was reading the client api doc rather than the inspector 🤦 thanks!

[2022-05-15 20:40] #466 closed

[2022-05-16 02:50] linhbkhn95 commented on #463
yeah, I think so. Currently, I still choose a solution like your choice.
many thanks.

[2022-05-16 02:50] linhbkhn95 commented on #463
So I will close this issue

[2022-05-16 02:50] #463 closed

[2022-05-17 03:31] linhbkhn95 opened #468 "[FEATURE REQUEST] Expose taskID when occurring Duplicated Error"
**Is your feature request related to a problem? Please describe.**
- Currently, `asynq` only common error `Duplicated TaskID` when the created task is duplicated. So, If we use uniqueID via generating like `blockNumber` then we difficult to detect taskID which is duplicate.

**Describe the solution you'd like**
Currently,` asynq` uses error const as like below
[code]
I think we can use error struc

[2022-05-17 12:28] netor opened #471 "[BUG] Handler.ProcessTask return SkipRetry disabled"
**Describe the bug**
Handler.ProcessTask return SkipRetry, but task retry again.

**To Reproduce**
Steps to reproduce the behavior (Code snippets if applicable):
1. Setup background processing ...
2. Enqueue tasks ...
3. See Error ...

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

[2022-05-17 12:32] #471 closed

[2022-05-17 14:49] AlexCuse opened #472 "[FEATURE REQUEST] Self-Managed Retries"
**Is your feature request related to a problem? Please describe.**
I would like to be able to leverage "processor managed" retries for specific tasks running through an asynq server.

**Describe the solution you'd like**
I will have a PR shortly for a `SelfManagedRetry` option that will override Retry/Retried logic to retry a task indefinitely (from asynq's perspective) allowing the processor to t

[2022-05-18 03:36] hibiken commented on #472
@AlexCuse Thank you for creating an issue.

Have you taken a look at [`Config.IsFailure`](https://pkg.go.dev/github.com/hibiken/asynq#Config.IsFailure)?
You can provide this function to determine whether the error returned from the `Handler` should be considered a failure. Non-failure error won't consume the retry count; You can leverage this feature to try task indefinitely if you so choose.

See

[2022-05-18 03:38] hibiken commented on #468
@linhbkhn95 thank you for creating an issue.

If you are getting `ErrTaskIDConflict` error, you are providing a custom ID using `TaskID` option. IMO it's redundant to include the ID in the error message, since user just called `Enqueue` with the ID.

[2022-05-18 03:38] #468 closed

[2022-05-18 03:48] linhbkhn95 commented on #468
I think, almost case is duplicated ID from using a custom ID, So wrapping the ID into an error will provide insight to the user. Moreover, If users don't use a custom ID, sometimes, they use an ID generated for tracing. So, display ID duplicated is useful.

[2022-05-18 10:00] AlexCuse commented on #472
I have looked at it @hibiken - the problem with most of what is there is that its not task type specific.  We have a subset of critical tasks that are "chained" so to speak and we really only want to change the behavior for those tasks - the idea is to retry up to an expiration that is encoded in the task payloads, and once the expiration is hit to move the task into a cancellation queue where pro

[2022-05-18 17:23] hibiken commented on #472
Can you define your own error type and include task type?

e.g.

[code]

[2022-05-18 18:49] gedw99 commented on #437
I am also curious about this and what the author has in mind

[2022-05-18 18:53] gedw99 commented on #244
Temporal does dehydration of a failed workflow . That means whatever part of a workflow fails , it can pickup where it left off.

Async does not have this feature , but let me know if I am incorrect. But I think all async needs to do is let you know it failed and for your own data layer to be idempotent so that repeats of parts of the workflow are fine anyway .

[2022-05-18 19:45] AlexCuse commented on #472
We could I'm not sure how attractive it is as the number of registered processors in the system grows though.  Will think a bit about how far this could get us.

[2022-05-18 22:44] hibiken commented on #472
I believe the options we offer now (`MaxRetry` option and `IsFailure` callback) are generic enough to accommodate most use cases. I don't see adding a new option to further customize retry logic.

[2022-05-18 22:44] #472 closed

[2022-05-19 10:02] aon108 commented on #244
Yes agreed with the above. My approach to this has been to persist a state machine in PG and then have each async task check the state and execute the next corresponding task in workflow. if the entire queue fails the workflow is consider failed. first thing the asynq server checks on startup is if the queue is empty and there are workflows that are not complete then schedules the correct tasks to

[2022-05-19 10:06] AlexCuse commented on #472
Thanks for the quick response @hibiken i disagree but we will be able to muddle through with what's there for awhile.  I have already changed the code and will probably open the PR anyway once I've tested it in a running system in case you change your mind, seems like a pretty simple change.

[2022-05-19 11:40] gedw99 commented on #244
Ok that makes sense , and nice and simple - I like simple.

In a workflow the retry then does not happen and you do that on purpose to avoid the side effects that could occur ?

[2022-05-19 12:34] aon108 commented on #244
If i understand you correctly you mean that the entire worfklow does not get rerun from start on a failure and recovery.

If so then yes to avoid side effects. In my particular use case some of the workflow steps are quite computational intense and take time. so rather than waste resources by doing the work again even if it is idempotent I chose to skip and just continue from the latest step.

[2022-05-22 01:18] aadog commented on #437
Add redis stream support

[2022-05-22 01:19] aadog opened #475 "[FEATURE REQUEST] Add redis stream support"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-05-22 07:32] ChihSeanHsu commented on #456
Hi @hibiken
Here is the [PR](https://github.com/hibiken/asynq/pull/476), and feel free to review it thanks.

[2022-05-25 01:16] zhuxubin01 opened #478 "[FEATURE REQUEST] does it suport multi comsumers like kafka"
For example

  I send a task to a queue, and I have multi micro service want to consume it and excute logic themself

[2022-05-27 17:19] hibiken commented on #478
@zhuxubin01 Thank you for asking a question!

Currently Asynq doesn't have a feature like consumer group in Kafka. Please see my comment here (https://github.com/hibiken/asynq/issues/410#issuecomment-1059973170) from a similar issue.

Let me know if you have any follow up questions!

[2022-05-27 17:50] hibiken commented on #456
Closed via #476. This feature will be included in the next release. Thank you @ChihSeanHsu !

[2022-05-27 17:50] #456 closed

[2022-05-30 10:20] Danny5487401 commented on #442
@hibiken

99
asynq: pid=1 2022/05/30 10:17:33.903905 ERROR: cannot subscribe to cancelation channel: UNKNOWN: redis pubsub receive error: NOAUTH Authentication required.
98
asynq: pid=1 2022/05/30 10:17:34.563563 ERROR: Dequeue error: UNKNOWN: redis eval error: NOAUTH Authentication required.
97
asynq: pid=1 2022/05/30 10:17:35.206550 ERROR: Failed to forward scheduled tasks: INTERNAL_ERROR: INTER

[2022-06-02 02:48] ChnMig opened #480 "[BUG] redis WARN: CROSSSLOT"
**Describe the bug**
When I set redis to cluster mode and connect using `asynq.RedisClusterClientOpt`, `asynq` reports frequent errors:`WARN: recoverer: could not move task to archive: INTERNAL_ERROR: redis eval error: CROSSSLOT Keys in request don't hash to the same slot`

**To Reproduce**
When he starts, it will definitely reappear

**Environment (please complete the following information):**
 -

[2022-06-03 03:08] tannerallison-drizly opened #483 "[FEATURE REQUEST] Enqueue multiple tasks at once, in an all-or-nothing fashion"
I have a situation where I would like to enqueue a group of tasks and I want to ensure that they all get placed in the queue or none of them are enqueued. In other words, I don't want to run into a situation where half of the tasks are enqueued and then the next enqueue call returns an error. I'm not concerned with the actual handling of the task at this point, only that all of the tasks are succe

[2022-06-03 12:29] hibiken commented on #480
@ChnMig Thank you for reporting an issue.
Based on the error message you provided, it seems that error is returned from this call to `Archive` (https://github.com/hibiken/asynq/blob/6c954c87bf8c1aaca55ab824b47125d2359eea91/recoverer.go#L123-L125).

If you look at the implementation of the `Archive`, it should all have the same hash tag of `{qname}` https://github.com/hibiken/asynq/blob/6c954c87bf8

[2022-06-03 20:33] lovgrandma commented on #483
You would have to generate ids for each job and loop through the jobs you want to create, provison them as a task. Return a boolean from the function and add all of those to another loop. Then check if every value in that loop is true, if not then just loop through your job ids again and remove them from redis. You could do this very quickly.

[2022-06-04 19:00] hibiken commented on #447
Upon looking, it seems like spec like `"@every 30s"` works without a custom schedule parser. Does that work for you?

[2022-06-04 19:48] #449 closed

[2022-06-04 19:51] hibiken commented on #459
Closing this since it can be achieved using pre and post enqueue callbacks added in #476

[2022-06-04 19:51] #459 closed

[2022-06-04 20:06] #478 closed

[2022-06-04 20:07] hibiken commented on #475
Could you explain the motivation behind this feature request? Example use case would be very helpful to understand the motivation.

[2022-06-06 15:14] SergeyNSW commented on #447
yes, it works for me, thanks

[2022-06-06 22:56] #447 closed

[2022-06-07 02:57] ChnMig commented on #480
@hibiken Ok, I have changed to standalone redis for now, but I will try it in my free time, I will close this issues first, when I have conclusion, I will let you know here, thanks for your help

[2022-06-07 02:58] #480 closed

[2022-06-12 04:39] mahdimehrabi opened #487 "How to implement custom panic recovery"
Hi , this package able to **Automatic recovery of tasks in the event of a worker crash** and that's ok but I want to implement custom panic recovery to store panic and error logs in my sentry account.
are we able to set custom logger for asynq or are we able to implement our custom recovery for asynq or asynq have a custom hook when panic happens or ...

[2022-06-12 12:05] 54huige commented on #430
@StevenSevenHHHH 我有一个同样的问题，我这边注册了多个监听worker。会出现调度不到的情况，但是我确实需要不同监听消费者处理不同的路由，但是现在调度程序就没有区分多个Servers下不同的Type名称，导致提示“handler not found for task” 。
这种情况如何解决，有办法通过不同的队列名称去解决吗？还是有什么更好的办法，求指导

[2022-06-13 04:44] xuyang2 opened #488 "[FEATURE REQUEST] `RDB` and `Inspector` support Go contexts"
**Is your feature request related to a problem? Please describe.**
Is it acceptable to add `ctx context.Context` parameter to `RDB` and `Inspector` methods, for deadline and cancellation.

**Describe the solution you'd like**

[code]

[code]

I can make a PR if this is acceptable.

[2022-06-15 19:57] jt-voyager opened #492 "[BUG] Archived tasks prevent new tasks being queued when using TaskID"
**Describe the bug**
If we have a task that has a TaskID, and it exhausts it's retry count, you cannot queue that task up again as it's considered a duplicate.

**To Reproduce**
1. Enqueue a task with a TaskID
2. Let it exhaust it's retry count
3. Observe it in the archived state
4. Try and enqueue another task with same TaskID
5. Observe it be rejected

**Expected behavior**
If a task is in the a

[2022-06-18 13:58] zerozh opened #493 "[FEATURE REQUEST] Multiple queues with different workers"
**Is your feature request related to a problem? Please describe.**
As the document described, the `queue` concept in asynq is actually `priority`. All tasks in different queues share the workers specified in Config.

**Describe the solution you'd like**
With my scenario, I want the queue to be namespace, or a group of tasks. For example, I have different types of tasks(`order`/`sms`/`mail` etc) an

[2022-06-18 19:56] hibiken commented on #488
@xuyang2 Yes I think it makes sense to support context for all inspector operations. Please feel free to create a PR!

[2022-06-19 22:08] hibiken commented on #492
@jt-voyager Thank you for creating an issue.
This is WAI (working as intended).
If you really need to enqueue another task with the same TaskID, then I suggest using [`Inspector.DeleteTask`](https://pkg.go.dev/github.com/hibiken/asynq#Inspector.DeleteTask) to ensure that the old task with the same ID is deleted.

[2022-06-19 22:08] #492 closed

[2022-06-19 22:27] hibiken commented on #493
@zerozh Thank you for creating this issue! I'll consider adding an option to limit the concurrency for each queue.

In the meantime, we could use the approach you suggested with a single executable:
You could create a `asynq.Server` object for each queue with the desired concurrency and start all servers in one main.
Note: API is a little awkward (maybe we should consider moving `Handler` to be a

[2022-06-20 13:49] hieunguyen1809 opened #495 "[BUG] Task stuck at active state"
**Describe the bug**
Many tasks are stuck at running state and I cannot cancel or delete them. Also I realize that "Next Process Time" info always change to current timestamp when I reload the page (using asynmon)

**To Reproduce**
Steps to reproduce the behavior (Code snippets if applicable):
Cannot reproduce but I ensure that workers are not crash when processing. It happen when I run many tasks

[2022-06-20 22:58] hibiken commented on #495
@hieunguyen1809 Thank  you for opening this issue.

Would you mind answering the questions asked in [this commen](https://github.com/hibiken/asynq/issues/420#issuecomment-1075146735)t?

[2022-06-21 00:20] zerozh commented on #493
@hibiken Thanks for the code snippet! That's super helpful.

[2022-06-21 08:28] Goxiaoy opened #497 "[FEATURE REQUEST] Task header ability"
**Is your feature request related to a problem? Please describe.**
https://github.com/hibiken/asynq/issues/321
**Describe the solution you'd like**

Provider new asynq.Option to set custom header like `http.header` or `map[string]string`
Or like
[code]
This is helpful for tracing

[code]

**Additional context**
See
https://github.com/Shopify/sarama/blob/7a92423e79f75314489f9694be4013aaf5fd3593/rec

[2022-06-21 08:37] Goxiaoy commented on #321
Blocked by #497

[code]

[2022-06-22 00:13] jaekook-neonesia opened #498 "[BUG] Cli tool can't show dashboard."
**Describe the bug**
Cli tool can't show a dashboard when the password was required.

**To Reproduce**
Steps to reproduce the behavior (Code snippets if applicable):
1. ./asynq dash -p *******

2. Result
=== Queues ===
active=▇ pending=▇ aggregating=▇ scheduled=▇ retry=▇ archived=▇ completed=▇
Queue     State     Size     Latency     MemoryUsage     Processed     Failed     ErrorRate

NOAUTH Authe

[2022-06-22 01:24] jaekook-neonesia opened #499 "[BUG] Cli tool Server list is not working with K8S hostname"
**Describe the bug**
When I use asynq at K8S pod, Cli tool can't showing server list

**To Reproduce**
Steps to reproduce the behavior (Code snippets if applicable):
1. ./asynq server list
Using config file: /home/xxxxx/.asynq.yaml
No running servers

2. ❯ redis-cli -a *****************
Warning: Using a password with '-a' or '-u' option on the command line interface may not be safe.
127.0.0.1:6379

[2022-06-22 11:13] sujit-baniya opened #501 "[QUESTION] - Looking for some suggestions on data aggregation"
### Discussed in https://github.com/hibiken/asynq/discussions/500

<div type='discussions-op-text'>

<sup>Originally posted by **sujit-baniya** June 22, 2022</sup>
Hello,
I've been trying to implement Workflow using this library.

https://github.com/sujit-baniya/asynq/blob/master/flow.go

For the purpose, I've implemented flow and this example works for simple Edge and Node implementation

https:/

[2022-06-23 03:57] #498 closed

[2022-06-23 09:53] puyongcl opened #503 "[BUG] discarding bad PubSub connection read i/o timeout"
when i import github.com/go-redis/redis/v8 v8.11.6-0.20220405070650-99c79f7041fc
 a error keeps appearing: pubsub.go 159: discarding bad PubSub connection read i/o timeout
at github.com/hibiken/asynq v0.23.0

[2022-06-23 17:59] jaekook-neonesia commented on #503
I have same issue.

[2022-06-23 18:45] jaekook-neonesia commented on #503
Related to this issue?

Closing pubsub gracefully with cancellation context will log discarding connection
https://github.com/go-redis/redis/issues/2117

[2022-06-24 05:23] puyongcl commented on #503
my error was occured when server start, and keep every few second.I update go-redis to v8.11.5, it disappered.

[2022-06-26 19:42] hibiken commented on #503
@puyongcl thank you for reporting! It sounds like an issue with the dependency. If anyone is encountering this issue, please upgrade to the latest version of go-redis and see if fixes the issue.

[2022-06-26 19:42] #503 closed

[2022-06-26 19:42] hibiken commented on #501
Duplicate of #500

[2022-06-26 19:42] #501 closed

[2022-06-26 19:44] hibiken commented on #495
Duplicate of #420

@hieunguyen1809 if you are still having this issue, please see the comment above!

[2022-06-26 19:44] #495 closed

[2022-06-26 19:45] #493 closed

[2022-06-26 19:45] #475 closed

[2022-06-26 19:45] #458 closed

[2022-06-26 19:48] hibiken commented on #497
Duplicate of #393

[2022-06-26 19:48] #497 closed

[2022-06-26 19:50] #389 closed

[2022-06-27 14:01] xylomo commented on #493
@hibiken was this actually complete or is expected to use the multiple server approach?

[2022-06-30 03:33] yousifh commented on #487
An alternative suggestion in case there is hesitation in adding a recover func handler.

The code in `perform` currently recovers from the panic and returns a generic error. Could it for example wrap a custom error `ErrTaskPanicked` so it might look something like this
[code]

And then apps can just change their own `ErrorHandler` to add an if condition for the new error type
[code]

[2022-07-01 04:38] yousifh opened #506 "[FEATURE REQUEST] Ability to control/speed up sleep when processing empty queue"
**Is your feature request related to a problem? Please describe.**
I have been benchmarking this library and measuring the latency of time to execution. The time between when a task is enqueued and when it gets picked up by a worker. I'm using the following parameters
- 7 workers processes
- 32 concurrency per worker
- Enqueuing 40k tasks/min
- Workers combined have ability to process 45k tasks/mi

[2022-07-01 07:18] syangragh opened #507 "[FEATURE REQUEST] Add ChangeMessageVisibility API"
**Need a message-base executing exactly once and at least once mechanism**
When writing task queue handling with AWS SQS, the worker can guarantee a message has been successfully handled once and only once.

![](https://miro.medium.com/max/1400/1*uJGkrXbJcRc4kYCvI71cVA.png)

**Provide a ChangeMessageVisibility API**
With this API, we can program the worker to the following logic
- ChangeMessageVis

[2022-07-02 00:08] hibiken commented on #506
@yousifh Thank you for creating this issue! And thanks for providing this insight, very helpful.

In an ideal world, Redis provides a command to do just what we want, but not likely(context: https://github.com/redis/redis/issues/1785).

Make the sleep time configurable sounds ok to me, but maybe we should brainstorm other alternatives first.
Let me get back to you in a week or so. In the meantime,

[2022-07-02 00:20] hibiken commented on #487
@mahdimehrabi Thank you for opening an issue.

@linhbkhn95 thank you for creating a PR, however, I'd like to discuss the API change here first.

---

The package provides `ErrorHandler` to let users provide error handling logic. We should leverage this existing API by wrapping the recovered panic in a custom error type (`PanicError`) or a sentinel error value (`ErrPanic`)

[2022-07-02 00:21] hibiken commented on #507
@syangragh thank you for creating an issue.

Could you give a detailed example of the suggested API? What would it look like? (code snippet would be helpful).

[2022-07-06 02:57] linhbkhn95 commented on #487
I see If we use a wrap error to return then the client/user needs to handle this error like a callback function @hibiken

[2022-07-06 17:14] tschaub commented on #483
I agree it would be useful to have a method to enqueue a batch of tasks atomically.

[code]

With the current API, I think this could be implemented by either pausing the queue, adding all tasks, and unpausing if they all succeed (or removing if any fail) or by enqueuing tasks with some future processing time and then calling `RunAllScheduledTasks` on an inspector if they all are successfully enqu

[2022-07-06 17:23] tschaub opened #508 "[BUG] Deleting a queue leaves behind processed counts"
**Describe the bug**
After deleting a queue, I expected Redis keys associated with that queue to be deleted.  It looks like the processed counts are left behind, so when a new queue is created with the same name, it starts with the old processed counts.

**To Reproduce**
1. Process some tasks using the `default` queue
2. `inspector.DeleteQueue("default")`
3. See keys like `get asynq:{default}:proc

[2022-07-08 00:09] vishjain commented on #373
@hibiken Can I try this out ? Thanks!

[2022-07-08 05:56] xuyang2 opened #510 "scheduler entries ttl maybe too short"
Currently the tick interval of `Scheduler.runHeartbeater()` and the ttl of `WriteSchedulerEntries()` are both `5*time.Second`

scheduler entries is prone to expire when redis is slow to respond

Is it acceptable to increase the ttl of WriteSchedulerEntries() ?

[2022-07-09 16:38] hibiken commented on #510
@xuyang2 thank you for reporting this issue!
I agree. I think it makes sense to increase the TTL to 10s to allow for a miss in heartbeat.

[2022-07-09 16:39] hibiken commented on #508
@tschaub Thank you for reporting this bug!
Please feel free to open a PR if you are willing to work on it (Please assign the issue to yourself, if you're working on it) If not, I can get to it in a couple of weeks.

[2022-07-09 18:07] lucy9x opened #511 "[QUESTION] Get results or waiting until the task is done?"
I'm testing with asynq, doesn't the current version support waiting until the task is done?

Eg :

[code]

With `info.Get(&string)` will wait main thread until async task is completed

[2022-07-11 16:50] tschaub commented on #510
I'm seeing behavior that looks like tasks are not getting scheduled.  I'm having trouble putting together a reproducible test case - only seeing the issue in a production environment and not in tests or running locally.  I'm wondering if this TTL issue or some other known issue might be responsible.

Are others seeing cases where tasks are sometimes not getting run or scheduled (no error from enqu

[2022-07-12 05:28] realmicro opened #512 "How Can I continue a Delay Task?"
If I enqueue a task like this:

`client.Enqueue(task1, asynq.ProcessIn(24*time.Hour))`

When the task is not executed, I wanner do this task after 48*time.Hour, How Can I achieve this feature?

@hibiken

[2022-07-12 06:40] realmicro opened #513 "How Can I execute same task with multi process like mq subscribed by multi process ?"

[2022-07-13 02:08] 359859461 commented on #508
for `asynq:{default}:processed` , I add **ProcessedTotalKey**.but for `asynq:{default}:processed:2022-07-06`,I don't know how to get time param for `ProcessedKey`
please check #514

[2022-07-13 04:23] xuyang2 opened #515 "[FEATURE REQUEST] Add a TTL to scheduler_history key"
**Is your feature request related to a problem? Please describe.**
If the process is `kill -9`, or if for whatever reasons `Scheduler.Shutdown()` fails to execute,
or if `RDB.ClearSchedulerHistory()` failed, the `SchedulerHistoryKey` will stay in redis forever.

**Describe the solution you'd like**
Give the `SchedulerHistoryKey` a TTL, like `3 months`?

[2022-07-13 07:54] xuyang2 commented on #329
@hibiken It seems `archiveCmd` only sets the expiry time for `KEYS[5]` and `KEYS[6]`, not the expiry time for `KEYS[1]` .

Is there any other cleanup routine for `KEYS[1] -> asynq:{<qname>}:t:<task_id>` ?

https://github.com/hibiken/asynq/blob/c70ff6a335eed05735427567e8e9549745f43204/internal/rdb/rdb.go#L840-L867

[2022-07-13 19:46] stephen opened #516 "[FEATURE REQUEST] Per-task type aggregation"
**Is your feature request related to a problem? Please describe.**
I'm trying out the new task batching/aggregation feature from https://github.com/hibiken/asynq/issues/339. I would like to be able to configure grouping parameters on a task-level basis instead of on the server.

For instance, if I have one kind of batched task that sends out high-urgency notifications (i.e. group any in the last m

[2022-07-14 02:07] zijiwork opened #518 "[QUESTION] asynq supports task asynchronous callback function"
Does asynq support task asynchronous callback function when task execution succeeds or fails? Returns information about task status

[2022-07-14 04:28] mm2175 opened #519 "[FEATURE REQUEST] Add Upgrade guide when there is a new release"
I'm currently using version 0.18.6, how to upgrade to 0.23.0? I can't find any notes on this, is it compatiable(with retry and archive task)?

[2022-07-15 03:31] hibiken commented on #519
@mm2175 Thank you for the question. Please take a look at our [release notes ](https://github.com/hibiken/asynq/releases).
Feel free to reopen this issue if you have more questions.

[2022-07-15 03:31] #519 closed

[2022-07-15 03:32] hibiken commented on #518
@zijiwork thanks for creating an issue.

Please take a look at middleware example [here](https://github.com/hibiken/asynq/wiki/Handler-Deep-Dive#using-middleware), this may be something you're looking for.

[2022-07-15 03:33] hibiken commented on #515
@xuyang2 Thank you for raising this issue. I'll look into this further.

[2022-07-15 03:34] hibiken commented on #512
@realmicro Thank you for opening an issue. You should be able to customize your retry delay by providing a custom function. See examples [here](https://github.com/hibiken/asynq/wiki/Task-Retry#customize-retry-delay).

[2022-07-15 03:34] #512 closed

[2022-07-15 03:37] hibiken commented on #511
@lucy9x Thank you for creating an issue.
It's not quite what you described above, but we do offer looking up task's status via its ID. You can retrieve task info by calling [`Inspector.GetTaskInfo`](https://pkg.go.dev/github.com/hibiken/asynq#Inspector.GetTaskInfo). You need to handle polling yourself. And make sure to set the `Retention` option so that successfully processed task sticks around to

[2022-07-15 03:37] #511 closed

[2022-07-15 03:41] hibiken commented on #513
This functionality is not supported by the library, unfortunately.  Please see my comment [here](https://github.com/hibiken/asynq/issues/410#issuecomment-1059973170) for a similar issue.

[2022-07-15 03:41] #513 closed

[2022-07-15 06:04] realmicro commented on #512
@hibiken Thanks for you reply.
I am not sure if this feature is my solution.
My English is poor, I am not sure I can describe my problem, Sorry for that.
My problem is, for example:
- My Order Service for creating order
- My MQ Service for handling order not paid after 30 minutes later
- If 30 minutes later, user want continue this order, I want extend the order time, maybe handle this order 1 hou

[2022-07-15 08:30] zijiwork commented on #420
I encountered this problem in the following versions, the task is always in the active state after the worker restarts, and the task cannot be closed
[code]

[code]

[2022-07-17 03:58] realmicro opened #520 "How can I cancel task In My Code?"
How can I cancel task In My Code?
If I enqueue a task like this:
`client.Enqueue(task, asynq.ProcessIn(24*time.Hour))`

Maybe I wanner cancel this task If this task not executed.
How Can I achieve this feature?

[2022-07-18 02:49] #520 closed

[2022-07-18 03:38] lovgrandma opened #521 "What does Asynq Logs Signify?"
I have a job queue for video processing and batch SMS sends.
It works but I want to be more clear on what the logs mean. When my server starts I run this in main()

[code]

Both run this code:

`
func BuildWorkerServer() {
	srv := asynq.NewServer(
		asynq.RedisClientOpt{Addr: jobQueueAddr},
		asynq.Config{
			Concurrency: 10, // total concurrent workers
			Queues: map[string]int{
				"critical": 6

[2022-07-19 02:15] hibiken commented on #516
@stephen Thanks for this great feedback! Let me think about API changes to accommodate these use cases

[2022-07-20 05:07] #518 closed

[2022-07-25 10:35] arioki1 opened #522 "How to create a queue based on user id"
how can I create a queue based on the user id with the same task type
example
USER A has a list of tasks 1,2,3

USER has a list of tasks 4,5,6

USER C has a task list of 7,8,9

it should be like this
1. A 1
2. B 4
3. C 7

It's not like this
1. A 1
2. A 2
3. A 3

conditions are
1. One user can only run one task at the same time
2. Maximum Concurrency is 10
3. Only one task type

[2022-07-26 11:23] roccoblues commented on #329
I found this thread because we actually need it. 😏  The default retention period is too long for the German data-privacy laws and we need to expire tasks sooner.

Would you be open for a PR that makes the two settings configurable?

[2022-07-27 01:57] hibiken commented on #329
@roccoblues Sure, I'm a little behind on PR reviews but I'll get to it when I have time.
Please take a look at CONTRIBUTION.md before creating a PR 👍 Thanks!

[2022-07-28 01:33] dxl3811051 opened #524 "[BUG] The cancellation of the task has not taken effect, and the task continues to run"
**Describe the bug**
Maximum retry setting 0，
I tried to cancel the task, but the running task is still running and has not been canceled
![image](https://user-images.githubusercontent.com/34296773/181400769-407ab026-a65d-4c7c-9c25-eb2eb74192a4.png)
![image](https://user-images.githubusercontent.com/34296773/181401133-a55023b1-90b0-47d3-8291-26205e704cda.png)

I tried to cancel the task with tools

[2022-07-28 02:39] dxl3811051 commented on #524
![image](https://user-images.githubusercontent.com/34296773/181408452-9cc3f9d7-5110-408e-862a-c9c19c676b85.png)

[2022-07-29 12:39] roccoblues commented on #441
Hi @hibiken,

as mentioned [here](https://github.com/hibiken/asynq/issues/329#issuecomment-1195356866) I started making those parameters configurable.

However I quickly realized that it's not so easy because there can be at least 3 external triggers of the archiving:
1. The `asynq.processor` in the `asynq.Server`. This is the easy one, here we have the config and can initialize the `rdb.RDB` with

[2022-07-29 13:53] ghstahl commented on #441
Hi, I needed these 2 specifically to get me unstuck
https://github.com/fluffy-bunny/asynq
https://github.com/fluffy-bunny/asynq/blob/a5681d48b59b66d2e7043d9d6a60f8c92fd03dbc/internal/rdb/rdb.go#L33

The technique I used was to target these 2 configs only.

[code]
If the value is nil use the defaults as before.

Don't archive anything based upon the configs.
[code]

I hastily did this, so I didn't

[2022-08-03 06:54] zijiwork opened #525 "[BUG] The task cannot be resumed after the worker is shut down while the task is running"
**Describe the bug**
When the task is running, I try to shut down the worker, but restarting the worker task cannot recover normally, and the status of the Asynq Monitoring task is active. and cannot be closed

**To Reproduce**
Steps to reproduce the behavior (Code snippets if applicable):

[code]

## TaskWorker
[code]

## try restarting the asynq worker
[code]

**Expected behavior**
A clear and c

[2022-08-05 08:11] dxl3811051 commented on #525
Hello, I want to ask you how to stop a running task. I click the stop button, but the task is still running. My task is a simple loop print

[2022-08-08 01:13] tinnkai opened #527 "Dynamic periodic task sync interval"
Hello! Ken Hibino

Dynamic periodic task sync interval .
Can you control whether the program needs to be loaded when it runs? There may be too many tasks, and the tasks will not change frequently. Frequent loading may be unfriendly to the program.

[2022-08-18 09:44] SaltySooda commented on #527
there are 3 interval you can control.
`	srv := asynq.NewServer(
		asynq.RedisClientOpt{Addr: redisAddr},
		asynq.Config{
			HealthCheckInterval:      0,
			DelayedTaskCheckInterval: 0,
	                GroupGracePeriod:         0,
		},
	)`
if you expect more,I can make a PR.
such as:
syncer
heartbeater
recoverer
janitor

[2022-08-19 11:21] Lilihx commented on #527
I expect heartbeater.
Because in breakpoint debug mod, the lease expiration of the hearbeater will cancel the context.

[2022-08-23 08:23] dahvlhldle commented on #503
@hibiken redis 7 need `github.com/go-redis/redis/v9`,Is it possible to upgrade?

[2022-08-26 08:20] tinnkai commented on #527
My question is dynamic periodic task
Cronspec can only be synchronized at a fixed time
If there are too many cronspecs and the modification frequency is not high, can you add a parameter to control whether it needs to be reloaded? If not, get the cronspecs data in memory

[2022-08-26 15:02] gbolo commented on #445
@hibiken how about just a basic redis ping/connection check like the server has right now, exposed through the callback function passed in the server config

[code]

This seems to work very good for me on the server side. Would love to have the same on the client side ;)

[2022-08-27 13:37] atkinsonbg opened #529 "[BUG] Client side aggregation tasks stay in "aggregating" state forever"
**Describe the bug**
I using client side aggregation and the tasks are making it to the queue, however they stay in "aggregating" state forever. In this case "forever" has been 24+ hours.

![Screen Shot 2022-08-27 at 9 33 18 AM](https://user-images.githubusercontent.com/29587193/187032492-eecf92fd-39fd-4f3d-9661-e6ae80187c89.png)

**To Reproduce**
Steps to reproduce the behavior (Code snippets if

[2022-08-27 13:46] atkinsonbg commented on #529
Now that I've stepped away for a day I think I'm reading the docs wrong: https://github.com/hibiken/asynq/wiki/Task-aggregation

I need to queue them on the client, but I also need to tell the server how to aggregate those tasks? OK, that makes sense. However, is there a pattern on how I can provide multiple aggregates to the server?

[2022-08-27 15:48] rendybjunior opened #530 "[QUESTION] Does Concurrency parameter only work on same Golang process?"
I tested `Concurrency: 1` configuration, and then I run multiple worker processes on different terminal tab.
The result of my experiment, the concurrency configuration only work for each process, but NOT across processes.

Is this observation accurate? Because the documentation does not explain much about the concurrency.

If the answer is yes, concurrency only work on each process, then if I have

[2022-08-27 16:34] atkinsonbg commented on #529
Ok, sorry, closing this issue as it’s not an issue. Just needed a day to walk away and come back with fresh eyes. I implemented the aggregator per your example and it works as expected.

Thanks for working on this, I’m really enjoying the functionality!

[2022-08-27 16:34] #529 closed

[2022-08-30 11:15] daicheng123 opened #531 "Can asynq add a scheduled task dynamically using the Rset API trigger?"
just like python celery,thanks

[2022-08-31 03:54] hibiken commented on #530
Yes, your observation is correct.
The concurrency option controls how many active goroutines a `Server` can have.

[2022-08-31 03:55] #530 closed

[2022-08-31 03:56] hibiken commented on #531
I'm not familiar with Celery's API you are referring to. Would you mind providing a link or adding a detailed explanation?

[2022-08-31 10:56] daicheng123 commented on #531
`    @transaction.atomic()
    @method_decorator(advance_logger('add a crontab task by user'))
    def post(self, request):
        cron_info = request.data['cron_form']
        work_id = request.data['work_id']
        work_object = Cluster_workinfo.objects.get(id=work_id)
        task_info = {
            'cluster_id': work_object.cluster_id,
            'work_id': work_object.id,
            'w

[2022-09-01 07:56] patriceshot opened #532 "[BUG] Canceled task goes into retry state"
**Describe the bug**
Canceled task goes into retry state, and is consumed again.
If I return a [Skip return](https://github.com/hibiken/asynq/wiki/Task-Retry#skip-retry) error, it is ignored.

**To Reproduce**
Steps to reproduce the behavior (Code snippets if applicable):
1. Start a worker
2. Enqueue a task which starts a long running task
3. Cancel the task (either with inspector or asynqmon)
4.

[2022-09-02 04:00] Serinalice opened #535 "[FEATURE REQUEST] Support BatchEnqueue for client"
When a lot of tasks need to be enqueued, current method is slow because every redis-op needs at least a RTT.
For example: If I want enqueue 1000000 tasks, each client.Enqueue spends 13ms in my environment. So if I execute it without concurrency, this will spend 1000000*13=13000000ms, almost 3.6 hours. Definitely I can use a lot of goroutines to shorten the time, but takes a lot of cpu usage and ma

[2022-09-02 04:28] Serinalice commented on #535
Related discussions: https://github.com/hibiken/asynq/issues/339#issuecomment-985507125
https://github.com/hibiken/asynq/issues/352

[2022-09-06 05:36] zijiwork commented on #259
`Enqueue`  Whether to support passing custom task id

[2022-09-06 23:53] KillianH commented on #535
I need that too :) I have several millions of tasks to enqueue in my workflow. Overall I really love the lib I can handle 7 millions tasks in 44 minutes (with some computation and database requests)

[2022-09-07 13:37] chenicel opened #536 "[BUG] Payload data incomplete"
I'm not sure if this is a bug, in the process of using it，If the payload field is long, the Payload obtained in the task will be cut into a part of it. How to ensure that the complete Payload data can be passed to the task

go version go1.14.10 darwin/amd64, asynq is Newest
Thank!

[2022-09-10 14:27] hibiken commented on #535
Thank you @Serinalice for creating this feature request!

This feature makes a lot of sense and the package should support this use case.
We should probably discuss the API first (What should it look like? How should we handle partial errors?)

[2022-09-11 04:53] Serinalice commented on #535
No problem, I'll describe my preliminary ideas！

On Sep 10, 2022, at 22:27, Ken Hibino ***@***.***> wrote:

﻿

Thank you @Serinalice<https://github.com/Serinalice> for creating this feature request!

This feature makes a lot of sense and the package should support this use case.
We should probably discuss the API first (What should it look like? How should we handle partial errors?)

—
Reply to th

[2022-09-11 14:46] jinsuojinsuo opened #538 "How to implement distributed scheduled tasks？"
How to implement distributed scheduled tasks

[2022-09-12 15:52] jinsuojinsuo commented on #371
Same problem

[2022-09-13 05:56] Serinalice commented on #535
How about this:
[code]
If error is nil, all tasks have been successfully enqueued. If not, array of task info saves all successfully tasks.

[2022-09-13 08:27] Serinalice commented on #535
By length of tasks.

[2022-09-14 08:50] Danny5487401 opened #539 "[FEATURE REQUEST] RPOPLPUSH is regarded as deprecated since version 6.2.0"
As of Redis version 6.2.0, this command is regarded as deprecated.

It can be replaced by [LMOVE](https://redis.io/commands/lmove) with the RIGHT and LEFT arguments when migrating or writing new code.

![image](https://user-images.githubusercontent.com/64348131/190107945-7740c3e6-a7e9-43a6-8709-703afe0282e0.png)

Hope to change the new one

[2022-09-14 09:45] dxl3811051 commented on #532
我也碰到了这个问题  我以为救我碰到了呢，我想把任务终止掉 而且设置了重试次数为9 但是当我cancel task时 这个任务会重新启动

[2022-09-14 12:12] #536 closed

[2022-09-14 13:35] al-bglhk commented on #445
How did you do that? Any sample codes please?

[2022-09-14 23:12] yousifh commented on #535
Would this new batch API pipeline the existing `EVALSHA` enqueue scripts or it will use a new Lua script that takes the batch of tasks and enqueue them all at once?

[2022-09-16 12:52] archit-harness commented on #522
@arioki1 did you find any solution to this?
I want to have 10k queues based on userId, and dequeue can be from any given queue given as input and not creating consumer server for each queue.

[2022-09-16 12:57] archit-harness commented on #428
@hibiken was this feature added to the Library?

[2022-09-16 13:07] archit-harness commented on #250
@sujit-baniya @hibiken were we able to solve this, that we can request dequeue from any given queue name?

[2022-09-16 13:12] sujit-baniya commented on #250
@archit-harness I've been using https://gist.github.com/sujit-baniya/4d7145c1adb2f97d80955fb31858716e to solve this. It's working fine as per my need. @hibiken might consider working on it later as per his priority

[2022-09-16 13:25] archit-harness commented on #250
Thanks @sujit-baniya for such quick response, i see there are many differences in new server.go file and your file which you have shared, but I think the main difference is added new functions above right? https://github.com/hibiken/asynq/issues/250#issuecomment-1088649898

So basically now our workers can add listening to queues and remove it.

Few Questions -
1. Did you see any performance issue

[2022-09-16 13:26] archit-harness commented on #250
But for our use-case we cannot club everything into single queue, as we want to allow the worker to run only X number of tasks for each user.

[2022-09-19 09:00] archit-harness commented on #250
@sujit-baniya @hibiken did you get chance to look at my question?

[2022-09-19 10:29] sujit-baniya commented on #250
@archit-harness I've not done any benchmarks for my use-case. But I'm using this changes on asynq in on of my products: https://oarkflow.com and working well so far. Multiple Servers and Queues are created on demand and destroyed as required.

1) Added new functions
2) Change in API as well for Server to handle the "Handler"

[2022-09-20 00:15] halorium opened #542 "[FEATURE REQUEST] How can I specify queue concurrency (separate from worker concurrency)"
It's critical that I'm able to specify the following:
* The total number of simultaneous workers that can run at any given time. (e.g. 1 per each cpu core for a total of 4)
* The total number of simultaneous tasks that can run at any given time.
Given the following queues:
* queue_one
* queue_two
Only one task from queue_one can run at any given time.
Any number of tasks from queue_two can run at

[2022-09-20 06:58] shuqingzai commented on #173
Looking forward to this release, we now use RabbitMQ for queues and asynq for periodic tasks

[2022-09-20 23:42] technicianted opened #546 "[FEATURE REQUEST] Support for pub/sub queue task eventing"
**Is your feature request related to a problem? Please describe.**
I want to implement accounting per-user for tasks. At any given point in time, I want to be able to _efficiently_ tell how many messages are in the queue(s) owned by user X in state Y.

**Describe the solution you'd like**
To provide best-effort point-in-time accounting, an external observer can be notified about queue events such

[2022-09-21 02:35] linhbkhn95 commented on #487
Thank @hibiken, After brainstorming again I decide to use the ErrorHandler for handling panic errors.
Please review the PR #491

[2022-09-21 07:53] linhbkhn95 commented on #532
Aas I know based on `asynq` code, When a message is assigned to work, it also is created a cancel() function via
[code]
When you action `Cancel the task (either with inspector or asynqmon)` then asynq will Publish msg to `asynq:cancel`
[code]
At the Subscriber will receive msg and action `cancel() func`.
[code]
Therefore, `asynq` will perform `cancel` func => return `context canceled` instead `Ski

[2022-09-21 08:05] dxl3811051 commented on #532
why？
I terminated the mission, but the mission run again

[2022-09-21 08:12] linhbkhn95 commented on #532
I think the`task canceling` here is to stop work at the moment and then action at another time.

[2022-09-21 15:46] shuqingzai opened #547 "[FEATURE REQUEST] Description of the feature request"
**Is your feature request related to a problem? Please describe.**

Are there plans to support [opentelemetry](https://opentelemetry.io/) in the future ??

**Describe the solution you'd like**

Hope to support opentelemetry.

**Describe alternatives you've considered**

**Additional context**

[2022-09-22 11:59] linhbkhn95 commented on #532
if @dxl3811051 wants as your expected, I can update it into my repo. Then you can use it for now. We need to confirm the author to merge to this repo.

[2022-09-22 12:02] dxl3811051 commented on #532
thanks

[2022-09-22 13:53] armoona commented on #522
I have the same question. Can I have a million queues? Think of an app with a million users; each user sends a sequence of commands; each user's sequence must be executed sequentially.

[2022-09-23 02:08] jinsuojinsuo opened #548 "The processing delay time is too long, resulting in inaccurate timing task time"
![1663898862219](https://user-images.githubusercontent.com/7435297/191880271-c4e7d460-d144-46d0-bca3-b0e68ce1b32a.jpg)
It is recommended to make it configurable

[2022-09-23 08:49] linhbkhn95 commented on #548
@jinsuojinsuo It is delayed when all queues are empty. I think it makes sense

[2022-09-23 23:55] yousifh commented on #548
I did some benchmarking around this issue here #506

It impacts the average time to execution for tasks. However lowering the sleep will increase the idle CPU usage of Redis. I also tested an alternative approach that can change the sleep period depending on how busy the queue is [here](https://github.com/hibiken/asynq/compare/master...yousifh:asynq:faster-sleep). It will lower the latency of time

[2022-09-25 21:18] hibiken commented on #547
@shuqingzai Yes, this is definitely something we should consider.

[2022-09-25 21:21] yousifh opened #549 "Improve performance of enqueueing tasks"
When load testing the library at high load, there is opportunity to optimize the enqueue code path. It's currently doing two things

- Add queue name to the set "asynq:queues"
- Enqueue the task

The first call is only necessary the first time, after that the extra network is just wasting resources. We can optimize that by caching which queues we enqueued to and only run the first call whenever th

[2022-09-28 04:17] zuiwanting commented on #442
![image](https://user-images.githubusercontent.com/2741280/192686318-c9b36c3d-0b4d-4c2c-93d1-5cd24b533243.png)
need modify lua script

[2022-09-29 07:41] Lilihx opened #551 "[FEATURE REQUEST] The msg cannot be consumed by my expected worker."
**Is your feature request related to a problem? Please describe.**

In our debug mod, we share a redis. So there are several workers, and I want to make breakpoints in my IDE.
In this situation, how can i ensure that the msg sent from my local producer was consumed by my local worker ？

**Describe the solution you'd like**

I do not know if there is any option now.

**Describe alternatives you've

[2022-09-29 10:02] jinsuojinsuo opened #552 "The task is deleted without processing. View Redis and find that asynq:{default}:processed has been added"

[2022-09-29 18:36] danvixent opened #553 "[QUESTION] Can i persist completed job information?"
Can data about jobs that have been completed be persisted in asynq?

[2022-09-30 06:25] #552 closed

[2022-09-30 11:24] chromosomaly commented on #553
https://github.com/hibiken/asynq/wiki/Task-Retention-and-Result

Use `asynq.Retention(1*time.Minute)` (or any other time.Duration)

[2022-10-01 19:32] hibiken commented on #553
The `Retention` option keeps the job in Redis for the specified duration.
If you want to persist your job data durably and/or permanently, you could write a middleware to persist jobs when it's processed successfully.
Thanks @danvixent for the question and thanks @chromosomaly for answering!

[2022-10-01 19:32] #553 closed

[2022-10-01 19:34] hibiken commented on #551
thanks @Lilihx for the question, and thanks @AMAN-BARBARIA for answering!

[2022-10-01 19:34] #551 closed

[2022-10-04 23:44] danvixent commented on #553
Thanks y'all @chromosomaly @hibiken

[2022-10-05 14:26] mirusky opened #554 "[FEATURE REQUEST] Named Scheduler or Unique ID"
**Is your feature request related to a problem? Please describe.**
Kind of a problem, as documentations suggests:

But at same time it says:

So we can't write the Server and Scheduler at same code when the server scales / has many instances.

**Describe the solution you'd like**
My proposal is create a UniqueID or Named Scheduler, and async checks if there's a scheduler with the given name or id,

[2022-10-05 14:35] mirusky commented on #538
Maybe related to #554

[2022-10-06 08:21] kamikazechaser commented on #548
It could be added as an optional param that defaults to 1 second.

[2022-10-06 08:30] kamikazechaser commented on #531
Yes it can, you will have to write your own HTTP interface and queue the the periodic job using the built in Go client or  use something like -> https://github.com/newlife/asynq-py. The worker/processor will still have to be written in Go.

[2022-10-08 06:09] zhangzitao commented on #393
@hibiken Any news? I long for this feature. Thanks for your work

[2022-10-10 15:51] jinsuojinsuo commented on #548
Why does time fluctuate

[2022-10-11 07:13] linchao0815 opened #555 "[BUG] UNKNOWN: redis command error: SADD failed: redis: client is closed"
**Describe the bug**
client.Enqueue(task)

**To Reproduce**
Steps to reproduce the behavior (Code snippets if applicable):
1. Setup background processing ...
2. Enqueue tasks ...
3. See Error ...
4. There is a low chance of this problem occurring.

How do I handle this error ?

[2022-10-12 18:15] domgolonka commented on #555
I am getting the same thing

[2022-10-12 22:12] domgolonka commented on #555
@linchao0815  I figured it out, the asynq.Client was closing too early.

[2022-10-13 00:59] linchao0815 commented on #555
@domgolonka

My case isn't it!

[2022-10-13 08:59] yun36524 opened #556 "redis: discarding bad PubSub connection: read tcp 127.0.0.1:52914->127.0.0.1:63791: i/o timeout[BUG] Description of the bug"
redis: discarding bad PubSub connection: read tcp 127.0.0.1:52914->127.0.0.1:63791: i/o timeout
I can't run it, my redis is working fine

[2022-10-13 09:06] huizhang001 commented on #556
Can you paste the code? Let me have a look？ @yun36524

[2022-10-13 09:12] huizhang001 commented on #556
I think there is a problem with your Redis port
port:6379 ?

[2022-10-13 09:17] yun36524 commented on #556
I'm sure there's nothing wrong with redis because my application is using it properly.
I am copying the official code and it does not work.

[code]

[2022-10-13 09:53] yun36524 commented on #556
Anybody here?

[2022-10-13 10:32] huizhang001 commented on #556
I used your code, but it didn't reproduce. The suspicion is still related to Redis....

[2022-10-13 12:34] yun36524 commented on #556
I can run this code normally.
Is there any configuration to pay attention to in redis?

[code]

[2022-10-14 18:11] cs-satish-mishra opened #558 "[BUG] Execution speed with more worker configured than CPU core for I/O bound tasks"
I am new to go and async, I am coming from the celery background and want to try it.

I have configured my server with 32 concurrent workers on 8 core CPU machine.
I created 5000 tasks from a simple client - the task is an outside HTTP API call to an endpoint that sleeps 3sec and returns a successful response.
Since there is enough task in the Redis I expect 32 tasks to be processed concurrently b

[2022-10-18 04:14] yun36524 commented on #556
Can someone help me

[2022-10-18 06:14] xuyang2 commented on #556
@yun36524
This is how I manage redis client, don't know if this will work for you:

[code]

[2022-10-19 17:32] linhbkhn95 commented on #487
@hibiken can you review it for me?

[2022-10-20 11:04] huizhang001 commented on #556
If you use a mac, I suggest you re install mysql with brew！！！！！

[2022-10-23 18:08] kamikazechaser commented on #558
Are the 5k tasks loaded immediately before the processor server starts or are both loading and processing done at the same time?

I suggest try loading all 5k first then run the processor.

Also not sure how you are getting the 8-10 tasks? From the Asynqmon UI? I think a better way to test would be to keep track of active connection at the endpoint (I assume this is your endpoint).

[2022-10-25 19:30] endigma opened #565 "[FEATURE REQUEST] Custom worker error handling"
**Is your feature request related to a problem? Please describe.**
When tasks fail, they are documented to return `error`, these errors then get put in redis next to the retry. It would be nice if we could hook into this return process and execute custom "middleware" on returned errors (sentry, logging, etc).

**Describe the solution you'd like**
A function like `func HandleErr(err error) error` t

[2022-10-25 19:31] #565 closed

[2022-10-26 06:08] huizhang001 opened #566 "sys: note: module requires Go 1.17"
go: downloading golang.org/x/time v0.1.0
# golang.org/x/sys/unix
../../pkg/mod/golang.org/x/sys@v0.1.0/unix/syscall.go:83:16: undefined: unsafe.Slice
../../pkg/mod/golang.org/x/sys@v0.1.0/unix/syscall_darwin.go:95:8: undefined: unsafe.Slice
../../pkg/mod/golang.org/x/sys@v0.1.0/unix/syscall_unix.go:118:7: undefined: unsafe.Slice
../../pkg/mod/golang.org/x/sys@v0.1.0/unix/sysvshm_unix.go:33:7: unde

[2022-10-31 17:25] vladfr commented on #173
Hi! I found `asynq` while looking up Go and Mongo and queues. I write a small app in vue, backed by a REST server in Go and Mongo, and I really don't want to go into hosting Redis just for a few simple queues.

Is there any renewed interest on this issue? I would love to help out and abstract a backend layer. I really like the simplicity of this project, its interface and ease of use, cli and UI.

[2022-11-02 06:31] endrawanandika opened #568 "[FEATURE REQUEST] Update Task"
**Is your feature request related to a problem? Please describe.**
I have enqueued delayed task

[code]

But after some time, I want to update the time for that task to be processed (can be earlier or later). The Task that is created have task id (or I can get from `info.ID`), so I want to be able to update it in the future.

I can do delete task and enqueue again,

[code]

but if somehow I can't

[2022-11-03 04:15] tonyjia87 opened #569 "[FEATURE REQUEST] How can get taskID"
I want to pause and stop tasks by taskID
How to get the corresponding taskID ?

[2022-11-03 07:24] #566 closed

[2022-11-04 15:42] abit2 opened #570 "[FEATURE REQUEST] Update Redis GO library to support Redis 7"
**Is your feature request related to a problem? Please describe.**
Steps to reproduce

1. Creating a redis cluster with redis 7. [link](https://redis.io/docs/management/scaling/)
2. Following the steps in wiki [link](https://github.com/hibiken/asynq/wiki/Redis-Cluster)
3. Run the enqueue code below.
[code]

**Describe the solution you'd like**
Seems to be related to the redis/v8 library results in

[2022-11-05 13:37] gurupras commented on #241
One neat way in which a prefix would help is to be able to host multiple isolated asynq-based worker pools within one redis server.

[2022-11-07 03:31] Crystalplan commented on #556
I have the same problem and hope to get help. Redis is installed with Docker. Redis is normally in use

[2022-11-08 01:18] 5idu commented on #535
Are there any new developments on this issue?

[2022-11-12 21:32] TheStu commented on #542
This is more or less what I'm looking to accomplish as well. I have a large amount of jobs to be processed, about 20 different types. But one type can only be performed once per 2 seconds. I don't want 10 workers all stuck processing these rate limited jobs when there's ~10k other non-rate limited jobs to process, but I do want to perform ~1 rate limited job per 2 seconds so that they get done as

[2022-11-14 08:08] kamikazechaser commented on #570
go-redis/v9 is not backward afaik. This would be a breaking change.

[2022-11-14 08:11] kamikazechaser opened #572 "Regular release schedule"
Go mod, by default, fetches versions as per tags. The last tag was back in April and there have since been couple of fixes.

[2022-11-15 05:42] charliecen opened #573 "handler not found for task"
After creating an asynchronous task queue, the browser prompts handler not found for task

my code

[code]

![企业微信20221115-134045](https://user-images.githubusercontent.com/6268321/201835567-5f951dd3-9465-40c7-94f4-510a3bd5294b.png)

[code]

[2022-11-15 09:49] charliecen commented on #573
[code]

queue is ok

[2022-11-15 09:49] #573 closed

[2022-11-17 10:45] mindon opened #574 "[BUG] hanlder not found for task"
**Describe the bug**
hanlder not found for task happens sometimes

**To Reproduce**
1. register 3 different patterns width HandleFunc
2. submit 3 tasks with different patterns used above
3. sometimes it retrying with "hanlder not found" error

**Expected behavior**
Not such a not-found-error

**Screenshots**
<img width="761" alt="image" src="https://user-images.githubusercontent.com/510257/2024259

[2022-11-21 02:19] isdzulqor opened #575 "[FEATURE REQUEST] Description of the feature request"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when trying to simulate task creation locally. There's no such feature for creating a new task in asynq tool CLI, nor in asynqmon.

**Describe the solution you'd like**
Provide task creation via CLI or asynqmon to make it easier to debug locally. Example command in CLI, could be like this
[code]

**Describe al

[2022-11-21 09:41] mindon commented on #574
this error report inside ErrorHandler of a server without any handler

[2022-11-21 09:41] #574 closed

[2022-11-24 17:04] Hans941 opened #578 "[BUG] cant install asynq/tools/asynq@v0.21.0"
**Describe the bug**
I want install tools/asynq. But my go version is not 1.18 or higher.So I want install an old version.

**To Reproduce**
[code]

[2022-11-25 04:22] 27149chen opened #579 "[FEATURE REQUEST] Task Priority"
**Is your feature request related to a problem? Please describe.**
I have three queues processing tasks in parallel, but in each queue, task are processed serially with priority

**Describe the solution you'd like**
Introduce Task Priority in queue

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional

[2022-11-25 05:24] larryclean commented on #556
@hibiken  hello,about the problem.I found that it is related to the redis DB.when db>0 log print "discarding bad PubSub connection" ,db=0  don't print.

[2022-11-26 03:53] 184104489 opened #580 "[BUG] Description of the bug"
srv := asynq.NewServer(redis, asynq.Config{
    Concurrency: 10,
    Queues: map[string]int{
        "myqueue_partition-*": 1,
    },
})

does it work?

[2022-11-29 22:56] OAyomide commented on #532
@linhbkhn95 how do you move to archive then? i tried cancelling the task but it doesnt work. it says i should use `CancelTask` and i cannot see reference to this anywhere.