[2019-12-21 14:35] hibiken opened #19 "Add support for user-defined max retry count"
user should be able to specify how many times a task should be retried.

[2019-12-21 14:37] hibiken opened #20 "Add support for multiple queues and priority"
User should be able to specify a priority of a task.

[2019-12-21 18:05] #19 closed, assigned to nobody

[2019-12-22 15:56] hibiken opened #23 "Extract test helpers to asynqtest internal package"

[2019-12-26 04:01] hibiken opened #26 "Re-evaluate retry count semantics"
Currently we increment `Retried` field on TaskMessage when we move the task to retry queue. This data is visible to user via `asynqmon` and user will see Retried 1 after first attempt to process the task fails. This could be confusing to user since the task is scheduled for a retry but hasn't been retried yet.

[2019-12-27 15:10] hibiken opened #28 "Add history command to asynqmon tool"
Add a command to asynqmon to show historic stats (processed/failed for the last x days)

[2019-12-29 18:05] #23 closed, assigned to nobody

[2020-01-03 01:44] hibiken opened #37 "Add Changelog to the project"

[2020-01-03 01:55] hibiken opened #38 "[FEATURE REQUEST] Add pagination option to asynqmon ls command"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when I run `asynqmon ls` when there are lot of tasks in the queue. It'd be nice if there's a way to paginate the list.

**Describe the solution you'd like**
Example: `asynqmon ls -size=30 -offset=100` to list 30 tasks from 101th task.

**Describe alternatives you've considered**
Alternatively, I could use the

[2020-01-03 02:01] hibiken opened #39 "[FEATURE REQUEST] Show elapsed time for "in-progress" tasks"
**Is your feature request related to a problem? Please describe.**
When have I tasks that takes a while to complete, I want to know how long it's taking to process the task.

**Describe the solution you'd like**
`asynqmon ls inprogress` shows the elapsed time for each task.

**Describe alternatives you've considered**
None.

[2020-01-03 02:04] hibiken opened #40 "Add CONTRIBUTION.md file"
Add a doc to help people contribute to the project.

It should contain:

- Link to Design Doc
- Step to take before submitting PR

[2020-01-04 20:22] #28 closed, assigned to nobody

[2020-01-04 21:26] #37 closed, assigned to hibiken

[2020-01-07 00:37] hibiken opened #45 "Change package API to hide redis client library used internally"
**Is your feature request related to a problem? Please describe.**
Currently, both `Client` and `Background` constructor takes `go-redis/redis/v7` as a parameter. This will become an issue when there is a new version or if we want to switch to another redis-client library. The change will require major version update, which we don't want to do just for a redis-client library change.

**Describe th

[2020-01-08 05:11] hibiken opened #46 "Clean up log output"
Use `log.Logger` type to set Prefix and Writer.

[2020-01-08 05:55] #20 closed, assigned to nobody

[2020-01-13 14:01] hibiken opened #50 "[FEATURE REQUEST] Make `Inspector` package public"
**Is your feature request related to a problem? Please describe.**
We should make `inspector` package public to let users create their own CLI or Web UI to monitor queues and tasks.

**Note** Since the API is tightly coupled to the internals of the core `asynq` package, work on this once the internals have become stable.

[2020-01-16 15:04] hibiken opened #53 "[FEATURE REQUEST] Add flags to asynqmon to support connecting through sentinels"

[2020-01-17 05:04] #45 closed, assigned to hibiken

[2020-01-17 14:49] hibiken opened #55 "[BUG] In-progress tasks stick around in the face of redis failure"
**Describe the bug**
When using `RedisFailoverClientOpt` to take advantage of automatic failover, the tasks that are in-progress when the failover happens don't get removed from in-progress.

**To Reproduce**
Steps to reproduce the behavior (Code snippets if applicable):
1. Enqueue tasks (e.g. 100 tasks)
2. Start `Background` with `RedisFailoverClientOpt`
3. Disable redis master with `redis-cli -p

[2020-01-18 23:07] #55 closed

[2020-01-22 03:04] hibiken opened #60 "[FEATURE REQUEST] Error rate per task type"
**Is your feature request related to a problem? Please describe.**
Currently we only show overall processed, failed count and error rate based on those counts.

**Describe the solution you'd like**
It'd be useful if asynq tracks processed and failed count per task type

[2020-01-22 14:02] #46 closed

[2020-01-22 15:04] hibiken opened #63 "[FEATURE REQUEST] Add asynqmon ps command"
Add `asynqmon ps` command that list all background processes and for each process show which queue it's processing.
It should show the status of process (Paused | Running)

[2020-01-23 14:34] #53 closed, assigned to hibiken

[2020-01-23 14:34] hibiken commented on #26
Closing

[2020-01-23 14:34] #26 closed

[2020-01-26 21:12] #38 closed

[2020-01-30 06:02] hibiken opened #69 "[FEATURE REQUEST] Make handler context aware"
We should support timeout per task and allow user to cancel task processing using the CLI.

Cancellation would be useful in two cases:

- User manually cancels a in-progress task using the CLI
- Background worker process is shutting down, so in-progress tasks should be cancelled

Optional timeout per task is used in cases such as:

- For tasks that are best-effort. If processing could not complete

[2020-02-03 04:56] #63 closed

[2020-02-08 17:48] #40 closed

[2020-02-09 17:56] hibiken opened #77 "Other serialization format"
Experiment with other serialization format and benchmark performance and memory usage:

Other serialization format:

- msgpack
- protobuf

[2020-02-11 04:28] cielu commented on #77
Hello, hibiken , how to use this lib in go-gin ?

[2020-02-11 05:14] cielu commented on #77
Why I can't kill the process ?

[2020-02-11 05:22] hibiken commented on #77
@cielu  Which OS are you using?

[2020-02-11 05:49] cielu commented on #77
@hibiken  macOS, But I start the worker  in go-gin . Do you have any good idea ? thanks ..

I'm new at go

[2020-02-11 05:56] hibiken commented on #77
So you are using [github.com/gin-gonic/gin](https://github.com/gin-gonic/gin) for your web framework, correct?
And are you starting the workers (`bg.Run(handler)`) from your web server's main?

[2020-02-11 05:59] cielu commented on #77
@hibiken  Yes , that's right . Here is my main func code

[code]

[2020-02-11 06:07] hibiken commented on #77
I see.
The intended use case of `asynq` is that you use `Client` to schedule tasks to be processed in the background outside of a user request, and have another process(main.go) to process those tasks in the background.
So you will create another `main.go` apart from your web server.

So for example, you will have something like this in your web server's main file:

[code]

and create a separate `

[2020-02-11 06:10] cielu commented on #77
Yeah . enhh, I got what you mean . But , can i start the worker in one project ? I don't want separate it .

thanks 😊

[2020-02-11 06:22] hibiken commented on #77
I see.

`Background.Run` method will block and wait for a termination signal (OS signal TERM or INTERRUPT).

I think if you want to start the workers from your web server's main then try this:

[code]

If that doesn't work, then another option is to fork this repo and export `Background.Start` and `Background.Stop` methods (currently they are unexported) and call those to start and stop the backgr

[2020-02-11 06:29] cielu commented on #77
Ohh. Thank you very much !

[2020-02-11 10:30] cielu opened #78 "[BUG] kill -TERM pid the process still exists"
mac os  .

![image](https://user-images.githubusercontent.com/13715811/74228965-706eca80-4cfc-11ea-9048-0caf28dde476.png)

I don't know if this is a bug .

The process could only kill by kill -9

[2020-02-11 11:07] #78 closed

[2020-02-11 17:57] hibiken commented on #78
@cielu  Did you manage to resolve the issue?
You probably need to build the binary first instead of using `go run` .

[2020-02-12 02:45] cielu commented on #78
@hibiken  Thank you !  I have resolve the issue .

 I know the reason about can't kill that process .

Asynq have own graceful shut down way , but the Gin framework don't

asynq :
[code]

so , if I want them work together , Gin should graceful shut down too.

[code]

But it is still recommend to separate the asynq workers

[2020-02-12 06:29] hibiken commented on #78
Glad that you were able to resolve the issue.
Yes, intended use case for Asynq is to have it's own worker binary separate from web server binary.

This was a useful feedback, maybe I can export `Start` and `Stop` methods for the `Background` to let user of the library manually handle shutdown. I'll consider that if more user requests it.

Thanks for creating the issues!

[2020-02-12 07:04] cielu commented on #78
Haha，Look forward to  version 1.0

[2020-02-13 14:23] #69 closed

[2020-02-14 05:21] hibiken opened #83 "[FEATURE REQUEST] asynq CLI to support filtering"
**Is your feature request related to a problem? Please describe.**
When you have a lot of tasks, it'd be useful if `ls` commands support filtering

**Describe the solution you'd like**
filter should support

- type name
- error message
- payload

[2020-02-14 05:23] hibiken opened #84 "[FEATURE REQUEST] Support Task expiration"
**Is your feature request related to a problem? Please describe.**
`Client` should be able to schedule a task with an expiration time.
If a task doesn't get processed by the expiration time, the task should be skipped.

[2020-02-18 01:46] gunnsth opened #87 "[BUG] Reduce number of unnecessary dependencies"
**Is your feature request related to a problem? Please describe.**
When utilizing in my program, `go mod download` pulls in a large number of dependencies. Many of which are related to the nice but "optional" CLI tool.

**Describe the solution you'd like**
Move the CLI to a separate project such as asynq-cli or similar.
Or possibly create a separate nested go.mod file under the CLI folder.

**Desc

[2020-02-18 02:02] gunnsth opened #88 "[QUESTION] Is it safe to run multiple instances of worker?"
Is it safe to use 4x workers with for example concurrency 20 each? For example in a containerized environment, where each worker runs in its own container?

Just wondering because I did not see this addressed specifically in other questions or documentation.

[2020-02-18 04:25] hibiken commented on #88
@gunnsth Thanks for opening an issue and asking this question.

You should be able to run multiple worker processes connecting to the same Redis instance and read from the same queue. Alternatively, you can run multiple worker processes with each reading from different queues.

There's  `asynqmon ps` command to list all workers processes.

Please let me know if you run into any issues!

[2020-02-18 05:50] hibiken commented on #87
@gunnsth Thanks for opening this issue.

Fix is in #89

[2020-02-18 05:55] #87 closed

[2020-02-18 19:33] gunnsth commented on #88
Thanks.

[2020-02-18 19:33] #88 closed

[2020-02-18 22:58] gunnsth opened #90 "[BUG] Same task received/processed by more than one worker"
**Describe the bug**
The problem is that I spawned a taskqueuer that queued tasks ranging from now - 10 minutes to now + 10 minutes.  With 4 workers running (each at concurrency 1).

The output I got was:
[code]

So tasks 3 and 4 were received twice, which could lead to problems, although I admit the case I am working with is a bit strange.  I.e. minutes in the past etc.

**To Reproduce**
Steps to

[2020-02-18 23:05] gunnsth opened #91 "[FEATURE REQUEST] Create tasks without timestamp"
**Is your feature request related to a problem? Please describe.**
Sometimes I don't really want to schedule a task. Just want it to get processed as soon as possible (next slot ready). It feels a bit awkward to need to provide a timestamp for that, even if time.Now() will work in most cases (assuming that the clocks are well synchronized - which normally would not be a problem).

**Describe the s

[2020-02-19 04:37] hibiken commented on #90
Thanks for filing this bug report!

I ran the same code on my machine with 4 worker processes reading from the same redis instance but could not reproduce the bug.

It could be that you've run the client code multiple times and there were duplicate tasks in Redis. Would you mind trying this again with clean Redis DB?

You can `asynqmon stats` to make sure that there's no tasks in Redis.
You can fl

[2020-02-19 05:12] hibiken commented on #91
Thanks for this feedback!

As described in [Life of a Task](https://github.com/hibiken/asynq/wiki/Life-of-a-Task), when you call
[code]
Task will be enqueued immediately to a queue (FIFO queue) and will be dequeued by a worker as soon as it gets to the front of the queue.

My initial thought behind exporting just one method from  the `Client` type was to keep the API surface area as small as possi

[2020-02-19 08:22] gunnsth commented on #91
Yes that sounds great.

[2020-02-19 14:21] hibiken commented on #91
@gunnsth Would you like to work on this?

[2020-02-19 14:56] gunnsth commented on #90
@hibiken I prepared an environment where this can be reproduced (uses docker, docker-compose):
https://github.com/hibiken/asynq/compare/master...gunnsth:issue90-reproduce?expand=1
to reproduce it:
[code]

It will not always give exactly the same results, I guess there's some stochastic/random factor that determines which taskrunner catches tasks.

Example outputs:
[code]
We see that both taskrunne

[2020-02-19 23:56] gunnsth commented on #91
@hibiken Sure. I can take a look at it. Need to familiarize myself a bit with the internals first and best ways for debugging. Should be fun. Might take a while though as I am pretty swamped at the moment.

[2020-02-20 02:28] hibiken commented on #90
@gunnsth
Could you try adding this to your `taskqueue.go` to flush DB to start from clean slate?

[code]

[2020-02-20 03:43] hibiken commented on #91
No pressure! Feel free to ping me on [gitter channel](https://gitter.im/go-asynq/community) if you have questions 😄

[2020-02-22 16:49] hibiken commented on #77
Closing this issue for now

[2020-02-22 16:49] #77 closed

[2020-02-23 05:21] #39 closed

[2020-02-24 04:40] #91 closed

[2020-02-28 05:53] hibiken opened #98 "[FEATURE REQUEST] Better support for error reporting"
**Is your feature request related to a problem? Please describe.**
We should provide a hook to allow users of the library to customize error reporting.

**Describe the solution you'd like**
Add "Listener" field in `Config` for events that users would care about

- When handler returns an error and will be retried
- When task exhausts its retry count and moved to dead queue.

**Describe alternative

[2020-03-01 06:09] #98 closed

[2020-03-05 11:37] rugwirobaker opened #103 "[FEATURE REQUEST] Add a function to create RedisConnOpt from a URL"
I like how unlike most `redis` backed `task queues` you have abstracted away connection pooling so I don't have to think about which client to connect with. However I had to write my own `redis ParseURL` function cause it was bit annoying passing multiple configuration values for just one resource while I pass just one for all the others.

**Describe the solution you'd like**
Though it's trivial i

[2020-03-05 14:29] hibiken commented on #103
@rugwirobaker Thanks for opening this issue!
I think having a function to create a `RedisConnOpt` from a URL is valuable.

Would you mind explaining the pain points in more detail just so that I understand it better? What was annoying? I'm guessing you had access to a  Redis URL and had to parse it every time you need to instantiate `asynq.Client` or `asynq.Background`?

 For the specification of

[2020-03-06 17:02] rugwirobaker opened #104 "[FEATURE REQUEST] Handler function middleware"
**Is your feature request related to a problem? Please describe.**
Do plan to support middleware functions that behave the same way for example gorilla mux.Middware do? If not how do logging??

[2020-03-06 19:56] hibiken commented on #104
@rugwirobaker Thanks for this feature request!

Could you provide an example code for a potential API for middleware support?

Alternatively, can you simply write a middleware function and wrap your handlers with that middleware?

[code]

would that work? Or should the package offer better support for middleware chain?

[2020-03-07 08:08] rugwirobaker commented on #104
For most use cases this works fine but in cases where you have a lot of middleware functions having something like:
`mux.Use(someMiddlware) ` or  `mux.Add(someMiddleware)` it would help avoid the clutter.

[2020-03-07 15:20] hibiken commented on #104
Ok that makes sense.
Let's add `Use` method to add middlewares to the chain, similar to  [gorilla/mux#Route.Use](https://godoc.org/github.com/gorilla/mux#Router.Use). The method should a variadic function that takes any number of middleware functions. They  should be executed in the order that they are applied.

Example:
[code]

[2020-03-07 21:07] hibiken opened #105 "[FEATURE REQUEST] Client in other languages"
**Is your feature request related to a problem? Please describe.**
We could offer client libraries in other languages. Web applications written in another language can use the client library to enqueue tasks.

**Describe the solution you'd like**
Add a client library for

- [ ] Python
- [ ] Ruby
- [ ] NodeJS
- [ ] Java
- [ ] PHP
- [ ] Elixir

**Additional context**
These client libraries should be

[2020-03-09 00:12] #84 closed

[2020-03-09 09:13] rugwirobaker commented on #103
Hey, I have noticed that the redis client you are using already has it's own parser. Wouldn't be a good idea to just use that and build from there?

[2020-03-09 13:18] hibiken commented on #103
I see. [Redis#ParseURL](https://godoc.org/github.com/go-redis/redis#ParseURL) returns [Options](https://godoc.org/github.com/go-redis/redis#Options) which we can use for `RedisClientOpt`. But we also want to support `RedisFailoverClientOpt` which needs [FailoverOptions](https://godoc.org/github.com/go-redis/redis#FailoverOptions) From the redis package.  Maybe we could look at their implementation

[2020-03-10 17:44] cayter opened #108 "[FEATURE REQUEST] Allow custom logger by making logger an interface"
**Is your feature request related to a problem? Please describe.**
I'm currently trying to integrate `asynq` into my [web framework](https://github.com/appist/appy)(heavily inspired by Rails which also supports SPA prerender using chromedp when running in docker image and more feature improvements coming from Rails experience) which it already has its own logger.

**Describe the solution you'd lik

[2020-03-11 03:48] hibiken commented on #108
Thank you for opening this issue!

Would you mind explaining **why** you need to use a custom logger with `Background`?

Also, do you have suggestions on the API for the logger interface?

FYI: #104 maybe useful if you are trying to log something before or after the task processing.

[2020-03-11 04:00] cayter commented on #108
This would allow flexibility to use a more optimised logger like https://github.com/uber-go/zap or https://github.com/rs/zerolog.

After looking into the source code, I think we can start with the simplest first:
[code]

[2020-03-11 04:19] cayter commented on #108
This would allow flexibility to use a more optimised logger like https://github.com/uber-go/zap or https://github.com/rs/zerolog and also standardise the logging message format that users might have.

After looking into the source code, I think we can start with the simplest first:
[code]

I'm aware of #104 and it's not directly relevant to what this issue is about though we will still need it. Th

[2020-03-11 05:01] hibiken commented on #108
Got it. Thank you for the explanations 👍

Here's my initial proposal (feel free to give me feedback):

[code]
I see other popular logging libraries ([logrus](https://godoc.org/github.com/sirupsen/logrus#Logger), [glog](https://godoc.org/github.com/golang/glog)) have similar interfaces.

These libraries have variant for each log level methods, for example:

- `Error(args ...interface{})`
- `Errorf(

[2020-03-11 05:14] hibiken opened #109 "[Proposal] Change Payload to bytes & Add Wrapper around Key-Value pair payload"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when I need to call `GetX` method for all the values in Payload to get all the data (also need to make sure that I don't make a typo in payload key string).
It'd be nice if `asynq` supported en/decoding protobuf or gob message directly so that I can load that data to an object with one method call.

**Describe

[2020-03-11 06:11] cayter commented on #108
Yep, it's almost impossible to fulfill all the 3rd party logger's interface. That's why I'd suggest to go with the simplest/minimal like what you're already doing.

[code]

Then if anyone wants to use a different logger, they could just do:
[code]

In addition, this also bring in a benefit which we can easily mock the logger in unit tests.

[2020-03-11 06:14] cayter commented on #108
Yep, it's almost impossible to fulfill all the 3rd party logger's interface. That's why I'd suggest to go with the simplest/minimal like what you're already doing.

[code]

Note: I'm using `f` suffix to ensure we follow golang stdlib's convention for formatting a message printing.

Then if anyone wants to use a different logger, they could just do:
[code]

In addition, this also comes with a benef

[2020-03-12 15:40] #108 closed

[2020-03-13 21:13] #104 closed

[2020-03-13 22:06] hibiken commented on #109
Closing this for now.

[2020-03-15 15:55] cayter opened #119 "[FEATURE REQUEST] Support unique jobs"
**Is your feature request related to a problem? Please describe.**
Any chance we would be supporting this? More details can be found [here](https://github.com/mperham/sidekiq/wiki/Ent-Unique-Jobs). Thanks.

[2020-03-15 20:20] hibiken commented on #119
Thanks for opening this issue!

I've seen Sidekiq and other libraries supporting uniqueness of tasks(jobs) in Redis. It sounds like a useful feature to include.

I haven't personally used this feature in the past. Would you mind adding more context as to why you would need this feature?

[2020-03-15 20:39] hibiken commented on #103
@rugwirobaker I'm assigning this issue to you for now, but feel free to assign it back to me if you don't have enough bandwidth to work on this in the next few weeks 👍

[2020-03-16 08:33] cayter commented on #119
Here's 1 use case example: https://blog.francium.tech/avoiding-duplicate-jobs-in-sidekiq-dcbb1aca1e20.

In general, when we have a set of servers running behind a load balancer, it's very likely our servers would enqueue a job that does the same thing. As such, having the unique job feature would ensure that we don't enqueue the same job multiple times and waste redundant computing resource(especi

[2020-03-16 16:22] hibiken commented on #119
I see. Thank you for the link and the explanation!

After reading the use cases and Sidekiq's wiki, it sounds like it's reasonable to have **best-effort uniqueness** (i.e., If unique TTL expires then it's okay to enqueue a duplicate task) .

### Here's my initial proposal for the API of the feature (Please provide feedback!).

Provide a function to create uniqueness option.

[code]

Example of enq

[2020-03-17 03:26] cayter commented on #119
I am leaning towards option 2 as this library is gonna be made friendly to those who had used Sidekiq before.

The suggestion is good.

The suggestion is good.

I just roughly looked into the possible options [here](https://github.com/mhenrixon/sidekiq-unique-jobs#locks). I can imagine how much efforts we need to put into to support all of them. So, I wouldn't be pushing for it now as I think the

[2020-03-17 14:24] hibiken commented on #119
If your worker processes are connecting to the same Redis instance, then answer is yes. My thought is to create a lock key in Redis with the given TTL and check that before inserting the task into Redis.

I'm currently planning the feature right now. I should be able to get started on this feature in the next few days 👍

[2020-03-21 18:40] #119 closed

[2020-03-21 18:47] hibiken opened #121 "Run Go Report Card CLI in CI"
CLI documented here: https://github.com/gojp/goreportcard#command-line-interface

Run this command in CI so that we can make sure all of the checks pass before merging PRs.

[2020-03-21 18:48] hibiken opened #122 "Add Wiki page for Unique tasks feature."

[2020-03-21 18:48] hibiken opened #123 "Add Wiki page for Middleware, ServeMux, Timeout, Deadline."
- [x] ServeMux and Middlewares
- [x] Timeout and Deadline

[2020-03-21 18:53] hibiken opened #124 "[FEATURE REQUEST] Show latency of each queue in CLI"
**Is your feature request related to a problem? Please describe.**
Currently, we can only see how many tasks have been enqueued in each queue using the CLI.
It'd be better if we can show the latency of each queue in the output so that user can tell when was the oldest task in the queue was enqueued.

**Describe the solution you'd like**
Show the latency within the `stats` command output.

**Descri

[2020-03-22 19:01] hibiken commented on #122
Done.

[2020-03-22 19:01] #122 closed

[2020-03-23 00:18] hibiken opened #125 "[FEATURE REQUEST] Pause Queue"
**Is your feature request related to a problem? Please describe.**
It'd be nice if we can pause a queue without shutting down the background worker process.
Sidekiq Pro has this exact feature documented [here](https://github.com/mperham/sidekiq/wiki/Pro-API#pausing-queues).
If a queue is paused then the background workers shouldn't process any tasks from that queue.

**Describe the solution you'd

[2020-04-05 15:33] thedolphincampaign opened #129 "[BUG] undefined: syscall.SIGTSTP"
Hi,
I am getting an error below when running example code on Windows. I enabled redis server
[code]

[2020-04-05 18:40] hibiken commented on #129
@thedolphincampaign Thank you for reporting this issue.

Looks like [windows does not have SIGTSTP signal](https://github.com/golang/go/issues/32181).
I'm going to resolve this issue ASAP so that people can use asynq package on windows.

[2020-04-05 21:37] #129 closed

[2020-04-05 21:57] hibiken commented on #129
@thedolphincampaign It should be fixed in v0.7.1. Please let me know if you still encounter any issues.

[2020-04-06 00:28] thedolphincampaign commented on #129
@hibiken  It worked. Thank you for fixing it :)

[2020-04-07 03:13] yxlimo opened #131 "[QUESTION] Is this production ready?"
i am thinking about choose it

[2020-04-07 13:25] hibiken commented on #131
@yxlimo Thank you for asking!

I believe the package is production ready. I've been using in my personal projects.

If you encounter any issues, please let me know. I'm committed to maintaining this package for a long time.

[2020-04-09 01:18] yxlimo opened #132 "[QUESTION] i think set stop in run function is not a good idea"
https://github.com/hibiken/asynq/blob/master/background.go#L253

normally, packages has two methods, `Run` and `Stop`, so i can cleanup other resources before or after Stop(),
another scene is that user will run multipe backgroud server in `main()`, like kafka consumer

[2020-04-09 02:53] hibiken commented on #132
@yxlimo Thank you for opening this issue!
Would exporting `Background.Start` and `Background.Stop` would resolve this?

### Proposal
1. Keep `Background.Run` as is, since it also does signal handling to start graceful shutdown.

2. Expose `Background.Start` and `Background.Stop`, if the user of the package want to have more flexibility around when to start and stop the background workers .

Please

[2020-04-09 03:10] yxlimo commented on #132
Looks good.
also export `Background.WaitSignal` ? more control and more convenient

[2020-04-09 03:24] hibiken commented on #132
Yep, I agree.

So if you opt out of using `Run` then code would something like this to achieve the same effect:

[code]

would that work for your use case?

[2020-04-09 03:32] yxlimo commented on #132
its work, thanks :)

[2020-04-09 04:55] hibiken commented on #132
Actually I've been thinking about doing some major API changes and I think this is a great opportunity to clean up some things.
Let me run this by you and hopefully get your feedback.

[code]

Or optionally you can do `Serve` and `Shutdown` to start/stop background workers manually.
I've take an API ideas from `net/http`'s `Server` type.

[code]

Since this is a disruptive but important change, an

[2020-04-09 06:11] yxlimo commented on #132
1. the idea from `net/http` seems good, but the functions name `NewServer` is confused.If i did not read the doc, i would think it's a server to receive request and produce a job.

2. `Handler is part of Config`: i prefer the api like `gin`
[code]

[2020-04-09 11:55] #131 closed

[2020-04-09 14:55] hibiken commented on #132
Great feedback, thank you! Let me think about this a bit more.

[2020-04-09 16:07] hibiken commented on #132
Ok here's my next proposal, **feedback appreciated!**

### Add

- `func (bg *Background) Use(mws ...Middleware)`
- `func (bg *Background) Handle(taskType string, h Handler)`
- `func (bg *Background) HandleFunc(taskType string, fn HandlerFunc)`
- `func (bg *Background) Start() error`
- `func (bg *Background) Stop() error`
- `func (bg *Background) Shutdown(ctx context.Context) error`
- `ErrBackgroun

[2020-04-10 03:17] yxlimo commented on #132
awesome!  just a little confused.
- since we have `Stop` method, what does `Shutdown` do ?  this method make me think the process will exist.

and here is more thinking(based on the experience of using `gocraft/work` and `sidekiq`):
- `bg.Handler` can receive options to custom each task handler, i think its important. i can't find this feature in current design, the option like `Queues` and `Concu

[2020-04-10 04:32] hibiken commented on #132
I see. I can see why this could be confusing. Let me try to explain.

### First Question

Asynq took a lot of ideas from Sidekiq and [they use OS signals](https://github.com/mperham/sidekiq/wiki/Signals) to handle graceful shutdown ([video](https://www.youtube.com/watch?v=0Q6CbF-ZmB8)).

Currently, when you start background workers with `bg.Run` it waits for signals.
Asynq handles **TERM**, **INT*

[2020-04-10 06:56] yxlimo commented on #132
totally right. thanks for your explanation.

now i understand the design for `Queues`

**For the first question**

after reading the wiki, i found that TSTP just only stop processing new task, and TERM is more useful.

in `go` language,  i found most packages have only one `Stop` method(or `Close`).i think it's enough.  so `stop` method do not need to be exported.
[code]
leave two methods maybe wi

[2020-04-10 14:15] hibiken commented on #132
Yep, just exporting just `Start` and `Stop` makes sense to me (chose `Stop` because of the symmetry with `Start`).

So effectively, if user uses `Start` and `Stop` instead of `Run` they don't get some nice signal handling but I guess that's okay. If we get feature request to export `Quiet`(i.e. stop processing new tasks), maybe we'll add that later.

I'll get started on making these changes and pi

[2020-04-11 16:09] hibiken commented on #132
@yxlimo Now that I've started working on these API changes. I have a few thoughts and want to think about them more (sorry, for going back and forth so many times 🙏).

If this change is blocking you, please feel free to fork and use that in the meantime!

[2020-04-12 00:42] yxlimo commented on #132
It's fine. breaking change needs to thinking more and more.

Looking forward to your final design.

[2020-04-15 04:28] zsiec commented on #132
+1 to exporting these. Some weeks ago I forked and exposed start/stop myself but have now stumbled on this thread and would be happy to remove my fork and use this once it’s ready!

My current implementation handles the syscall  termination signals as I was already handling them before using asynq and it’s helpful to me to have graceful shutdown logic collocated.  It was also trivial to implement

[2020-04-15 14:37] hibiken commented on #132
@zsiec Awesome to hear your feedback! Thank you.

I'm currently drafting a PR for this change, which includes a few breaking changes (I'll make sure to document the upgrade paths in CHANGELOG for those who are on the current version).

[2020-04-19 16:06] hibiken commented on #132
Closed via #135

[2020-04-19 16:06] #132 closed

[2020-04-21 13:28] zhouyang8304 opened #138 "[FEATURE_REQUEST] Add support for Redis Cluster mode"
startJob.Enqueue enqueue QTTMemberID:702303,OutKey:user_main-coin_to_sub_702303_1587398400 Error:ERR 'EVALSHA' command keys must in same slot

Dequeue error: ERR Error running script (call to f_119a32ad4f4ac4f23fba1b8be91aacd2948feb88): @user_script:4: @user_script: 4: Lua script attempted to access a non local key in a cluster node

[2020-04-21 13:31] hibiken commented on #138
@zhouyang8304 thank you for opening an issue!

Are you trying to use Asynq with Redis **cluster**?

[2020-04-21 13:36] zhouyang8304 commented on #138
yes
im use Asynq on  Redis cluster
get error
 Error:ERR 'EVALSHA' command keys must in same slot
How to solve the error

[2020-04-21 13:36] zhouyang8304 commented on #138
redis version 5.0.5

[2020-04-21 13:39] hibiken commented on #138
I see. Asynq currently doesn't support Redis cluster.
It currently supports **Single Node Redis** or **Redis Sentinels**.

I need to investigate how to make it work for Redis cluster. It is an absolute requirement for you to use cluster mode? If so, I can prioritize this bug.

[2020-04-21 13:45] zhouyang8304 commented on #138
ok thanks

[2020-04-21 13:48] hibiken commented on #138
I'll change this to a feature request. Please let me know if this is a blocker for you :)

[2020-04-24 14:45] hibiken opened #139 "[FEATURE REQUEST] Set default options for each task type in Client"
**Is your feature request related to a problem?
It's tedious and error-prone to specify Queue name as an `Option` when enqueuing a task.
If a certain type of task needs to go into a specific queue, it's better to specify that once and not every time enqueueing that type of task.

This also applies to other options as well. It's more convenient and common to say
for this type of task, set timeout t

[2020-04-25 20:06] #103 closed

[2020-04-27 13:45] #139 closed

[2020-04-28 14:18] hibiken opened #143 "[FEATURE REQUEST] Allow setting log levels"
**Is your feature request related to a problem? Please describe.**
User of the package should be able to set the minimum log level.
This would be also useful in testing, since logs in CI are currently a bit noisy when running tests with -v flag.

**Describe the solution you'd like**
Add `LogLevel` field in `Config` and define `Level` type and expose predefined enums for each level

[code]

**Descr

[2020-05-03 23:44] #123 closed

[2020-05-05 13:43] hibiken opened #147 "[FEATURE REQUEST] Change Logger interface"
**Is your feature request related to a problem? Please describe.**
Current `Logger` interface is hard to satisfy without writing a wrapper around popular third-party logging libraries (i.e. `logrus`, `zap`)

**Describe the solution you'd like**
Change the interface to the following so that `logrus` user don't have to write a adapter wrapper around `logrus.Logger`.

[code]

[2020-05-16 15:03] hibiken commented on #147
Closed via v.0.9.0

[2020-05-16 15:03] #147 closed

[2020-05-16 15:04] hibiken commented on #143
Closed via v.0.9.0

[2020-05-16 15:04] #143 closed

[2020-05-26 22:24] jimmy-ho opened #154 "[QUESTION] Way to determine a task is a retry"
Is there an easy way to determine if the current task being processed is a retry? It is not in the context I guess passed to ProcessTask, would be nice to have it in the Task perhaps.

This is useful if I have already completed some set of action, but then need to retry some aspect that failed - unless I need to store some relationship that a particular task failed and thus subsequent will be a re

[2020-05-26 23:04] hibiken commented on #154
Great question and thanks for opening this issue.

Current APIs don't offer an ability to determine whether a `Task` passed to your `Handler` is a retry task.

I think it makes total sense to put task metadata such as `RetryCount` in the `context` Value.
I'll do a little bit of research and update this thread with a proposal 👍

[2020-05-27 04:33] hibiken commented on #154
## Proposal

Here's my initial proposal. Please let me know if you have any thoughts or feedback 😃

 Export functions to extract task metadata  from context:

`GetTaskID(ctx context.Context) (id string, ok bool)`

`GetRetryCount(ctx context.Context) (n int, ok bool)`

`GetMaxRetry(ctx context.Context) (n int, ok bool)`

### Example

[code]

[2020-05-27 10:48] jimmy-ho commented on #154
@hibiken looks good to me, thanks for your time in looking into this.

[2020-05-28 11:40] jimmy-ho opened #155 "[FEATURE REQUEST] Add ability to check heartbeat?"
I would like to call into either the *asynq.Client or *asynq.Server for whether they are healthy - ie. can connect to redis etc.

It seems at the moment this is not possible, I want this so my health-check route can come back with a valid response if they are not well.

Hopefully not something hard to add, or if you can enlighten me how to get this status (if available). Thanks!

Maybe a quick:

[

[2020-05-28 14:12] hibiken commented on #155
@jimmy-ho Thanks for opening this issue!

This is a good feature request. It's something we can (and probably should) add to `asynq.Server`.

For context:
Current implementation has a "heartbeater" goroutine that periodically writes server state to redis (so that we can inspect it with `asynq servers` and `asynq workers` CLI commands).
And I think we can leverage that goroutine to check whether th

[2020-05-29 12:40] #154 closed

[2020-06-04 04:08] xuyang2 opened #158 "[BUG] `Enqueue` shouldn't call `schedule`"
**Describe the bug**
When you call `client.Enqueue(task)` it shouldn't be calling `schedule()`

**To Reproduce**
Steps to reproduce the behavior (Code snippets if applicable):
just call `client.Enqueue(task)`

**Expected behavior**
When you call `client.Enqueue(task)` it should call `enqueue()`

**Screenshots**
![image](https://user-images.githubusercontent.com/6643001/83714119-764a3c00-a65c-11ea-

[2020-06-04 13:47] hibiken commented on #158
@xuyang2 thank you for opening this issue!
I'll look into this once I'm finished with my current feature work. But if someone wants to take this bug, please feel free to take this bug and open a PR 👍

[2020-06-06 14:59] hibiken opened #160 "Replace benchcmp with benchstat"
benchcmp is deprecated in favor of benchstat: https://pkg.go.dev/golang.org/x/perf/cmd/benchstat

Useful link: https://github.com/golang/go/issues/23471

[2020-06-08 13:06] #125 closed

[2020-06-10 11:30] zhaolion opened #164 "[BUG] Proccessor. markAsDone handle err with logger"
**Describe the bug**
Could not get the detail err in https://github.com/hibiken/asynq/blob/master/processor.go#L254.
Only log err in std:

[code]

**Expected behavior**
if err happend,  `logger.Errorf("Could not remove task id=%s err: %+v", task.ID, err)`

**Environment (please complete the following information):**
 - OS: MacOS
 - asynq 0.9.2

[2020-06-10 12:59] hibiken opened #166 "[BUG] Task get stuck in in-progress list when Payload has a large number as a value"
**Describe the bug**
When task get processes successfully, it should be removed from `asynq:in_progress` list in Redis. However the operation to removed the task fails when you have a large number in the payload (caused by JSON number overflowing the target type).

You'll see an error message like this when this happens.
```WARN: Could not remove task id=brgdeqquof2o9md7qoq0 type="test2" from "asy

[2020-06-10 14:49] zhaolion opened #167 "[FEATURE REQUEST] WebUI of server states (like sidekiq's UI)"
We could offer a cmd for serving a comprehensive Web UI for management and monitoring

**Describe the solution you'd like**
maybe we can add a sub cmd in asynq. eg. `asynq webui`.

eg. https://raw.githubusercontent.com/mperham/sidekiq/master/examples/web-ui.png

[2020-06-11 02:28] zhaolion commented on #167
The plan of standalone thing in a separate repo maybe a better choice. I have a sugguestion, maybe we can rename pkg `asynq/internal` as `asynq/pkg`, so a standalone server connect to asynq/server or redis by using `internal/rdb`

[2020-06-11 03:56] hibiken commented on #167
I see. I had similar idea in mind with #50 . Currently we have `inspect.go` file in the `internal/rdb` package, but I'd like to extract that out into its own package and make its API public (other parts of `internal` packages are not public API, so they need to stay under the directory named `internal`).

I haven't settled on the package name yet, but I'm leaning towards `github.com/hibiken/asynq/

[2020-06-11 04:08] zhaolion commented on #167
Got it. `github.com/hibiken/asynq/x/inspect` is more interesting 🤣

[2020-06-11 14:45] xkortex opened #168 "[FEATURE REQUEST] CLI/server for running exec.Command"
**Is your feature request related to a problem? Please describe.**
Running distributed bash scripts / other executables often involves a ton of overhead, job managers, complex pieces of software like Slurm or Kubernetes.

**Describe the solution you'd like**
A binary for a client and one for a server implementing Asynq protocol basically wrapping `exec` calls.

There'd be an `asynqexec` binary wit

[2020-06-11 19:54] hibiken commented on #168
@xkortex Thank you for opening this feature request!
This sounds awesome, it'd be a great addition to the project 🎉

 I think we can put this binary under `/tools` (or you could create a separate directory like `/contrib` or `/x` if you'd like). It'll make a very cool demo as well.

Would  you mind describing the above example in more detail? (I'm not  familiar with the `rush` command so I'm not 1

[2020-06-12 00:17] xkortex commented on #168
Sorry, I probably picked a bit too complex of an example :p
[rush](https://github.com/shenwei356/rush) is a neat little app that just parallelizes jobs.

Precisely :)

The last command just submits a job for each filename found. Basically

[code]
will load up the queue and any server which is able to run that type of job will pick one from the queue and start running it.

Exactly.

Unless I'm miss

[2020-06-12 02:22] xkortex commented on #168
Skeleton: https://github.com/xkortex/asynq/tree/dev/exeq

terminal 1
[code]

terminal 2
[code]

output terminal1:
[code]

`exeq sub -- ls -lah ~`

[code]

`exeq sub -- ffmpeg -i /path/to/vid_h264.mp4 -c:a copy -c:v copy -t 15 /tmp/out_h264.mp4`

Success!

[2020-06-12 02:56] hibiken commented on #168
Thanks for the explanation. The prototype looks good to me.  I also like the command name 😉

Feel free to open a PR whenever you have a merge-able change.
I'm excited to see this command added to the project, and thanks for your contributions!

If you have any questions, you can ping me in this thread or in the Gitter channel 👍

[2020-06-12 13:29] #166 closed

[2020-06-13 13:21] hibiken commented on #90
@gunnsth I finally figured out what's causing this. Fix is in #170

[2020-06-13 13:22] #90 closed

[2020-06-14 12:54] #158 closed

[2020-06-14 12:57] hibiken commented on #158
@xuyang2 I had trouble reproducing this bug on my machine (the conditional always evaluated to `true` for me) so I couldn't add a test case to reproduce the bug.
But it should be fixed by #171. Please reopen this issue if you continue to see the behavior. thanks!

[2020-06-15 12:27] kamatama41 opened #172 "[FEATURE REQUEST] Support cancelation of scheduled tasks"
**Is your feature request related to a problem? Please describe.**
We sometimes want to cancel specific tasks.

**Describe the solution you'd like**
Add a method to cancel them to the asynq client.
Maybe need a method to list all scheduled tasks as well in order to know their ID.
(ref #50)

[2020-06-15 15:45] hibiken commented on #172
@kamatama41 Thank you for opening this issue!

As you said, #50 is related to this. When I opened #50 I was thinking about adding a public sub-package (e.g. `"github.com/hibiken/asynq/x/inspect"`) and expose methods like

- `ListScheduledTasks`
- `DeleteScheduledTask(id string)`

from the sub-package. But I can see the benefit of adding directly to `Client` as you suggested. I'll consider both opt

[2020-06-15 20:42] kamatama41 commented on #172
Thanks for the quick response and suggesting workarounds!

Option 2 is not for us because our tasks don't have specific deadline and the reason for cancelation is that the task is no longer needed or with wrong parameter.

About option 1, it would work for us. However, as we are using asynq client on a Go application, we eventually would like to cancel tasks on the app via client.

[2020-06-16 20:03] toszo opened #173 "[FEATURE REQUEST] Support RabbitMQ queue"
**Describe the solution you'd like**
RabbitMQ as a message broker for tasks.

**Describe alternatives you've considered**
MQTT broker which would enable IoT usage.

**Additional context**
Working on a distributed system that part of which will run on the Edge devices.

[2020-06-17 02:45] hibiken commented on #173
@toszo Thank you for opening this issue!

I've thought about adding support for other message brokers and RabbitMQ is one of them. And this is definitely in the project's roadmap. However, I'd like to work on this after we have solid features implemented with Redis as a broker. If you need support for RabbitMQ soon, I'd say it's better to look for other solutions. It'll probably take a few months

[2020-06-17 02:56] hibiken commented on #172
I see. Thanks for sharing context :)

What you are looking for is actually implemented but they are not part of public API yet. It's in one of our internal packages called `"rdb"` and `inspect.go` file includes all the methods to inspect and modify current state of queues and tasks.

Here's the link to the methods that may help you.

[`ListScheduledTask`](https://github.com/hibiken/asynq/blob/mast

[2020-06-24 18:25] muku2211 opened #175 "Create Dynamic Queues?"
Hi, I need to create queues dynamically on the fly and have the workers consume from these queues. Currently I'm able to create new queues by just passing the name of the new queue using `asynq.Queue` but the workers do not pick them up. Is there a way to subscibe running workers to the newly created queue?

[2020-06-24 19:03] hibiken commented on #175
@muku2211 Thank you for opening this issue!
With the current API, we need to specify the list of queues when we initialize `asynq.Server`.
It is possible to add an ability to consume all queues, but I'd like to understand your use case a bit more before adding that option.

Is it possible to enqueue all your tasks to the default queue without dynamically creating named queues?
If not, would you mi

[2020-06-25 05:07] muku2211 commented on #175
@hibiken Thanks for the quick response!
Our use case is to create and run outbound dialling campaigns and each campaign has to be run during specific times. For eg. if there are two campaigns A & B, A should be run from 12:00pm - 3:00pm whereas B should be run from 6:00pm - 8:00pm.
Also, we want to make sure that there is fairness among campaigns. For eg. If Campaign A has 5 calls [1,2,3,4,5] and

[2020-06-25 14:53] hibiken commented on #175
I see. Thank you for that detail.

From what you shared, I think you'd be able to achieve the same effect with using `EnqueueAt` and providing the time the task should be processed.

For example, if you have tasks A1, B1, A2, B2, A3, B3, A4, A5 and these need to be processed in this order, then you can
schedule these tasks with `EnqueueAt`.

[code]

This way you don't have to create separate queue

[2020-07-03 15:52] xkortex opened #179 "[FEATURE REQUEST] Trackable UID for publishing events"
**Is your feature request related to a problem? Please describe.**
Currently, tasks are "fire and forget". There is no way to check on a particular task once it's been enqueued. I can think of several instances where you may want to perform different logic if a task fails / times out (without getting into a full-blown scheduler of course!)

Example use case: for exeq jobs, I'd like to notify the c

[2020-07-03 17:58] hibiken commented on #179
@xkortex Thanks for opening this issue!

#178 will resolve this issue. It's similar to 4 approach you suggested above.
Let me know if you have thoughts on the new API.

Thanks!

[2020-07-06 22:10] #179 closed

[2020-07-08 14:22] hibiken commented on #175
Closing this for now.

[2020-07-08 14:22] #175 closed

[2020-07-15 21:15] cemremengu opened #182 "Support RedisCluster client"
First of thanks for the great work! I would like to know if it is technically possible to support Redis cluster or it is out of the scope of the project?

[2020-07-16 04:13] hibiken commented on #182
@cemremengu thank you!
It's definitely on the project's roadmap but currently it only supports Single Redis node or connecting via Redis Sentinels.

Thank you for opening this issue though, seems like Redis Cluster support is something that people are interested in #138 .
I can start looking into this more once I finish my current projects 👍

[2020-07-16 16:35] oliverproud opened #183 "[FEATURE REQUEST] Recurring scheduled tasks using a CRON schedule"
**Is your feature request related to a problem? Please describe.**
I need a task to be enqueued at the same time each day.

**Describe the solution you'd like**
To be able to schedule a task to be enqueued using a CRON schedule. This task will then be enqueued repeatedly, based on the CRON schedule. E.g. Task to send an email is enqueued at midnight, everyday.

**Describe alternatives you've consi

[2020-07-17 04:49] hibiken commented on #183
@oliverproud Thank you for opening this issue!

I see a lot of similar libraries implement this feature.
I'll look into this over the weekend and will update this thread with an initial proposal.

[2020-07-17 08:33] oliverproud commented on #183
@hibiken That's great, thank you for your reply!

[2020-07-18 07:54] zhaolion commented on #173
😄 Hello, @hibiken.  I had use Kafka & Redis as message broker for async tasks system at the same time(an ugly combination, but it's useful), I hope you will consider adding support for Kafka/RabbitMQ :)

[2020-07-18 07:58] zhaolion commented on #173
How can I get the solid features plan in your design, Maybe I can contribute some features 🤓

[2020-07-18 08:15] zhaolion commented on #124
An idea:

- Provide middleware of server side or client side, deliver performnace data to promethues  and show it in Grafana. 🤔

[2020-07-18 10:38] rrupesh commented on #167
@hibiken would you consider having the CMD functionality as part of `async.Client`? It would really be handy to keep track of all the jobs that are running. For example, I'd want to pause all jobs or selectively cancel / restart a job. Having this functionality part of `client` would be an easy integration with the existing code.

[2020-07-18 12:28] hibiken commented on #167
@rrupesh thanks for commenting!
Actually I'm currently working on it 😄 All the functionality you get with asynq CLI will be available though a new type called `Inspector`. This change should be in the next release v0.11.0.

[2020-07-18 12:42] hibiken commented on #173
@zhaolion thanks for commenting!
I've been exploring Kafka recently (I don't have any experience with it, so I need to learn it first 😄 ). I think it'd be great if `asynq` can also support Kafka as a message broker.

In terms of features to implement before working on adding support for other message brokers, I'd like to at least resolve these issues:

- Periodic Task feature #183
- Support Redis

[2020-07-18 12:49] hibiken commented on #124
@zhaolion interesting! Integration with Prometheus seems like a great thing to have.
Let me look into this as part of https://github.com/hibiken/asynq/projects/2 👍

[2020-07-18 22:44] rrupesh commented on #167
@hibiken Thank you very much! I was using `gocraft` until this morning. I learnt about your awesome work and it took me about 30 mins to literally migrate from `gocraft` to `asynq`. Almost a drop-in replacement. Btw, do you have a donate / buy me a coffee or similar link? lmk!

[2020-07-19 03:16] hibiken commented on #167
@rrupesh thanks! I may consider adding Github support button to this repo eventually (e.g. when I commit to v1 compatibility). But for now I enjoy working on this project and it's really rewarding to hear feedback on it from people like you. So thank you for your feedback!!

[2020-07-20 13:22] hibiken commented on #183
Hi @oliverproud , here's my initial idea on what the API would look like, let me know if you have any thoughts or feedback!
I'm still trying to figure out the semantics around duplicate task. For example, if there are multiple server running the same cron configuration, should we deduplicate?

## Initial Proposal

Introduce a new `Cron` type to register periodic tasks.
This cron scheduler can be r

[2020-07-20 18:02] oliverproud commented on #183
Hi @hibiken, proposal looks great to me. In regards to your open question, that is outside of my area of expertise so I'm going to have to defer to you.

Thanks for your response!

[2020-07-24 13:50] hibiken commented on #155
### Initial Proposal

Add `HealthCheckFunc` in `Config`:

[code]

By integrating with monitoring and alert system (e.g. Prometheus),  users can monitor asynq.Server's health and alert if the server is having issues.

[2020-07-28 12:36] hibiken commented on #60
This should be accomplished by using a monitoring tool such as Prometheus.
See examples in the [Monitoring and Alerting Wiki page](https://github.com/hibiken/asynq/wiki/Monitoring-and-Alerting).

[2020-07-28 12:36] #60 closed

[2020-07-29 05:47] #172 closed

[2020-07-29 05:48] #50 closed

[2020-07-29 05:48] #155 closed

[2020-08-31 16:52] 3timeslazy opened #187 "[FEATURE REQUEST] make inspector non-internal package"
Hello! Thanks for your project!

**Is your feature request related to a problem? Please describe.**
There is a need to interact with asynq over HTTP and not through the CLI. This is not possible now because RDB is an internal package.

**Describe the solution you'd like**
Move RDB into `pkg`

[2020-08-31 21:59] hibiken commented on #187
Thanks for opening the issue!

There's a public API from [`Inspector`](https://godoc.org/github.com/hibiken/asynq#Inspector) type that exports a subset of RDB functionality.
Let me know if that doesn't meet your need, we can add more functionality to `Inspector` 👍

[2020-09-06 18:56] ianldgs commented on #105
Rust would also be great

[2020-09-06 22:34] hibiken commented on #105
@ianldgs Definitely, added Rust to the list 👍

[2020-09-12 19:59] #138 closed

[2020-09-12 19:59] #182 closed

[2020-09-12 20:31] hibiken commented on #168
@xkortex I'm closing this for now. Let me know if you are still interested. Thanks!

[2020-09-12 20:31] #168 closed

[2020-09-12 20:32] hibiken commented on #187
@3timeslazy I'm closing this. Please let me know if the current Inspector API meet your needs 👍

[2020-09-12 20:32] #187 closed

[2020-09-12 20:33] hibiken commented on #83
Closing this. Since v012.0 you should be able to filter from each queue.

[2020-09-12 20:33] #83 closed

[2020-09-14 13:59] #160 closed

[2020-09-15 03:35] ChristianYeah opened #192 "[FEATURE REQUEST] access to the real-executed queue name somewhere"
It seems like there is no way to get the queue name which is processing in especially when the StrictPriority is set to true

[2020-09-15 03:58] hibiken commented on #192
@ChristianYeah Thank you for opening this issue!

Which version of the package are you using? And do you have CLI (github.com/hibiken/asynq/tools/asynq) installed as well?

[2020-09-15 04:03] ChristianYeah commented on #192
I'm using asynq v0.11.0 currently, and I installed the latest asynq tool as well. However, I prefer to get the queue info in the middleware so I will be able to do some extra stats by myself.

[2020-09-15 04:12] hibiken commented on #192
You should be able to see which queues are being processed by running `asynq.Server` by running the following command.

[code]

But if you'd like to get a hold of queues that are being processed within your code, then I think we need to add a method to the [`Inspector`](https://godoc.org/github.com/hibiken/asynq#Inspector) type. Would that help?

**Side Note**: I recently released v0.12 which incl

[2020-09-15 04:21] ChristianYeah commented on #192
that will be great. It's not urgent for me currently.

BTW, when I define the ErrorHandler during the server initialization according to the doc, It doesn't work as described in the comments
https://github.com/hibiken/asynq/blob/82b6828f434904428225b90e9ff404bb133361e4/server.go#L101
[code]
an error will raise,
[code]

Thank you very much

[2020-09-15 04:36] hibiken commented on #192
Got it, I'll get to this issue in the next few weeks 👍
Let me make sure that I understood your ask correctly:
Do you need a list of queue names that are currently being processed by `asynq.Server`(s)?

---

Sorry about the ErrorHandler. The pacakge is still undergoing API changes from a version to another.
`ErrorHandleFunc` interface is now

[code]

Please let me know if you still having issues!

[2020-09-15 04:41] ChristianYeah commented on #192
I think the info from asynq tool is sufficient and I can pull the data from Redis for some simple customizations. :)

[2020-09-15 04:51] hibiken commented on #192
Sounds good! I'll keep this issue open so that if other people have the same ask, I'll revisit this 👍

[2020-09-15 10:34] 3timeslazy commented on #187
@hibiken thanks for your help!

[2020-09-15 16:27] itsursujit opened #194 "[FEATURE REQUEST] Implement some feature if not already exists"
Thanks for this great library.

I was wondering if following features already exists in this library:

- Filter or intercept the task on queue and do operations like Stop/Pause/Resume tasks
- Move tasks based on filters or intercept to other queue
- Create queue and workers dynamically
- Increase or decrease worker concurrency at runtime
- Add/Remove workers on different servers from a Queue

Basi

[2020-09-15 22:50] hibiken commented on #194
@itsursujit Thanks for opening this issue! These are all very interesting features.

---

We have [`PauseQueue`](https://godoc.org/github.com/hibiken/asynq#Inspector.PauseQueue) and [`UnpauseQueue`](https://godoc.org/github.com/hibiken/asynq#Inspector.UnpauseQueue) methods on [`Inspector`](https://godoc.org/github.com/hibiken/asynq#Inspector). Also, the CLI has the `pause` and `unpause` commands.

[2020-09-16 04:56] itsursujit commented on #194
Sure,

Not sure if this is what you need. What do you mean by "Filter or intercept the task"?

By filter or Intercept the task, I mean before/after the task is put on the queue and consumer has still not consumed the task, I could filter the list of tasks by payload and do operations like Delay such task, Stop them or pause or resume them.

Use-Case:
Users are sending tasks to a dynamically create

[2020-09-16 18:17] itsursujit commented on #194
Also another important use-case could be Shared Vs Dedicated Queue/Workers:

Shared Queue Workers:
- As a developer, I would define all required queues (with priorities), no. of workers required for each queues
- Apply different strategies to dispatch to queues with appropriate priorities.
   ROUND-ROBIN strategy - Whichever queue is free, send to that queue irrespective of queue priorities,
   WE

[2020-09-16 23:17] hibiken commented on #194
It's difficult to discuss multiple features in one thread 😞  Would you mind opening an issue per feature request?
That way I can tackle each issue one at a time 👍

[2020-09-17 01:13] itsursujit commented on #194
Sure

[2020-09-17 01:51] sujit-baniya opened #195 "[FEATURE REQUEST] Create queue workers dynamically"
Currently the system requires to create and assign workers for a queue on compile time. To add multiple workers to queue, one has to bring up workers for that queue manually which in my view in not scalable.

In my opinion, if we could have following approach of creating workers and assigning them to queue.

- Ability to bring up cluster of empty worker (no assignment to queue) on different server

[2020-09-17 01:52] itsursujit opened #196 "[FEATURE REQUEST] Shared and Dedicated Queue Workers with strategy"
Shared Queue Workers:
- As a developer, I would define all required queues (with priorities), no. of workers required for each queues
- Apply different strategies to dispatch to queues with appropriate priorities.
   ROUND-ROBIN strategy - Whichever queue is free, send to that queue irrespective of queue priorities,
   WEIGHTED strategy - Send to queue with appropriate queue based on messages. Hig

[2020-09-17 02:02] sujit-baniya opened #197 "[FEATURE REQUEST] Filter or intercept the task on queue and do operations like Stop/Pause/Resume tasks"
In Shared or Dedicated queue, it's good to have filter feature for tasks on queue. This feature will allow to do operations like Stop/Pause/Resume/Stats for the subset of tasks on queue.

By filter or Intercept the task, I mean before/after the task is put on the queue and consumer has still not consumed the task, I could filter the list of tasks by payload and do operations like Delay such task,

[2020-09-17 02:04] itsursujit commented on #195
https://github.com/hibiken/asynq/issues/194

[2020-09-17 02:04] itsursujit commented on #196
https://github.com/hibiken/asynq/issues/194

[2020-09-17 02:04] itsursujit commented on #197
https://github.com/hibiken/asynq/issues/194

[2020-09-17 13:40] hibiken commented on #197
Maybe not exactly what you need, but you can implement your `Handler` to do a pre-check.

If you are using `ServeMux`, you can accomplish this by adding a middleware, which will be called for all tasks regardless of its type.

Example:
[code]

[2020-09-18 11:48] ChristianYeah commented on #192
@hibiken Hi, Ken.

In my project, I don't care about the retry, but the logging info.

currently, the Task struct has Payload attribute, and Payload's data is private
[code]

And the Payload has an attribute called data, which is private.
[code]

In my project, I prefer to output the task payload into log directly rather than retring, so I can apply filebeats to servers as I can collect the log or

[2020-09-18 12:26] sujit-baniya opened #198 "[PERF] High CPU consumption when load testing"
I tried to do load testing and CPU for worker (above 100%), redis and clients were above 60%

https://www.dropbox.com/s/o38apit2ulb44cp/Screen%20Shot%202020-09-18%20at%2018.07.29.png?dl=0

[code]

[code]

[2020-09-18 17:14] itsursujit commented on #195
I don't find the way to get the worker details attached to a queue.

[2020-09-18 23:06] hibiken commented on #192
I see. Thanks for this feedback!
It makes sense to have `Payload` implement [`fmt.Stringer`](https://golang.org/pkg/fmt/#Stringer) interface.
I'll make that change soon.

[2020-09-18 23:08] hibiken opened #199 "[FEATURE REQUEST] Payload type to implment fmt.Stringer interface for debugging purpose."
Context: https://github.com/hibiken/asynq/issues/192#issuecomment-694822359

[2020-09-20 04:11] hibiken commented on #196
You could use `Inspector.CurrentStats` to inspect the size of the queue. You can implement strategies listed above in your application code. I don't think we want to implement this at this package level (at least for now).

[2020-09-20 04:11] #196 closed

[2020-09-20 04:16] hibiken commented on #195
Thanks for opening this issue. I agree with some of your points but I don't think I can modify the package to implement all of the features requested.

My current thinking is to add the following features:
- Allow worker (`asynq.Server`) to update its concurrency at runtime.
- Allow worker (`asynq.Server`) to update queue configs at runtime (add/remove queues from which to consume tasks)

To see w

[2020-09-20 04:19] hibiken commented on #194
Tracking this issue with #195, #196 and #197 instead.

[2020-09-20 04:19] #194 closed

[2020-09-20 04:27] itsursujit commented on #195
@hibiken I cloned the package and modified to accept concurrency and queue at runtime.

Don't know if it's better and optimized but for me it worked

[code]

Also I've updated the server to accept handlers at runtime

[code]

[2020-09-20 04:28] itsursujit commented on #195
Now I can do something like:
[code]

[2020-09-20 04:29] hibiken commented on #198
Thank you for opening this issue.

CPU usage above 100% was most likely due to the worker process using more than one core on the machine.
With this simulated load, your Redis server is being slammed by many requests. Using redis cluster instead to balance the load across multiple instances may help.

I will look into a way to minimize the CPU usage by the package.

[2020-09-20 04:30] itsursujit commented on #195
Is there any way to stop server if idle for 30 or so?

[2020-09-20 14:33] #199 closed

[2020-09-20 17:38] hibiken commented on #192
@ChristianYeah I've added `String()` and `MarchalJSON()` methods to `Payload`. I have a few more changes I want to include in the next version release, so it the change hasn't been released yet. But feel free to fork the repo and use it until then!

Let me know if you have more feedback 👍

[2020-09-20 17:38] #192 closed

[2020-09-21 17:45] xkortex commented on #168
Yeah, that's fine. I got an implementation up and running but just when I was about to get it polished up for merger, I got slammed with a bunch of things at work. I've been using it to great effect on my system but it's still a bit rickety, so I'll just PR once I'm happy with it :)

[2020-09-27 20:30] rverton opened #201 "[BUG] panic in handler function is not caught"
After a long time debugging why my tasks just fail without me giving any hint why, I noticed that some code in my handler result in a runtime panic. I found [this](https://github.com/hibiken/asynq/pull/3) commit here which *should* catch panics in handler as I understood, but it does not. The job just fails and is put into the retry queue.

**To Reproduce**

My code is like this:
[code]

Running t

[2020-09-27 21:25] rverton commented on #201
I just noticed that I'm also not able to catch a regular error in my logging middleware. Am I doing something wrong here? What is the common way to handle errors in handlers/logging them?

[2020-09-27 22:35] hibiken commented on #201
@rverton Thank you for opening this issue.

The `loggingMiddleware` you provided seems fine, it should be catching errors returned from your Handler. I will look into that. As for the panic case, the middleware cannot catch that case with the current implementation. I may look into a way to enable that or I can simply clarify this in the documentation.

For error handling, there's a specific handl

[2020-09-28 15:58] rverton commented on #201
Hey @hibiken,
thanks for the fast response. Awesome, defining the `ErrorHandler` in the server config allows me to print all occurred errors. It also did catch the runtime panic caused in my handler! I found the example code [here](https://github.com/hibiken/asynq/blob/master/server.go#L105) now but did not know there is even a config option for this. Maybe you can add a hint in the docs for this,

[2020-09-28 15:58] #201 closed

[2020-10-10 09:09] sujit-baniya opened #203 "[FEATURE REQUEST] Is it possible to trigger a callback when status of a task is changed?"
Is it possible to trigger a function whenever status of a task is changed?

For e.g. trigger a function when task A changed it's status from `PENDING` to `ACTIVE`

Similar stuff for queue and workers:
If queue and/or workers are idle for specific time period, stop or kill such queue and/or workers to restore the resources

For e.g.

[code]
Is there something I could do?

[2020-10-11 17:28] hibiken commented on #203
Thanks for opening this issue.

It's an interesting feature request, but with the current implementation this change will most likely degrade the performance significantly (e.g. we would need to deserialize the task message whenever there's a status change). I'm hesitant to make this change at this moment, but you can fork the repo and take a look at the `internal/rdb` package where task messages

[2020-10-12 01:26] itsursujit commented on #203
@hibiken Thanks for the response. I wonder those options are for Task and not Workers or Queues.

[2020-10-13 13:31] #183 closed

[2020-10-13 13:43] hibiken commented on #203
Yes, the timeout and deadline are specific to each task. A worker has limited time to process a task, if the worker cannot complete its task within the timeout (or before the deadline), the task will be retried later and the worker is abandoned to reclaim resources.

I'm not quite sure what you mean by

Could you explain this in more detail?

[2020-10-14 12:37] sujit-baniya opened #204 "[FEATURE REQUEST] UnRegister function to unregister task entries"
New Scheduler functionality is quite awaited feature. Maybe you would consider following functionalities:

- `RemoveEntry` or `UnRegister` function to remove entry by `entryID`. So instead of stopping cron and manually removing the entries maybe it could be done with a function
- View Entries by time period. For e.g. Entries for `@every 30s`, Entries for `@daily`

Also this will allow possibility

[2020-10-20 08:34] rverton opened #206 "[FEATURE REQUEST] JSON output flag for asynq stats"
To monitor the asynq queue, it would be nice to periodically retrieve stats (like the `asynq stats` command currently does), but in a format which can be piped into monitoring tools.

A simple and easy way to do this would be to add a `--json` flag to `asynq stats` which outputs all gathered stats as json. This stats can then periodically be retrieved (with tools like Telegraf) and then displayed

[2020-10-21 16:45] hibiken commented on #206
Thanks for opening this issue!

Seems like a good option to have. I'll include this change in the next release.

[2020-11-25 12:12] wenhuiyu0218 opened #210 "[BUG] A problem at quick start"
defined a struct ImageProcesser,its name should be ImageProcessor

[2020-11-25 14:11] #210 closed

[2020-11-25 14:12] hibiken commented on #210
@wenhuiyu0218 thank you for pointing this out!

[2020-11-26 08:18] notech opened #212 "[FEATURE REQUEST] is there any benchmark result for asynq?"

[2020-11-26 08:26] notech commented on #212
i find a lot of lua script in rdb.go,
such as
[code]

[2020-11-26 23:51] hibiken commented on #212
@notech Thank you opening an issue to ask this question!

You can run all of the benchmark tests in this package with

[code]

You can see the details of the benchmark test in [`benchmark_test.go`](https://github.com/hibiken/asynq/blob/master/benchmark_test.go) file.
Also, you can pass flags to the above command to specify redis server address, redis db number, use redis cluter etc. Check out all

[2020-11-26 23:51] #212 closed

[2020-12-02 13:21] sujit-baniya opened #213 "[FEATURE REQUEST] Is it possible to have multiple servers serving different queues?"
It may sound stupid to ask this question :)
Is it possible to have multiple asynq Servers serving different queues?

My Use Case:
Based on different plans users are assigned to, I want them to assign queues and no. of workers per user as separate asynq server on the application.

Also this allows me to define different queues on multiple asynq servers

In current implementation, I can define concu

[2020-12-02 15:23] hibiken commented on #213
Hi @sujit-baniya , thanks for the question! (This reminds me that I should create a FAQ section in the doc 😄 )

Yes, you can have multiple asynq servers serve different queues.
You can also run multiple asynq servers to handle tasks from the same queue to load balance as well.

Let me know if you still have more questions!

[2020-12-02 15:23] #213 closed

[2020-12-02 15:46] sujit-baniya commented on #213
Thanks for quick reply.
Actually I've cloned your repo and changed most of the things to match my requirement.
One of the change I did was to add Queue and Handlers per queue dynamically.

Most of the changes are working great but I'm stuck here.
[code]

I created 2 servers and assigned different queues per server. But both servers are assigned with all queues.

[code]
Here, srv1 and srv2 are assi

[2020-12-02 15:52] sujit-baniya opened #214 "[QUESTION] Follow-up question: Is it possible to have multiple servers serving different queues?"
Continued from: https://github.com/hibiken/asynq/issues/213

Thanks for quick reply.
Actually I've cloned your repo and changed most of the things to match my requirement.
One of the change I did was to add Queue and Handlers per queue dynamically.

Most of the changes are working great but I'm stuck here.
[code]
I created 2 servers and assigned different queues per server. But both servers are as

[2020-12-02 15:58] sujit-baniya commented on #214
https://www.loom.com/share/c0b9ad054a734eb780341fcb49af2be5

[2020-12-03 01:22] sujit-baniya commented on #214
Also, since we can have multiple servers, is it possible to include server cluster and load-balancer?
For e.g. I bring up 3 servers with same queues.
1) I could choose which server to send
2) Weighted strategy (Least job priority)
3) Failover

[2020-12-03 08:12] sujit-baniya opened #215 "[BUG] Randomly getting this error"
[code]

Place of issue
[code]

[2020-12-03 13:33] dineshgowda24 commented on #105
Rust 💯

[2020-12-03 14:38] hibiken commented on #215
Thank you for reporting this.
A couple of things I want from your side:

- Please include the package version number that produces this error
- Please detail the steps to reproduce the error

From what I see in the log output, you are seeing in this error from your forked version of the package. Can you confirm that this error happens with the original?

[2020-12-04 14:45] sujit-baniya commented on #215
Hi @hibiken I didn't test on original repo but replacing `encoding/json` with https://github.com/json-iterator/go seems to have fixed the issue.

Thanks for the response 👍🏼

[2020-12-04 14:45] #215 closed

[2020-12-11 08:32] dishcheng opened #216 "[Question] Support like release? How can I specify a retry delay?"
In laravel queue
[code]
How can I do like release?

[2020-12-11 14:46] hibiken commented on #216
Hi @dishcheng, thank you for the question!

You can define a function to compute the retry delay and specify that in the [`Config.RetryDelayFunc`](https://pkg.go.dev/github.com/hibiken/asynq#Config).
The function has the following signature:

[code]

---

One way to specify the delay from the Handler is to include this data in the error itself.
Example:

[code]

Let me know if it's not clear, or i

[2020-12-11 15:16] dishcheng commented on #216
I got it , thank you so much!

[2020-12-11 15:18] #216 closed

[2020-12-17 03:26] ChristianYeah opened #218 "[FEATURE REQUEST] return result to middleware"
in some circumstances, a chained job task is required.

I prefer not to write the logic in the current task to re-queue the post-process task

however, the payload is not mutable and only errors will return by the task handler, the middleware is not able to catch any result directly(except the Redis, etc.)

I prefer to consider this as a discussion rather than a feature request, I'm not pretty pro

[2020-12-17 14:13] hibiken commented on #218
Hi @ChristianYeah! Thank you for starting this discussion.

I believe this is a common need, to create some kind of a workflow of sort.
Examples:
- TaskB should be processed only after TaskA has been successfully processed.
- TaskD should be processed only after TaskA, TaskB, TaskC have been successfully processed.

---

Do you have ideas on how the API should look like from the user of the librar

[2020-12-21 05:41] sujit-baniya commented on #218
@hibiken There's a library for workflow: https://github.com/rdleal/go-async

Maybe the `Auto` part is something you might consider.
[code]

[2020-12-21 05:56] sujit-baniya commented on #218
Also in my view, for this library we need
- to have some kind of event handling based on task state.
- pass result of one task to another task

[2020-12-21 06:39] ChristianYeah commented on #218
I think the simplest way is to allow the worker&task handler redirects its result to middleware or post-process middleware.
So developers could define the workflow in the payload rather than in golang code(rebuild & re-deploy are needed). users just need to ensure it's a non-cyclic graph or a DAG.

[2020-12-22 16:31] hibiken commented on #218
@ChristianYeah Do you think storing a result in the context would work? Using [`WithValue`](https://golang.org/pkg/context/#WithValue) from context package.

I'm interested in building a feature for this in a longer term. I'll study how [Celery](https://docs.celeryproject.org/en/stable/userguide/canvas.html) and [Sidekiq](https://github.com/mperham/sidekiq/wiki/Batches) is handling this type of wo

[2020-12-23 08:30] ChristianYeah commented on #218
@hibiken  I tried to override the context via ```WithValue``` function in task's ```ProcessTask``` function. however, I'm not able to get the value in the context in the middleware.

[2020-12-23 13:58] hibiken commented on #218
Yes, you are right, it's not possible to store a result in context and make it available to middleware since context is immutable.
This may require API change in `Handler` interface to return a result as well as an error. I'll work in the next iteration after I wrap up my current work on web ui.

In the meantime, maybe you could store the result in redis and access it in middleware?

[2020-12-25 14:41] bojanz commented on #108
I feel like this feature has regressed since the initial implementation, with the format parameter now removed.

If I have to do something like this:
[code]
Then why am I even getting an args slice and not a single message?

[2020-12-25 22:10] hibiken commented on #108
We never had a variant with a format string (e.g. `Debugf`). The discussion in this thread may be confusing because at one point we considered adding the formatted variants, but I decided not to go down that route since we want to make it as easy as possible to satisfy the interface (i.e. less methods to implement)

That's a valid point. We may need to revisit the API for this custom logger. Pleas

[2020-12-26 19:28] bojanz commented on #108
Thanks for the quick reply!

Your suggestion is much cleaner. I also see that it matches what the stdlib logger does, so definitely my fault for not researching that, apologies. So, perhaps the solution is not to rethink the interface, but document an example somewhere?

[2021-01-03 16:58] sujit-baniya opened #220 "[QUESTION] Is it possible to move a job from one queue to another?"
Is it possible to move a job from one queue to another queue?

Use-Case:
Sometime user has to be moved from low priority to high priority queue.

[2021-01-05 04:55] hibiken commented on #220
Hi @sujit-baniya! Thank you for the question.

The move operation you described above is not supported currently. Once a task is put into a queue, it's stuck with that queue. This is mostly due to the fact that we use the queue name string for the hash tag for redis cluster.

A workaround would be to delete the task from the source queue and enqueue a new task to the destination queue to do a "mov

[2021-01-05 04:55] #220 closed

[2021-01-06 12:08] bojanz opened #221 "[FEATURE REQUEST] Allow handlers to fail a task permanently (no retry)"
**Is your feature request related to a problem? Please describe.**
Asynq supports automatically retrying tasks. In some cases, it is obvious to the handler that a task can't ever be completed successfully. The handler currently has two ways to handle this:
- Return an error, and go through the next N retries.
- Return nil and stop processing.

Returning nil has the downside of not keeping the task

[2021-01-06 17:42] bojanz opened #222 "[BUG] Panics lack context"
**Describe the bug**
Asynq's panic handling only logs the error, without any stack trace information:
[code]
This can make it difficult to debug a panic, which is often generic (e.g. "runtime error: invalid memory address or nil pointer dereference").

Could we at least add the triggering line and file to the output? That would look something like this:
[code]
Since this is still just a suggestion

[2021-01-06 23:30] hibiken commented on #221
@bojanz Thank you for opening this issue, this is definitely much-needed feature.

The solution you suggested sounds reasonable to me. `Handler` can return some sentinel error type to indicate that the task doesn't need to be retried.
I'll include this change in the next version release (should be in a week or two if all goes well).

[2021-01-06 23:33] hibiken commented on #222
@bojanz  Thank you for pointing this out!
I'll see if we can include more meaningful context in the error itself.
At a minimum we should be logging the panic info when we recover from a panic.

[2021-01-13 20:50] bojanz opened #223 "[BUG] Scheduler is too chatty"
Scheduler logs to the INFO level every time it (re)schedules a task. This fills up the logs at the INFO level, forcing us to bump the reporting level to WARN, which is not ideal.

Could we make this log to the DEBUG level instead:
[code]
It feels like it fits better with the other queue server log entries, where INFO tells us that the service is starting/stopping, but stays silent about actual tas

[2021-01-13 21:10] bojanz opened #224 "[FEATURE REQUEST] Allow grouping middleware"
**Is your feature request related to a problem? Please describe.**
Asynq's processors resemble HTTP handlers, down to the multiplexer. This was a great choice, and makes the API easy to use.

Right now the multiplexer allows adding middleware via mux.Use(), but that middleware is always global. There is no way to declare middleware only for a certain group of tasks. If some tasks process orders an

[2021-01-13 23:35] hibiken commented on #223
Good point. I agree with a that.
PR would be welcome!

[2021-01-13 23:42] hibiken commented on #224
@bojanz Thank you for opening this issue! (Your questions and suggestions are always spot-on!)

I personally have not used `chi` but this API is definitely nice to have. Especially as your Handler grows, this grouping of task handlers is going to be very helpful.

Let's implement this feature. Feel free to create a PR if you are interested in implementing 👍

[2021-01-13 23:49] #223 closed

[2021-01-13 23:59] bojanz commented on #224
Thanks, I appreciate that.

 I can look into this in about a week. If anyone needs it before then, feel free to go around me.

[2021-01-14 14:43] #222 closed

[2021-01-14 14:44] hibiken commented on #221
Closed via #226

[2021-01-14 14:44] #221 closed

[2021-01-14 19:58] hibiken commented on #224
Actually I believe you can accomplish this by composing multiple `ServeMux` . Since `ServeMux` performs prefix matching, as long as each "group" has the same type prefix, you can group them.

Example:
[code]

Let me know if this solution works!

[2021-01-15 16:38] sujit-baniya opened #227 "[QUESTION] Is it possible to restart servers or workers when shutdown or killed or exited due to some error?"
It's possible that when servers or workers doing their work, it's possible that they are down unintentionally (Killed or Exited).
Can we automatically start such servers or workers and start consuming from where it left?

[2021-01-17 18:15] hibiken commented on #227
If a process gets killed forcefully (e.g. `kill -9`), the tasks will be processed again (i.e. retried) when you restart the process.
That's why your `Handler.ProcessTask` need to be **idempotent`** because Asynq server will retry any failed tasks.
It's your Handler's job to skip some operations if you want logic such that it'll resume from where it left off.

[2021-01-17 18:15] #227 closed

[2021-01-19 12:15] f-ld opened #228 "[BUG] Too many errors when trying to install asynq command line tool on OSX"
**Describe the bug**
Trying to install the command line tool fails on OSX

**To Reproduce**
Run:
[code]
as documented in https://github.com/hibiken/asynq/blob/00a25ca57040b24830b3ce8af1720cce02864fc6/tools/asynq/README.md

**Expected behavior**
The tool is installed in `$GOPATH/bin`

**Obderved behavior**
Got the `too many errors` output:
[code]

**Additional context**
Also tried:
[code]
so workin

[2021-01-19 14:09] bojanz commented on #224
That works wonderfully, updated my code to do that instead of checking the task type in middleware. Thank you!

I guess all we need is a bit of docs in the wiki for this, then?

[2021-01-19 14:50] hibiken commented on #228
Hi @f-ld Thank you for reporting this issue!

I'm actually not 100% sure why this is happening.
Would you mind initializing a go module and install the dependencies from there?
What I mean is this:

[code]

At least on my machine, this seems to solve the problem. Let me know if this works!

[2021-01-19 14:56] hibiken commented on #224
Awesome! I'll keep this issue open as a reminder to update the wiki 👍

[2021-01-23 17:05] sujit-baniya opened #230 "[FEATURE REQUEST] Filter tasks by payload fields"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
With filtering tasks by payload fields in a queue, I want to do operations on specific tasks only. The operations could be listing such tasks, deleting them, archiving them, etc

[2021-01-26 06:37] hibiken commented on #230
Thank you for opening this issue!

I can see the value in this feature, but it's non-trivial to implement this filter (efficient filter operation).
I'll look into how we can support filtering and searching of tasks and hopefully include this feature in the future release.

[2021-01-27 16:07] mingrammer commented on #167
I'm looking forward to this feature :) Thank you for your efforts.

[2021-01-27 17:12] mingrammer opened #233 "[FEATURE REQUEST] Pass default queue name when initializing client"
**Is your feature request related to a problem? Please describe.**

No, but it is for convenience. Passing the queue name when enqueue tasks every time is too cumbersome. So I'd like to suggest a feature described below.

**Describe the solution you'd like**

It would be good to pass the default queue name when initializing the `asynq.Client` like `asynq.Server` initialization. (If `ClientOption`

[2021-01-27 17:14] mingrammer commented on #233
If you agree with it, I can work for it.

[2021-01-27 18:08] hibiken commented on #233
@mingrammer  Thank you for opening this issue!

Actually, we have [`SetDefaultOptions`](https://pkg.go.dev/github.com/hibiken/asynq#Client.SetDefaultOptions) method on `Client`. Would this work for your use case?

Example:

[code]

[2021-01-28 07:44] mingrammer commented on #233
@hibiken Oh, I didn't check that method. Thank you for letting me know it.

But `SetDefaultOptions` seems to apply to each task. How do you think about a feature that supports global default options for all tasks for a client?

[2021-01-30 06:10] hibiken commented on #233
Hmm I can see the use case for providing a method to set the global defaults. But I'm hesitant to add yet another method to set defaults.
I'll keep this issue open for now to see if other people want this feature, too.

If this feature request gets a lot of upvotes, I think it validates that this is a common need.

[2021-02-01 06:36] hibiken commented on #167
I'm happy to announce the initial release of the web UI 🎉
Please checkout [Asynqmon](https://github.com/hibiken/asynqmon) repo and follow the installation instructions.

Feedbacks are appreciated!

[2021-02-01 06:36] #167 closed

[2021-02-01 06:38] hibiken commented on #195
Currently I'm not intending to support this feature. I'll close this issue for now.

[2021-02-01 06:38] #195 closed

[2021-02-01 06:39] hibiken commented on #197
Closing this issue. Seems stale.

[2021-02-01 06:39] #197 closed

[2021-02-01 06:39] hibiken commented on #203
Currently I'm not intending to support this feature. I'll close this issue for now.

[2021-02-01 06:39] #203 closed

[2021-02-01 06:40] hibiken commented on #228
I'll close this issue for now. @f-ld Please let me know if you are still having trouble.

[2021-02-01 06:40] #228 closed

[2021-02-01 06:41] hibiken commented on #233
Closing this issue for now. I'll revisit if I get similar feature requests.

[2021-02-01 06:41] #233 closed

[2021-02-01 06:42] hibiken commented on #214
Sorry for a delayed response. Yes, it's possible to have multiple servers serving different queues.

[2021-02-01 06:42] #214 closed

[2021-02-01 06:42] #198 closed

[2021-02-01 12:00] zhaolion commented on #167
Thanks for your efforts. Will be used soon 🆒

[2021-02-02 18:35] f-ld commented on #228
Sorry for the late response: yes, works for me now.
Thank you

[2021-02-06 09:36] hellish opened #241 "[FEATURE REQUEST] Redis key prefix"
**Is your feature request related to a problem? Please describe.**
no

**Describe the solution you'd like**
I want to be able to specify a prefix for all redis keys and pub sub channels used in this library. right now everything resides in asynq.* namespace but with a prefix it will be myapp.asynq.*

[2021-02-07 02:00] hibiken commented on #241
@hellish  Thank you for opening this issue!
Would you mind explaining the reason you need this feature in detail, so that I can understand the use case.
It shouldn't be too difficult to add this feature, but I'm not 100% convinced that we need to support this.

[2021-02-10 10:47] xescugc opened #242 "[FEATURE REQUEST] Version 1?"
**Is your feature request related to a problem? Please describe.**

I plan to use this lib as a main Queue system for my company (medium size 5y running). It looks really good and neat, and we would like to use it but the https://github.com/hibiken/asynq#stability-and-compatibility suggests that may not be "production ready" yet.

I was wondering if there is any Roadmap or planning on when the v1

[2021-02-10 23:45] hibiken commented on #242
@xescugc  That's awesome to hear and thank you!

There are few more things I want to work on before releasing the v1.0.
Let me compile a doc for the roadmap to v1 within the next week and share it here 👍

[2021-02-13 16:51] sujit-baniya opened #243 "[BUG] Redis Error when enqueuing using Goroutine"
When many tasks are enqueued within multiple goroutine, the error occurs stating: `panic: redis: connection pool timeout`

**To Reproduce**
[code]

[2021-02-15 08:50] xescugc commented on #242
Perfect because I could help on those missing features for the Roadmap if needed :)

[2021-02-15 22:45] hibiken opened #244 "[FEATURE REQUEST] Support Workflow"
**Is your feature request related to a problem? Please describe.**
We'd like to add support for creating a workflow composed of multiple tasks.
A workflow should be a directed-acyclic graph and can be grouped into multiple phases (or stages).
A good example is Github actions, where a user can compose a workflow from multiple jobs.

**Describe the solution you'd like**
A workflow should be treated

[2021-02-15 22:47] hibiken commented on #218
I'll move the discussion to #244 and close this one.

[2021-02-15 22:47] #218 closed

[2021-02-15 22:57] hibiken opened #245 "Use protobuf to encode messages stored in Redis"
Currently, all task messages are serialized in JSON format and stored in redis.
This comes with two issues:

- JSON takes more space compared to other serialization scheme (e.g. protobuf, msgpack). We can expect less memory usage with these more compact serialization schemes.
- Protocol Buffer has clearer forward/backward compatibility semantics as we evolve the library. We can expect that fields

[2021-02-15 23:02] hibiken opened #246 "[FEATURE REQUEST] Tooling Improvements for v1 release"
I'd like to see a couple more features added to Web UI and CLI, as well  as the `inspeq` package to enhance the developer experience.

Features:

- [ ] Find task by ID
- [ ] Show latency of a queue (i.e. during the oldest task has been pending in a queue)
- [ ] Show the breakdown of task types and their respective count in each queue

[2021-02-15 23:03] hibiken commented on #124
Moved to #246

[2021-02-15 23:03] #124 closed

[2021-02-15 23:04] hibiken commented on #230
Moved to #246

[2021-02-15 23:04] #230 closed

[2021-02-15 23:18] hibiken commented on #242
@xescugc I've created a [project](https://github.com/hibiken/asynq/projects/5)/[milestone](https://github.com/hibiken/asynq/milestone/2) for v1.0.

There are three major work items I want to see completed before we release v1.
- Adding support for workflows #244
- Internal enhancement (json -> protobuf) #245
- Tooling improvements #246

The first two items are fairly large change, and I expect the

[2021-02-22 09:08] andygrunwald commented on #109
Hey @hibiken,
coming back to this, because I am running the same problem here.
Would love to store []byte in the message itself.

What was your reasoning for closing this?

[2021-02-22 14:08] hibiken commented on #109
Hey @andygrunwald thanks for your comment!
I'm actually considering changing the signature of `NewTask` to

[code]

and add a nice wrapper around the payload to make it easier to do key-value pairs like the current API supports.

something like:

[code]

I'll open this issue again so that it's more visible to people.

In the meantime, is it possible to workaround this by storing the bytes as strin

[2021-02-22 18:39] andygrunwald commented on #109
Thanks @hibiken.
I thought about something similar.

Didn't check this yet. Need to do another test.
However, I am also running into this issue:

<img width="977" alt="Screen Shot 2021-02-22 at 19 38 05" src="https://user-images.githubusercontent.com/320064/108753934-9d77cf00-7545-11eb-8851-890a043e9d29.png">

I think the []byte payload is able to solve both.

[2021-02-23 18:39] andygrunwald commented on #109
Related to https://github.com/hibiken/asynq/issues/245

[2021-02-23 22:51] hibiken commented on #109
@andygrunwald Would you mind describing the issue you're seeing in detail?
I want to understand your use case and take that into account when I make API change to support storing payload as `[]byte`.

[2021-03-09 11:04] DemonTPx commented on #204
Hi @hibiken, Would you please reconsider reopening and merging the `Unregister` method PR?

In our project we would like to be able to change the cronspec of existing schedulers. This could be achieved by being able to unregister the scheduled task and rescheduling it.

Your PR seemed to me of perfect use in our project.

[2021-03-09 15:17] hibiken commented on #204
@DemonTPx thanks for the comment.
I'll revisit this feature again this week 👍

[2021-03-11 02:14] sujit-baniya commented on #195
@hibiken Maybe you rethink to implement this feature?

Like the queues are created dynamically for each tasks, It would be better if workers could also be created dynamically

[2021-03-11 02:35] sujit-baniya opened #250 "[FEATURE REQUEST] Ability add workers dynamically on a server"
Currently whenever the task is queued, it creates queue dynamically. For a server to allow to consume the queue, server needs to be stopped, add queue and queue handlers on Mux manually and then start the server.

In my view, creating the workers dynamically is important feature (like in RabbitMQ) without manually intervening server operation.

[2021-03-11 03:11] hibiken commented on #241
Closing this for now. @hellish feel free to reopen the issue if this is still something that you're interested in.

[2021-03-11 03:11] #241 closed

[2021-03-11 04:38] #204 closed

[2021-03-11 04:54] hibiken commented on #250
@sujit-baniya thank you for creating this issue!

I think this is a commonly requested feature. I'll come up with a design/proposal and update this thread again 👍

[2021-03-11 15:14] disc commented on #109
^^ **UPD**:

I found the difference, the keys of object sorted in different way, looks like expected payload sorted alphabetically.

Payload in redis queue `asynq:{app.event}:active`
[code]

Payload in consumer
[code]

[2021-03-11 20:20] hibiken commented on #109
@disc Thanks for updating this issue.
Just to clarify, you're enqueueing a task using PHP client? Not using `asynq.Client`?

FYI: This issue should go away in the next release. I'm currently working on redis key re-design so that we only need to move IDs around and don't need to use JSON data to remove entry from redis sets.

[2021-03-11 20:28] disc commented on #109
Yes, I wrote PHP client for asynq, it just produces a message to the redis queue as the asynq worker expects

[2021-03-11 20:35] hibiken commented on #109
That's great! I should probably document the message schema in Wiki so that people can write clients in other languages :)

Related: #105

[2021-03-24 16:53] dhh93 opened #256 "[FEATURE REQUEST] Specifying Dial/Read/Write Timeouts for the redis.Client"
Thanks for the fantastic library & documentation, it's been great to work with.

Was wondering if we could modify the `RedisClientOpt`, `RedisFailoverClientOpt`, and `RedisClusterClientOpt` structs behind the `RedisConnOpt` to support customized Dial, Read, and Write timeouts.

Currently, the default values are passed when instantiating the `*asynq.Client`:
- 5 seconds for Dial
- 3 seconds for Rea

[2021-03-24 23:49] #256 closed

[2021-03-24 23:53] hibiken commented on #256
@dhh93 Thank you for opening this issue!

Make sense to add these options, it's included in the latest v0.17. release 👍

[2021-04-02 08:03] gopkg-dev opened #259 "[FEATURE REQUEST] Can I return TaskID when calling asynq.NewTask ?"
Because the task is consumed soon after I am in Enqueue.
I want to save the taskid to the database before joining the queue.
Since Enqueue will only return after the call, it may be consumed before the taskid is saved to the database.

My English is not good, I hope you can understand what I mean.

[2021-04-03 18:21] hibiken commented on #259
Thank you for opening this issue!

It's not difficult to make this change, but since it changes the behavior (i.e. breaking change) I want to understand the context in more detail.

Could you elaborate the issue in more detail?
Also, as a workaround, if you want the task not to be processed immediately after enqueue, can you use `ProcessIn` option to delay the processing?

Example:
[code]

[2021-04-04 08:38] gopkg-dev commented on #259
Obviously this is not a good solution.
I need to monitor and manage the status of a task in my database.
But I can only get the taskid after'client.Enqueue' and save it.

It's like this now
`asynq.NewTask -> client.Enqueue -> save taskid to db -> ProcessTask -> asynq.GetTaskID -> update taskid status to db`

I hope it is like this
`asynq.NewTask -> save taskid to db -> client.Enqueue -> ProcessTas

[2021-04-04 19:24] hibiken commented on #259
I see. Actually I'm currently working on a feature to track task status but it'll only be available in the future release.

In the meantime, I have another suggestion which I think is a reasonable workaround.
Instead of relying on ID generated by `asynq` package, you could generate a unique ID for each task and store it as part of the task's payload.

Example using [`uuid`](https://pkg.go.dev/gith

[2021-04-05 06:38] gopkg-dev commented on #259
Thanks for your reply, thanks 👍

[2021-04-05 06:38] #259 closed

[2021-04-05 16:57] koddr opened #260 "[FEATURE REQUEST] Asynq logo"
**Is your feature request related to a problem? Please describe.**
No logo for the project is not a problem, but it affects the growth of the community and the overall recognition of the product. So, I think it's worth taking care of this now.

**Describe the solution you'd like**
Below I have prepared three logo that I personally like the most and convey the essence and meaning of Asynq:

![Scree

[2021-04-05 21:39] hibiken commented on #260
@koddr This is amazing, thank you so much!

I personally like the second one, it looks very clean :)

Would you mind creating different variations of the second one with different
- font
- color (maybe gradient too?)
- angle (I want to see the second one with the angle of the first one)

Once we agree on the logo, I'd like to use it for [asynqmon](https://github.com/hibiken/asynqmon) (Web UI) in i

[2021-04-07 14:56] koddr commented on #260
Hi,

I'll post the options here so I don't have to think and move on with other fonts.

![Screenshot 2021-04-07 at 17 37 55](https://user-images.githubusercontent.com/11155743/113884923-10709880-97c8-11eb-98fe-663a91beb425.png)

Other font and idea:

![Screenshot 2021-04-07 at 17 56 00](https://user-images.githubusercontent.com/11155743/113887901-8bd34980-97ca-11eb-826c-470422667f0b.png)

Of cours

[2021-04-07 18:10] f-ld opened #261 "[FEATURE REQUEST] Ability to cancel pending tasks via inspeq"
**Is your feature request related to a problem? Please describe.**
We use asynq to queue tasks to be handled by a pool of handlers.
For some reason, me might have a lot of tasks queued (for a bug, a stress test, ...) and we would like to be able, for example from the inspector, to cancel them

**Describe the solution you'd like**
After getting some task ID running for example this:
[code]
I would

[2021-04-07 18:48] hibiken commented on #261
@f-ld Thank you for opening this issue.

By looking at the command output, it looks like you are using an older version of `asynq` package.

Deleting pending tasks is supported in the latest version, so if you could upgrade to the latest the following command is what you need:

[code]

Alternative to the CLI tool is the [Asynqmon](https://github.com/hibiken/asynqmon) Web UI.
Once you upgrade the p

[2021-04-12 17:46] koddr commented on #260
Hi,

OK. I'm done with the understanding that it didn't work out to come up with any more distinctive logo. I can certainly send you my attempts, but they are really worse than [this](https://user-images.githubusercontent.com/11155743/113884923-10709880-97c8-11eb-98fe-663a91beb425.png) sketch. It seems to me that in it I fully guessed the mental notes of the project and was able to reflect the ass

[2021-04-12 18:05] hibiken commented on #260
@koddr Thanks for spending time and energy on this 🙏
I actually really like [this logo](https://user-images.githubusercontent.com/11155743/113884923-10709880-97c8-11eb-98fe-663a91beb425.png) and would really appreciate if you'd let me use it in this repo and in the Web UI.

Feel free to open a PR with the logo in the README. Or you can also send me the image assets via email at ken.hibino7@gmail.c

[2021-04-13 02:50] xingshanghe commented on #224
Have you got it done?expecting!

[2021-04-13 10:34] koddr commented on #260
Great news, @hibiken!

For now, I'll put all the files in my repository [here](https://github.com/koddr/asynq-logo).
And today or tomorrow I'll make a PR with the new design into this repository.

![asynq_preview_screenshot](https://user-images.githubusercontent.com/11155743/114539150-dc302880-9c5c-11eb-8f4a-5016f83983c8.jpg)

[2021-04-13 13:55] hibiken commented on #224
Done! See the documentation [here](https://github.com/hibiken/asynq/wiki/Handler-Deep-Dive#grouping-middlewares).

[2021-04-13 13:55] #224 closed

[2021-04-13 14:56] hibiken commented on #261
Closing this issue.
Feel free to re-open the issue if you still need assist 👍

[2021-04-13 14:56] #261 closed

[2021-04-13 14:59] hibiken commented on #243
Duplicate of #256.
You can tune dial/read/write timeout now via `RedisConnOpt` when instantiating `Client` and `Server`.

Feel free to re-open the issue if you are still having this issue 👍

[2021-04-13 14:59] #243 closed

[2021-04-14 11:09] koddr commented on #260
@hibiken PR #262 has been created 👍

[2021-04-14 17:24] hibiken commented on #260
Hooray 🎉
PR merged! The README looks awesome now!
Big thank you to @koddr ❤️

[2021-04-14 17:24] #260 closed

[2021-04-14 17:28] koddr commented on #260
You're welcome, Ken!

Also, can you please add this GitHub cover to repository settings?

![Asynq Preview (Screenshot)](https://user-images.githubusercontent.com/11155743/114753107-c0fa1180-9d5f-11eb-8276-19dd89d52195.jpg)

I'll update dashboard screen, when new version of Asynqmon (with logo) will be available.

[2021-04-16 15:59] gopkg-dev opened #263 "[QUESTION] Setting Concurrency does not work"
I set Concurrency = 200, and there are less than 10 at work, and my tasks are tens of thousands.

How can I fix it and make it all work.

@hibiken

[2021-04-16 16:03] gopkg-dev commented on #263
![image](https://user-images.githubusercontent.com/58848833/115052196-3e648400-9f10-11eb-962f-1c727fd25288.png)
![image](https://user-images.githubusercontent.com/58848833/115052245-4f14fa00-9f10-11eb-85c9-16b8ee3ffb05.png)

[2021-04-16 17:06] f-ld commented on #261
Yes, sorry for the late reponse, running on various topics and this one is only one of them.
Using asynq 0.17.1 inspeq I could implement something cancelling obsolete task from queue (or cancel them and create new ones). That is super nice feature and module, thank you.

[2021-04-16 19:53] hibiken commented on #263
@gopkg-dev thanks for opening this issue!

From the screenshot, it seems like your `asynq.Server` is not configured to consume tasks from your **db_process** queue.
(It seems like you didn't specify the `Queue` option for your server, which means it only reads from the default queue)

You can configure the server to consume task from **db_process** queue like this:

[code]

For more detail documen

[2021-04-21 13:21] hibiken commented on #263
@gopkg-dev Did it solve the issue?

[2021-04-21 14:33] gopkg-dev commented on #263
Thanks for your reply, it has been solved, the reason is that the performance of redis running in docker is limited.

[2021-04-21 14:33] #263 closed

[2021-04-23 02:06] nilam-sorathia opened #264 "[FEATURE REQUEST] Ability to add task's state as optional parameter for uniquekey"
**Is your feature request related to a problem? Please describe.**
The current processing task receives a duplicate task error when attempting to enqueue the next task with the same payload with the unique option.

**Describe the solution you'd like**
I would like to set the task's current state as an optional parameter included in the uniquekey and constraint check so that the current task that i

[2021-04-23 02:35] c-nv-s commented on #206
definitely in favor of this feature too!

[2021-04-24 00:10] unicod3 opened #265 "[FEATURE REQUEST] Processed job's payload and result"
**Is your feature request related to a problem? Please describe.**
Asynq currently removes the successfully processed jobs from Redis.
That means the information about the processed jobs also vanishes like;

- When did the client pushed the job into the queue
- When is the job completed.
- Is a given job id processed successfully.

**Describe the solution you'd like**
It would be nice to keep proc

[2021-04-24 04:46] hibiken commented on #264
@nilam-sorathia Thank you for opening this issue!

Let me make sure that I understood your use case correctly;
Are you enqueueing a task with the same type and payload within the `Handler`(Effectively creating a loop)? Also, why do you need to use the `Unique` option for these tasks?

[2021-04-24 05:47] hibiken commented on #265
@unicod3 Thank you for opening this issue!

Yes, I have been thinking about a feature like the one you described. I really like assigning TTL duration for completed task to keep them around. We can expose that option as a new `Option` type.

Example:
[code]

In addition to those timestamps you mentioned, it'd be nice (in some scenarios) to allow users to store "result" associated with the task. (W

[2021-04-24 12:12] nilam-sorathia commented on #264
Thank you for creating this library, and `asynqmon`, which we also use.  Its clean, well documented, and easy to use.  Much appreciated!

Thats correct, we are creating a loop.   We are enqueuing a job for each tenant, and the work that the job does is expensive (calling external services with api limits, etc..), and some tenants have a lot more work and take much longer to process than others, fr

[2021-04-24 13:20] hibiken commented on #264
Thank you!
I see. I may have a solution if I understood your situation correctly.

Is it possible to only use the `Unique` option when enqueueing tasks from the service that may be called more than once to ensure the uniqueness, but within the task `Handler`, since we already ensured that the task is in question is already unique, we can re-enqueue again without specifying the `Unique` option (If

[2021-04-24 17:10] nilam-sorathia commented on #264
Yes, your proposed solution will address our use case.  I appreciate your time @hibiken.

[2021-04-24 17:10] #264 closed

[2021-04-24 22:11] unicod3 commented on #265
That sounds nice, if you could create something like a milestone or tasks, I also would love to participate in implementing.

[2021-04-26 00:51] tyuwan opened #266 "[BUG] Task worker process the wrong job"
**Describe the bug**
Task worker `HandleParseBookTask` process the wrong job when the task type name `parse:book_chapters` is similar to `parse:book`. It will work if both HandleFunc is defined. I was wondering if this is mux related issue?

**To Reproduce**
[code]
[code]

**Environment (please complete the following information):**
 - OS: MacOS running docker
 - Version of `asynq` package v0.17.1

[2021-04-26 04:17] hibiken commented on #266
@tyuwan Thanks for opening this issue!

This is the intended behavior. `ServeMux` matches the type of each task against a list of registered patterns and calls the handler for the pattern that most closely matches the task's type name.  [The doc](https://pkg.go.dev/github.com/hibiken/asynq#ServeMux) describes this behavior.
This enables things like
- fallback handler ([Example](https://github.com/

[2021-04-26 04:17] #266 closed

[2021-04-27 09:59] ChristianYeah opened #267 "[FEATURE REQUEST] run periodic task once a time"
Hi, I'm wondering if this feature will be included in the future.

for example, one has a heavy load task every 30 minutes. It reads a batch of DB results and then does the calculation, but it could last over 30 minutes or more. In case of dirty read or something, a unique periodic task is required.

currently, I can do some tricks to avoid this circumstance, while it wastes performance

[2021-04-28 03:25] hibiken commented on #267
@ChristianYeah Thanks for opening an issue!

Could you describe the feature you want to see if more detail?
From what you shared, it sounds like you are using `Scheduler` to enqueue task periodically (every 30 mins). But the task may take more than 30mins to process. If the previous task hasn't been completed, you don't want to enqueue another task. Is that what you want to see?

[2021-04-28 03:35] ChristianYeah commented on #267
yes it is. sorry for my poor english.

[2021-04-28 13:26] hibiken commented on #267
No worries! I just wanted to see if you can provide more details.

But it sounds like you can just use `Unique` option when enqueueing tasks with `Scheduler`.

Example:
[code]

Does this meet your requirement?

[2021-04-29 02:24] ChristianYeah commented on #267
that helps, thank you

[2021-04-29 02:24] #267 closed

[2021-05-03 20:19] kamatama41 opened #269 "[FEATURE REQUEST] Expose raw data of payload"
**Is your feature request related to a problem? Please describe.**
Encoding / decoding task parameters is too much to write especially when task has many parameters, so I'd like to convert task parameters into a struct via another library (assuming [mitchellh/mapstructure](https://github.com/mitchellh/mapstructure)). In order to do that, I need the raw data of Payload when decoding params.

**exam

[2021-05-03 20:59] hibiken commented on #269
@kamatama41, thank you for opening this issue!

I'm actually updating the API in the next version:
New API takes arbitrary array of bytes as payload.
[code]

What this means is that you can write code like this:

[code]

I'm actively working on the feature, and should be able to release it in a few more weeks 👍

[2021-05-04 07:27] kamatama41 commented on #269
Got it, I'm looking forward to that 😃

[2021-05-04 07:27] #269 closed

[2021-05-05 08:51] shubhgangrade opened #270 "Unable to enqueue new tasks in queue because worker blocking the execution."
Hi hibiken,
Thanks for the asynq task/queue library. I have been stuck on below issue for last few days.

So, I have been using this task/queue for feed ingestion to Postgresql database. The feed consists of thousands of programs. I'm enqueuing the programs one by one after unmarshalling the  feed to "feed.tasks" queue.  And after that I'm calling the worker to dequeue program and ingest the paylo

[2021-05-05 16:10] hibiken commented on #270
@shubhgangrade Thank you for opening this issue!

Let me ask you a few clarifying questions so that I can better understand your issue:
1) Could you clarify what you mean by "program"? You said your feed consists of thousands of "programs", so I'm guessing it's an entity that your application deals with?

2) It sounds like you have two phases in your pipeline:
   First phase takes task from `"feed

[2021-05-05 20:06] shubhgangrade commented on #270
Thanks for the reply @hibiken.

Below are the answers for your queries:

1. Yes, Feed is a JSON file which is having Array of "Programs" and thousands of "Program" objects are there in "Programs" array.

2. Yes, I've two phases in the pipeling :
    a. Yes, you're right. It takes each "Program" and writes data to Postgres.
    b. No, Let me clarify this one :
        I just want to fetch newly add

[2021-05-05 22:36] hibiken commented on #270
Ok, thanks for clarifying.
Sounds like you need to a way to signal when you can enqueue the **merger task**.
Unfortunately, asynq doesn't currently doesn't support this type of workflow out of the box, so you need to write that logic yourself. The feature is planned to be implemented in the future #244 .

A solution I can think of:
If you have ID for each feed, you can simply keep track of # of co

[2021-05-06 14:36] sujit-baniya opened #271 "[QUESTION] How does priority queue work?"
Please suggest how the priority queue works in following scenario:

[code]

There are already 1K messages on `low`, When I send a message on `critical` while other messages are still enqueued, will this message consume at first or wait for first 1K  to get completed?

I'm trying to understand how priority queue works

[2021-05-07 13:31] hibiken commented on #271
@sujit-baniya thank you for asking!

It's documented here in godoc (https://pkg.go.dev/github.com/hibiken/asynq#Config). Please take a look at `Queues` and `StrictPriority` fields. Also, there's a wiki page explaining how queue priorities work: https://github.com/hibiken/asynq/wiki/Queue-Priority

Let me know if it's still unclear! That means the documentation can be improved.

[2021-05-08 07:32] shubhgangrade commented on #270
Thanks for the suggestion!

@hibiken when are you planning to release stable version v1? We're planning to use this library in production environment.

[2021-05-08 17:46] hibiken commented on #270
That's great to hear!
I have listed the features/changes I want to implement before releasing v1.0 here: #242

I've been steadily making progress towards the release, but I don't have a definite timeline just yet at this time (Need to balance with full-time job, family time, etc). You can subscribe to the above issue and that'll let you know when there's any updates on it 👍

[2021-05-08 18:53] hibiken commented on #271
Once a task is in pending state, it's appending to a list in redis. This list has FIFO semantics.
If a task is scheduled to be processed in the future (via `ProcessIn` or `ProcessAt` option), the task is stored in a sorted-set in redis (score being the unix time of the process_at time).
Asynq internally manages these tasks state and move tasks from sorted-set to the list mentioned above.

If you a

[2021-05-12 13:41] hibiken commented on #271
Closing this issue.

[2021-05-12 13:41] #271 closed

[2021-05-12 13:42] hibiken commented on #270
Closing this issue in favor of #244

[2021-05-12 13:42] #270 closed

[2021-05-18 20:31] andrey-ryoo opened #273 "[FEATURE REQUEST] Returning Task Back to Queue"
Hi, I suggest this feature might be useful.
Problem: The worker is out of resources because of heavy task and it's good idea to return it back to queue.

Example:

[code]
This shouldn't be counted as error and tries not to break API, but honestly I'd return ```(map[string]interface, error)```

[2021-05-18 22:47] tmac33 commented on #172
Hi Team, Is there any way to acess the `DeleteScheduledTask(id string)` now?

[2021-05-20 06:43] TopScrew opened #274 "[BUG] WARN: recoverer: could not move task to archive: NOT FOUND"
**Describe the bug**
WARN: recoverer: could not move task to archive: NOT FOUND

**Expected behavior**
![image](https://user-images.githubusercontent.com/35072495/118931458-a1b35d00-b979-11eb-8ca1-b8294be8162c.png)

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Environment (please complete the following information):**
 - OS:  Linux
 - Version of `asynq` v0.17.1

[2021-05-20 12:56] hibiken commented on #274
@TopScrew Thank you for reporting this issue.

Could you give me more details so that I can reproduce this bug?

[2021-05-20 23:47] hibiken commented on #273
@andrey-ryoo Thank you for opening this issue!

(Let me make sure I understand your issue) You want to return a sentinel error value to indicate not to increment retry count, is that correct?

But alternatively, If you expect the task to fail, you can increase the number of max retry using `MaxRetry` option; would that approach work for you?

[2021-05-21 06:59] andrey-ryoo commented on #273
My point is the task should have 3 statuses. 1. Success, 2. Unable to handle(if condition say, don’t even start), 3. Error during execution.
1 and 3 is well implemented and I suggest implementing 2.

[2021-05-21 22:22] hibiken commented on #273
Ok, thanks for clarifying.

Here's my initial solution.

## Proposal
We can introduce a sentinel error `ErrFailedPrecondition` which indicates to the asynq server not to increment the retried-counter but enqueues the task back for later processing.

### Example

[code]

Asynq server should check for the returned error and if

[code]

is true, do not increment retried-count but enqueue the task bac

[2021-05-22 05:51] andrey-ryoo commented on #273
That’s exactly what I mentioned. The error needs to be built in as constant

[2021-06-04 18:01] nilam-sorathia opened #275 "[BUG] Deleted tasks are preventing new tasks from being enqueued"
**Describe the bug**
When a unique task is scheduled and then subsequently deleted with an outstanding ttl, that task prevents a new task from being enqueued until the ttl expires.

_Note:  the task was deleted using Asynqmon_

**To Reproduce**
1. Schedule a task in an hour with any payload with unique option (ttl: long enough to reproduce the bug, eg. 2 minutes)
2. Using Asynqmon, confirm the tas

[2021-06-05 03:12] hibiken commented on #275
@nilam-sorathia Thank you for reporting this bug! I completely overlooked this, I'll fix this in the next few days.
Thank you again for spotting and reporting this bug 🙏

[2021-06-05 11:53] nilam-sorathia commented on #275
Thank you for the quick reply.  We appreciate your investment in this library and we plan on depending on it more.  Would you please update this thread on whether the fix will be in asynq or asynqmon.  Thank you @hibiken

[2021-06-06 01:24] hibiken commented on #275
The main fix is going to be in this `asynq` repo, but we'll also need to update the dependency version in `asynqmon` repo as well. I'll make sure to close this issue when both of these are addressed 👍

[2021-06-06 13:44] hibiken commented on #274
Hi @TopScrew, are you still seeing the issue? Or were you able to figure it out?

[2021-06-06 14:23] hibiken commented on #275
The bug is fixed now. Upgrading to the latest version `0.1-beta2` of `asynqmon` should fix the issue 👍
Please let me know if you are still seeing the bug!

[2021-06-06 14:23] #275 closed

[2021-06-06 15:13] nilam-sorathia commented on #275
@hibiken Very much appreciated!

[2021-06-07 22:50] xn3cr0nx opened #277 "Cleanup active tasks when restarting the server"
Hello there :wave:

Thanks for your great work! I have a question about a mechanism I would like to implement, but I don't understand whether it is feasible.

I have some events that are scheduled once. The event includes a `starting_at` property, hence when a new event is created I enqueue a new task that basically waits for `starting_at`. When `starting_at` is reached, I enqueue a new task to pr

[2021-06-08 02:52] acgfbr opened #278 "[BUG] Enqueue message from NodeJS"
**Describe the bug**
My system enqueue all of messages in nodejs, just route to micro service enqueuer, example:
i have multi queue system in sqs, php and im trying to rollout all of this systems to go, but i want to enqueue in node to sqs and golang

I'm queuing a payload from nodejs and asynq can't remove the message

**To Reproduce**
Steps to reproduce the behavior (Code snippets if applicable)

[2021-06-08 03:03] crossworth commented on #278
Hi, maybe this is related to this: https://github.com/hibiken/asynq/issues/109#issuecomment-796809596

Which should be fixed when the API uses a byte slice as payload (https://github.com/hibiken/asynq/pull/253).

[2021-06-08 03:14] acgfbr commented on #278
Oh great, i change the order of json and now working, thanks man!
![image](https://user-images.githubusercontent.com/8755427/121117387-6eccee00-c7ee-11eb-8eec-7c775d0130c7.png)

[2021-06-08 03:14] #278 closed

[2021-06-08 18:10] crossworth commented on #277
Hi, I dont know if I understood your problem, but couldn't you use `ProcessAt` and avoid removing and handling the waiting for `starting_at`?

https://github.com/hibiken/asynq/wiki/Getting-Started#client-program
https://pkg.go.dev/github.com/hibiken/asynq?utm_source=godoc#ProcessAt

You could try cancel the active task as well, but you will have to know the task id.
https://github.com/hibiken/asyn

[2021-06-08 18:27] acgfbr commented on #242
hi man, i run my jobs today in php laravel horizon, i suggest to you to put a runtime in jobs, for example:

![image](https://user-images.githubusercontent.com/8755427/121237987-0291cf00-c86e-11eb-82cc-06c342a03742.png)

![image](https://user-images.githubusercontent.com/8755427/121238012-0887b000-c86e-11eb-847a-112cc0cf5a30.png)

[2021-06-09 07:35] flamedmg commented on #273
One of the possible uses i encounter is API limits. Say some api endpoints have call limits, say 100 call per minute.  Will  this help to solve situations like this?

[2021-06-09 12:24] xn3cr0nx commented on #277
Hi @crossworth, thanks for your feedback!

Yes, using `ProcessAt` is for sure smarter and more elegant than having a counter, so I will employ it, but I guess the general issue persists. In the event the service crashes, when it restarts how can I check if the event was correctly scheduled before the crash in order to decide if to schedule it on startup or not?

It looks like I have to keep track

[2021-06-09 12:39] gopkg-dev commented on #273
Me too. I need to put the task back in the queue.

[2021-06-09 13:10] hibiken commented on #274
Closing this for now since no follow up.
Feel free to reopen the issue if anyone is encountering the same bug.

[2021-06-09 13:10] #274 closed

[2021-06-11 23:50] hibiken commented on #277
@xn3cr0nx Thank you for creating an issue, and @crossworth thank you so much for responding quickly 🎉

I believe using the `ProcessAt` and `Unique` options satisfy your requirements? Let me know if you are still having trouble. Otherwise, is it okay to close this issue?

[2021-06-12 10:44] xn3cr0nx commented on #277
Thanks @hibiken, `ProcessAt` and `Unique` worked perfectly for me. Closing the issue!

[2021-06-12 10:44] #277 closed

[2021-06-14 10:44] mvcatsifma commented on #105
Java

[2021-06-16 08:37] sujit-baniya opened #281 "[QUESTION] Get Queue and Task Information in Queue Handler"
In case of using same handler for different queues, is it possible to get the current queue and task information in the handler? If yes, how?

[2021-06-16 23:20] hibiken commented on #281
You can get that information from the context, use the following function to extract the data from the context:
- [GetQueueName](https://pkg.go.dev/github.com/hibiken/asynq#GetMaxRetry)
- [GetTaskID](https://pkg.go.dev/github.com/hibiken/asynq#GetMaxRetry)
- [GetMaxRetry](https://pkg.go.dev/github.com/hibiken/asynq#GetMaxRetry)
- [GetRetryCount](https://pkg.go.dev/github.com/hibiken/asynq#GetMaxRe

[2021-06-16 23:20] #281 closed

[2021-06-21 15:39] mrsufgi opened #282 "[FEATURE REQUEST] Use interfaces"
**Is your feature request related to a problem? Please describe.**
Im using asynq in several projects and I find myself create partial interfaces for asynq.Client (type) so I can mock on my unit tests. It's tedius, partial and redunant and could be helpful to have "Official" interfaces returned from NewClient function

further reference on how do you mock uninterfaced dependencies
https://dev.to/j

[2021-06-23 17:54] Harrison-Miller opened #284 "Ability to get the status of a task by id"
**Is your feature request related to a problem? Please describe.**
Currently when using the inspector to find the status of a task you need to loop through every task of each status type. Which is really inconvenient.

[code]

**Describe the solution you'd like**
I would like to be able to get the task status and metadata using inspector.
`GetTaskByID`

[2021-06-23 18:01] crossworth commented on #284
Hi, looks like that in the next version we will have: `GetTaskInfo(qname, id string) (*TaskInfo, error)`.

Commit: https://github.com/hibiken/asynq/commit/26d035e0506c7a11ed0212f911ab785b3998bc6c

[2021-06-23 18:07] Harrison-Miller commented on #284
Perfect, I also appreciate the consolidation of the different task types into a single struct.

[2021-06-28 13:07] sujit-baniya opened #285 "[FEATURE REQUEST] Returning result from handler along with error"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
Currently the signature of a handler is `func(ctx context.Context, t *asynq.Task) error`. When using middleware, I would like to get result of the function and handle the code further.

I suppose following signature would work

[code]

[2021-06-28 13:52] crossworth commented on #285
Hi, do you want to handle the code further only on error or even on success?

If it's only on error, you could probably create a custom error, return it and type assert on your middleware.

If you want even with success, I think a better approach would be using `context.WithValue`, maybe changing `Task` to have the context on it.

[code]

With this approach we could easily do:

[code]

and retriev

[2021-06-28 14:01] sujit-baniya commented on #285
@crossworth I would want to handle in both cases and apply condition on middleware accordingly

[2021-06-29 02:14] GoneGo1ng opened #286 "[BUG] The task is always active"
**Describe the bug**
When the task is active, the worker shutdown, then the task will always be active.

**To Reproduce**
Steps to reproduce the behavior:
1. Set task sleep times.
[code]
2. Start the worker.
3. Start the scheduler.
4. When the task is active, shutdown the worker.
5. The task will always be active.

**Expected behavior**
I think the task should change the state to failed based on T

[2021-06-29 03:50] crossworth commented on #286
Hello, are you sure that the task is not recovered after 1 minute?

On pull request https://github.com/hibiken/asynq/pull/181 was added support for task recovery on worker crash.

The way the crash recovery works it's quite simple, on server (worker)  startup after 1 minute
https://github.com/hibiken/asynq/blob/2516c4babac835a04b59822eebb9a0016351e177/server.go#L376

A routine is executed to list

[2021-06-29 06:27] GoneGo1ng commented on #286
This is my worker, I mean, I shutdown it. I'm pretty sure it didn't recover or retry. It's been more than two hours now.
[code]

[code]

[2021-06-29 16:11] hibiken commented on #285
@sujit-baniya Thank you for opening a feature request!
And @crossworth thank you so much for helping answering questions for various feature requests/bugs 🙏

As @crossworth mentioned, you should use a custom error type if you want to distinguish different error scenarios.

For successful case, both of the suggestion are valid but requires API changes.
I'm going to be working on adding a support fo

[2021-06-29 16:43] hibiken commented on #286
@GoneGo1ng Thank you for opening this bug!
@crossworth thank you for helping out here!

Can you provide what you are seeing in your logs on Server shutdown?

As documented in [this wiki](https://github.com/hibiken/asynq/wiki/Signals), you should send a TERM signal to the server process to shutdown the server. Upon receiving a TERM signal, the server waits for duration specified by `ShutdownTimeout

[2021-06-29 23:34] #109 closed

[2021-06-29 23:34] #245 closed

[2021-06-29 23:34] #284 closed

[2021-06-30 01:58] GoneGo1ng commented on #286
Thank you for reminding me. I didn't read the document carefully. TERM signal gracefully shut down background process.

[2021-06-30 03:47] thanhps42 commented on #286
@hibiken
Sometimes we can't send a TERM signal to server process. I run worker process in my laptop, but I the worker maybe exit unexpected (such as: windows auto update, electric-power-off,...). I was set the timeout for task, but it never fire.

P/s: sorry for my English.

[2021-06-30 12:59] hibiken commented on #286
@thanhps42 thanks for the question.
Like @crossworth mentioned in the comment, deadline exceeded tasks (i.e. timed out tasks) are recovered when you restart the server. If you run multiple worker servers, it may help to minimize the time before the timed out tasks get recovered.

For example:
- Server1 and Server2 are consuming tasks from QueueX.
- Server1 starts processing Task1 (with  timeout se

[2021-07-02 05:43] thanhps42 commented on #286
I was set deadline for Task1, but it never get timeout. No deadline exceeded even Timeout was set.

[2021-07-02 12:45] crossworth commented on #286
@thanhps42 could you describe the exact process you are doing to test this behaviour?

Are you sure that the worker is running?

The recovery process will not happen if the worker is stopped.

If I create a task with timeout of 1 minute , enqueue it, the worker starts processing it but crashes, the task will be in Active state until I start the worker again.

[2021-07-02 14:41] thanhps42 commented on #286
@crossworth
When I start the worker again, it process new pending task, these old active task still stay there (and "Started" status always "just now").

![image](https://user-images.githubusercontent.com/11658963/124290876-29e27000-db7e-11eb-80be-2d19d0e1d02f.png)

[2021-07-02 17:26] hibiken commented on #286
@thanhps42 Thank you for reporting this!
@crossworth thank you for following up to this issue!

I can reproduce this bug, and it seems like `RDB.ListDeadlineExceeded` is not returning the deadline exceeded messages.
I'll look into this bug in the next few days, but feel free to open a PR for the bug fix if anyone else is interested in this.

[2021-07-02 23:47] hibiken commented on #286
Sorry, I take it back!
It's working as intended, but I overlooked that by default tasks' timeout is set to 30mins.

@thanhps42 I'm suspecting you are encountering the same thing.
From the screenshot you provided, it seems that you are setting the task timeout to 20mins. So the abandoned active tasks are not going to be recovered until they hit their deadline (which is set to `time.Now() + task.Tim

[2021-07-02 23:47] #286 closed

[2021-07-02 23:58] thanhps42 commented on #286
@hibiken The task timeout is 20mins. After many hours, 1 task is recover, and 1 task still there?

![image](https://user-images.githubusercontent.com/11658963/124337254-d6970e80-dbcb-11eb-9880-aa973db345ef.png)

[2021-07-03 01:23] hibiken commented on #286
That's strange.

Would you mind running this command and paste provide the output here?

`redis-cli zrange asynq:{<qname>}:deadlines 0 -1 withscores` (where `<qname>` is your queue name)

Also, did you recently migrate from Asynq v0.17 to v0.18?

[2021-07-03 04:07] thanhps42 commented on #286
I was pause the queue 1 hour ago, the task still there.

![image](https://user-images.githubusercontent.com/11658963/124342493-9e54f780-dbee-11eb-9db6-e2bc285ca2e7.png)

[code]

My asynq version is v0.17.2. I have no update/migrate.

[2021-07-03 12:57] hibiken commented on #286
Would you mind running:

[code]

and paste in the output here?

[2021-07-04 02:43] thanhps42 commented on #286
[code]

[2021-07-04 02:47] thanhps42 commented on #286
#client:
![image](https://user-images.githubusercontent.com/11658963/124371502-893e9e00-dcac-11eb-8abd-11f6e6d1ea8d.png)

[2021-07-04 04:15] hibiken commented on #286
Ok that seems normal to me. Thank you for providing the info.

Would you mind running the server and keep it running for at least one minute? (You need to keep it running for one minute since current implementation only execute task-recovering logic every minute).
If recoverer is failing, you'll see some warning logs like these:
https://github.com/hibiken/asynq/blob/master/recoverer.go#L72
https:/

[2021-07-04 07:49] thanhps42 commented on #286
After start and stop the worker many times, the active task was gone. I don't know why.

![image](https://user-images.githubusercontent.com/11658963/124377589-d33c7980-dcd6-11eb-901f-fce707a0fdcd.png)

[2021-07-04 12:32] crossworth commented on #286
@hibiken I would like to clarify something, you said "task-recovering logic every minute", but a `Timer.NewTimer` [is used](https://github.com/hibiken/asynq/blob/d5e9f3b1bd6ec64b5bf8ed55b0310d95a13bbe54/recoverer.go#L60), this means that it only happens one time: https://golang.org/pkg/time/#Timer

Is this the default behaviour, or was intended to execute every minute, if so maybe is better to use

[2021-07-04 13:07] hibiken commented on #286
@thanhps42 Even though we couldn't get to the bottom of this, this was a good opportunity to take another look at task recovering logic, so thank you 🙏 And please let me know if you see the issue again.

@crossworth Thank you for spotting! Yes, we should call `Timer.Reset` in recoverer.  My reasoning behind using the `Timer` instead of `Ticker` is because I wanted to ensure that we start counting

[2021-07-04 13:17] crossworth commented on #286
I see, thats makes sense, I think a Timer is a better solution for this case.

[2021-07-05 02:59] jiangdi0924 commented on #213
@sujit-baniya  Hi sujit-baniya,  did you fixed it ?  I want to do the  same plan with you, but i have not  consider maturity.

[2021-07-05 03:05] sujit-baniya commented on #213
@jiangdi0924 Yes I've changed the API and fixed there as per my need. And it's working fine so far :)

[2021-07-05 03:13] jiangdi0924 commented on #213
@sujit-baniya  It's awesome. Can you provide some code  show me  how to  `define muti server `  and ` insert job to the each server` ？ Thank you very much

[2021-07-05 03:22] jiangdi0924 opened #290 "Multiple asynq servers serve different queues"
Hi hibiken,  Nice repo, it is very useful to me , thank you!

In find the issue   [issues/213](https://github.com/hibiken/asynq/issues/213)  about muti server feature.
Can you explain how to define and use it ?

[2021-07-05 03:24] sujit-baniya commented on #213
@jiangdi0924 I've done something like this:

[code]

PLEASE NOTE THE API IS CHANGED AND YOU'VE TO ADJUST ACCORDINGLY

[2021-07-05 18:37] hibiken commented on #290
@jiangdi0924 thank you for opening an issue. Looks like you got an answer in the other issue? Let me know if you have more questions. I'm on vacation currently and may be slow to respond 😬

[2021-07-06 01:33] jiangdi0924 commented on #290
Yea, i find the solution. Happy vacation !😎,  closed

[2021-07-06 01:33] #290 closed

[2021-07-07 10:51] wenCcc commented on #105
php

[2021-07-10 13:50] crossworth commented on #282
Hi, I don't think we improve the library by doing this. The idiomatic way is for the consumer to define the interface, the reference that you pointed show that as well, I know that is a bit tedius doing that for every project, but you could use a interface generator tool or create a wrapper around the AsyncClient.

For more references see the links below:

- https://github.com/golang/go/wiki/CodeR

[2021-07-10 16:13] hibiken commented on #282
@mrsufgi Thank you for opening this issue! While I can related to the pain of defining interface in every project, I agree with @crossworth in that we shouldn't make this API change.

These feedback on APIs are very useful, so if you have more please don't hesitate to open an issue!

[2021-07-10 16:13] #282 closed

[2021-07-11 06:21] mrsufgi commented on #282
Thank you for your answers! I agree, if interfaces are only meant for testing, I can use something like
https://github.com/vburenin/ifacemaker

To easily generate them from structs :)
🥳

[2021-07-13 23:20] acgfbr opened #291 "[FEATURE REQUEST] how to enqueue from nodejs asynq 0.18"
Hi, today im enqueuing from nodejs in asynq 0.17:

![image](https://user-images.githubusercontent.com/8755427/125537263-30f78fa5-0842-44fb-96fc-2106303ebc98.png)

but in asynq 0.18.x payload contains special characters:

![image](https://user-images.githubusercontent.com/8755427/125537291-6943fd07-38fc-4017-862a-adc2e3fa3af4.png)

how to make this payload in nodejs?

[2021-07-14 01:53] hibiken commented on #291
Hi @acgfbr! Thanks for opening this issue :)

We've changed how we store task data in v0.18. Take a look at the following for how it's currently implemented in Go.

https://github.com/hibiken/asynq/blob/c0ae62499f8a9f4ba34ca02ed5f5ba08cf6f427c/internal/rdb/rdb.go#L76
https://github.com/hibiken/asynq/blob/c0ae62499f8a9f4ba34ca02ed5f5ba08cf6f427c/internal/rdb/rdb.go#L130
https://github.com/hibiken/a

[2021-07-14 02:08] crossworth commented on #291
You can create a simple program using go that takes the job payload as input, enqueue it and call using `exec` from other programming languages.

Another approach would be to create a simple http server with go that accepts a request to enqueue a job, that way you could enqueue jobs with anything that can make a http request.

[2021-07-14 04:59] moulo1982 opened #292 "[BUG] message always pending"
**Describe the bug**
message always pending

**To Reproduce**
Steps to reproduce the behavior (Code snippets if applicable):
Queue Name is “CamelCase”，Enqueue method use QueueOpting （

// Queue name is case-insensitive and the lowercased version is used.
func Queue(qname string) Option {
	return queueOption(strings.ToLower(qname))
}

）， but Server “asynq.Config”‘s Queues not “ToLower”。so， message

[2021-07-14 13:00] hibiken commented on #292
@moulo1982 Thank you so much for spotting this bug!

Now that I'm thinking about this, I think it doesn't make much sense to make queue names case-insensitive?
Do you think we should just use the queue name provided as is (without normalize it to lowercase)?

What do you think? /cc @crossworth

[2021-07-14 13:33] crossworth commented on #292
I think we can use as provided, I don't see any problem with it, simple is better.

[2021-07-15 02:41] strobus opened #293 "[FEATURE REQUEST] Upgrade go-redis dependency to v8"
**Is your feature request related to a problem? Please describe.**
I'm ready to upgrade my projects to go-redis/v8 but asynq is holding me back. I'd rather not have 2 versions of go-redis in my stack. Are there plans to upgrade?

**Describe the solution you'd like**
Upgrade Asynq to go-redis/v8

**Describe alternatives you've considered**
N/A

**Additional context**
go-redis/v8 has been out of bet

[2021-07-15 08:04] moulo1982 commented on #292
I think it's good

[2021-07-15 12:55] hibiken commented on #293
@strobus Thanks for opening this issue!

Yes, I've been meaning to update to v8. I just haven't had a chance to do that yet since it was not a high priority.
I'll probably get to it within the coming week or so, but if this is urgent for you, please feel free to open a PR 👍

[2021-07-15 13:55] #292 closed

[2021-07-16 03:17] beyoung commented on #244
I think [airflow](https://airflow.apache.org/) is a good example.

[2021-07-18 14:01] wsqyouth opened #295 "[BUG] the example demo do not work well"
**Describe the bug**
the exampe demo of the project is not working well, the beginner must study the grammer and try to  fix it
may you can fix it

[2021-07-18 14:40] wsqyouth commented on #295
mp proj:
 https://github.com/wsqyouth/coopers_go_code/tree/master/asynq

[2021-07-18 16:28] #295 closed

[2021-07-18 16:30] hibiken commented on #295
Thanks for reporting! Fixed build errors.
Let me know if I missed anything in #296 👍

[2021-07-19 02:40] sahilsk11 commented on #213
Hi, wanted to re-ask the question here. I have multiple services pushing jobs into the same asynq queue just fine. I spun up one worker service and it's able to pull tasks off just fine, but when I run a second worker service, it seems to replace the first.

Example:
- I have one worker service initialized with a mux that handles a "SEND_EMAIL" job. Jobs are being entered and executed just fine.
-

[2021-07-19 03:06] hibiken commented on #213
@sahilsk11 Thanks for the question! I think this is a common misunderstanding (indicates that we need better documentation).

Based on what you shared, I'm assuming both "SEND_EMAIL" and "REFRESH" tasks are enqueued to the same queue (probably the "default" queue unless you specified using the `Queue` option).

Your workers will dequeue these tasks from queues based on the `Config` you passed to i

[2021-07-19 03:27] sahilsk11 commented on #213
Wow, @hibiken thanks for the quick turnaround and explanation! I spun it up in a test repository and was able to enqueue and run both jobs in parallel just fine.

Link to that if anyone else is interested: https://github.com/sahilsk11/asynq

Thanks again for the incredible tool!

[2021-07-20 08:45] victor-wzq opened #297 "[FEATURE REQUEST] empty taskname should not be publish"
i push a task with empty taskname,
but i can't comsume this task,
i think function Enqueue should check taskname

[2021-07-20 12:53] hibiken commented on #297
@victor-wzq thank you for creating this issue! I haven't thought about this edge case so thank you for pointing this out  👍

I think we have a couple of options:
1. `NewTask` function can panic given a empty typename
2. `Enqueue` function can return an error if the task has an empty typename
3.  Allow tasks to have an empty typename

Let me know what you think! /cc @crossworth

[2021-07-20 13:12] crossworth commented on #297
I think we should go with option 2.

1. We should avoid panic's, we dont know where the typename could came from (maybe user input or dynamic generated) and panicing makes it harder to the caller to handle it, we should avoid panic as much as possible as a library. By returning an error we can effectively tell the caller what went wrong.

2. I think is the best option, Enqueue already returns erro

[2021-07-20 21:04] #291 closed

[2021-07-22 11:55] nkbai opened #299 "[BUG] cannot cancel task"
my asynq version is 0.18.2,but i cannot cancel tasks.

[code]

[2021-07-23 02:46] hibiken commented on #299
Hi @nkbai thank you for creating this issue! I think this is a common misunderstanding.

In Asynq, **cancel** operation is applicable to only **active** tasks. It cancels currently processed tasks.
For  *pending, scheduled, retry* tasks, you can either *delete* or *archive* task
Example:
[code]

Let me know if you have more questions :)

[2021-07-23 02:46] #299 closed

[2021-07-24 13:26] nkbai commented on #299
thanks very much

[2021-07-25 09:53] seanyu4296 opened #300 "Question: is it possible for multiple "servers" to "forward" the same messages"
Hi, @hibiken

First off, awesome lib! I'm trying to study and use your library. I'm pretty new to go and redis too.

So, Can I ask is it possible for multiple "servers" to "forward" the same messages given the code below?

[code]

wouldn't 2 servers querying from the same queues end up querying the same items if they are started almost at the same time?
Wondering also if you have some docs explain

[2021-07-25 17:10] hibiken commented on #300
Hi @seanyu4296 thank you for the question!

Redis is single-threaded from the POV of commands execution.
Please take a look at this [Atomicity of scripts](https://redis.io/commands/eval#atomicity-of-scripts) in redis doc.

quotes from redis documentation:

Second part about slow scripts explains why we are currently dealing with 100 tasks at a time (to avoid running a slow script which blocks othe

[2021-07-25 17:10] #300 closed

[2021-07-26 02:40] seanyu4296 commented on #300
gotcha thanks for the quick, succinct, and clear explanation! @hibiken

Do you have a timeline or roadmap to version 1.0 release? 😄

[2021-07-26 04:47] hibiken commented on #300
I have this milestone https://github.com/hibiken/asynq/milestone/2

The roadmap is not set in stone, it may change in the future.

[2021-07-26 14:22] seanyu4296 commented on #300
Awesome stuff thanks! @hibiken

[2021-07-29 13:54] nilam-sorathia opened #301 "[BUG] Priority-Queues wiki page content is missing or is link incorrect?"
**Describe the bug**
https://github.com/hibiken/asynq/wiki/Priority-Queues

[2021-07-30 00:15] #301 closed

[2021-08-03 01:44] zhaolion opened #304 "[FEATURE REQUEST] Adding a small amount of task information to asyncq.Task"
**Is your feature request related to a problem? Please describe.**

My feature: I need to know the number of retries to update the database related information. Currently the processor cannot get information about the number of retries related to the task

**Describe the solution you'd like**

[code]

** Additional context
This is a very marginal feature, and I rarely encounter it. If it is too di

[2021-08-03 01:47] crossworth commented on #304
Hello @zhaolion.

You can use `func GetRetryCount(ctx context.Context) (n int, ok bool)` to get the retry count from the context.
https://pkg.go.dev/github.com/hibiken/asynq?utm_source=godoc#GetRetryCount

[2021-08-03 05:39] zhaolion commented on #304
cool, thanks for your comment

[2021-08-03 05:39] #304 closed

[2021-08-03 06:47] sicko7947 opened #305 "Error when upgrading from 0.17 to 0.18"
**Describe the bug**

_2021/08/03 16:40:48 INTERNAL_ERROR: redis eval error: ERR Error running script (call to f_a3d9ea12b22222adbcad90882a9e57f1874e165a): @user_script:2: @user_script: 2: Wrong number of args calling Redis command From Lua script_

**To Reproduce**
Enqueue tasks
![image](https://user-images.githubusercontent.com/19926182/127969850-a34288ec-459a-4a51-85ed-6f6be5af0cee.png)

**Expe

[2021-08-03 12:48] hibiken commented on #305
@sicko7947 thank you for opening an issue!

I have written a upgrade guide from 0.17 to 0.18. Please take a look at https://github.com/hibiken/asynq/wiki/Version-Upgrade-Guide-(from-0.17-to-0.18), and let me know if you have any questions.

[2021-08-04 17:03] JeremyCraven opened #306 "[BUG] Scheduler enqueuing tasks too many times"
**Describe the bug**
This may not be a bug, but I'm opening this so hopefully I can understand this behavior. Running asynq 0.16.
I have a periodic task with the following cron spec `* 0 * * *`. I would expect this to enqueue 1 task in a 24 hour period. Looking at the history in the UI the task got enqueued 22 times in a short period of time and then stopped getting enqueued. Attached are screensh

[2021-08-04 17:08] crossworth commented on #297
@hibiken this can be closed.

[2021-08-04 17:45] crossworth commented on #306
Hello @JeremyCraven.

I think I see the problem:
- First using `* 0 * * *`  you are telling [`At every minute past hour 0`](https://crontab.guru/#*_0_*_*_*).
- [Unique](https://github.com/hibiken/asynq/wiki/Unique-Tasks): `The uniqueness lock has a TTL associated with it to avoid holding the lock forever. The lock will be released after the TTL or if the task holding the lock gets processed succes

[2021-08-04 18:00] JeremyCraven commented on #306
Thanks! Definitely user error. Closing this out. Appreciate the quick response!

[2021-08-04 18:00] #306 closed

[2021-08-05 03:10] hibiken commented on #297
Closing this. Thank you @Luqqk!

[2021-08-05 03:10] #297 closed

[2021-08-05 06:49] bibilins opened #307 "[FEATURE REQUEST] Description of the feature request"
I want to know, if the server/scheduler roboot, will the tasks that were previously enqueued but not executed be rescheduled？

[2021-08-05 06:49] bibilins opened #308 "[FEATURE REQUEST] Scheduler reboot cannot reschedule old tasks"
I want to know, if the server/scheduler roboot, will the tasks that were previously enqueued but not executed be rescheduled？

[2021-08-05 06:52] bibilins commented on #308
I had tested, enqueued a task into  scheduler, then reboot the scheduler, but it seems that scheduler was not scheduled the previous task

[2021-08-05 06:54] #307 closed

[2021-08-05 13:45] JeremyCraven commented on #308
I am also curious about persistence of registered tasks with the scheduler.

[2021-08-05 19:04] crossworth commented on #308
Hello guys, I will try to explain how the scheduler works, but I may be wrong on some aspects, so maybe we should wait to see what @hibiken says.

We use [`github.com/robfig/cron` to handle the cron part](https://github.com/hibiken/asynq/blob/95c90a5cb822877a9465cd3203235a262359096f/scheduler.go#L28), when we register a task using `Register(cronspec string, task *Task, opts ...Option) (entryID str

[2021-08-06 03:51] hibiken commented on #308
Thank you @bibilins for opening this issue!
@crossworth's explanation is correct. Current implementation is quite basic and it simply store all registered tasks and their cronspec in the process's memory (i.e doesn't persist it anyware), so it doesn't survive process restart.

**What we want is a fault tolerant distributed cron system**, I'll do some research and try to come up with a design and

[2021-08-07 04:22] duyhungtnn opened #309 "[BUG] asynq client failed when use command `stats`"
**Describe the bug**
- After connect asynq with our Redis server, run a command `asynq stats`. It take so long to complete and end up with
[code]

**To Reproduce**
Steps to reproduce the behavior (Code snippets if applicable):
0. Setup redis with docker-compose
[code]

1. Setup background processing ...
2. Enqueue tasks ...
3. See Error ...

**Expected behavior**
- Need to see the stats of the sys

[2021-08-07 04:30] duyhungtnn commented on #308
@bibilins I was facing some issues like you. I am not sure it was your case, but want to share with you and hope it could help.

When I enqueue the task with the option `time_out` or `dead_line`. After I updated the server | worker and reboot them, the system ends up with no more running tasks. It hangs forever.

## I solved by following that guide
- https://github.com/hibiken/asynq/wiki/Task-Time

[2021-08-07 12:10] crossworth commented on #309
Hello, I have encoutered this problem as well, but using `asynqmon`, I could not yet determine why (for this reason I havent create a issue or pr), but I know that I can cause it by enqueuing a lot of tasks and processing they very fast (no code, no printing, just a empty handler).

Probably the [MEMORY USAGE](https://redis.io/commands/memory-usage) command is returning [nil](https://redis.uptrace

[2021-08-07 12:50] hibiken commented on #309
@duyhungtnn thank you for reporting this!

Could you double check the CLI version by running `asynq version`?

[2021-08-07 12:57] hibiken commented on #305
Closing this.

[2021-08-07 12:57] #305 closed

[2021-08-07 13:13] hibiken commented on #309
The error message in the screenshot is coming from here: https://github.com/hibiken/asynq/blob/95c90a5cb822877a9465cd3203235a262359096f/internal/rdb/inspect.go#L197

My initial guess is that the for loop for the scan command is taking too long (https://github.com/hibiken/asynq/blob/95c90a5cb822877a9465cd3203235a262359096f/internal/rdb/inspect.go#L183) since we recently changed each task to have it

[2021-08-07 15:25] duyhungtnn commented on #309
@hibiken yeah my asynq is `asynq version 0.18.2`

@crossworth I am facing that issue with `asynqmon` too. The web dashboard display nothing when viewing the queue info.
Yes, I was using a scheduler to trigger a single task every 2h. On that single task will enqueue 5000 tasks to feed the worker. It may be the cause.

[2021-08-09 15:58] #309 closed

[2021-08-09 16:07] hibiken commented on #309
@duyhungtnn The fix is in 👍
Let me know if you continue to see issues with new versions (asynq: v0.18.3, asynqmon v0.2.2)

[2021-08-09 20:41] JeremyCraven commented on #308
Thanks @hibiken! We can work around registered tasks not surviving process restart.

I'll plan on following along and if the opportunity presents itself also help where possible. Thanks again!

[2021-08-13 07:07] LINJINTIANDE opened #311 "I can’t view the specific status of the task operation these days. What is the reason?"
I can’t view the specific status of the task operation these days. What is the reason?
As long as there is running in the queue, you cannot see the data running redis
![image](https://user-images.githubusercontent.com/42436479/129318089-db2711a3-8413-4370-9868-31e878c2d6fb.png)
![image](https://user-images.githubusercontent.com/42436479/129322427-762dbe17-32f1-4875-be93-bc59cb224f11.png)

[2021-08-14 03:09] hibiken commented on #311
Hi @LINJINTIANDE, thank you for opening this issue.

Which version of asynq package and asynqmon are you using?
This may be version compatibility issue.

[2021-08-14 13:41] LINJINTIANDE commented on #311
ansyq v0.17.1 ，asynqmon is the latest version

[2021-08-14 14:13] LINJINTIANDE commented on #311
Upgrade asynq v0.18.3, check the queue details, the following error occurred
![image](https://user-images.githubusercontent.com/42436479/129449043-31c267b1-8091-41bd-9ced-ce15a1a089a3.png)
![image](https://user-images.githubusercontent.com/42436479/129449053-21e1f80a-154d-40a1-933d-212e02a3eaa7.png)

[2021-08-14 15:02] hibiken commented on #311
I see. This has come up a number of times; asynq 0.17.x is compatible with asynqmon 0.1.x.
(If you are using docker, I'd suggest you pin the version number of the image).

When you upgrade from asynq 0.17 to 0.18, did you follow the guide at https://github.com/hibiken/asynq/wiki/Version-Upgrade-Guide-(from-0.17-to-0.18)?

[2021-08-14 15:07] LINJINTIANDE commented on #311
Upgrade to asynq v0.18.3 is normal, thank you for your reply

[2021-08-15 12:37] #311 closed

[2021-08-16 19:24] JeremyCraven commented on #308
Hey @hibiken. Following up, it turned out that dynamic registering of tasks ended up being a blocker for us. I took a look at the scheduler code and it wasn't obvious how to implement that. If you have any suggestions, I could take an attempt at it, but either way just following up to express interest in this feature.

[2021-08-16 23:07] hibiken commented on #308
@JeremyCraven thank you for the update! I can revisit this and make the change within the next few days!

[2021-08-18 00:15] hibiken commented on #308
@JeremyCraven Please update the package to v0.18.4. I made a change so that you can call `Scheduler.Register` (and also `Unregister`) concurrently. Let me know if you encounter any issues!

[2021-08-19 08:10] rugwirobaker commented on #173
Nats would be nice too. The only reason I hesitate with Redis is data persistence with Redis is a bit more involved. I would love to help with nats of course if there is an isolated Store interface.

[2021-08-19 16:41] crossworth opened #313 "[FEATURE REQUEST] Change process task context behaviour"
**Is your feature request related to a problem? Please describe.**
Maybe. It could help solve #285 and #265 and make the library more idiomatic.

**Describe the solution you'd like**
I would like to propose that we change the ProcessTask signature from:
[code]

To:
[code]

And that we add the `context.Context` to the task struct to make it more open to middleware patterns.

[code]

**Describe alte

[2021-08-19 19:50] crossworth commented on #273
Would be cool if we could specify a ProcessIn (or at) as well, since some APIs return a `retry after x` when reaching the rate limit and some libraries returns this as [a custom error](https://github.com/tucnak/telebot/blob/93c5ba7136a6f82d848be1775db3350b266079f3/errors.go#L15).

Maybe something like:
[code]

[2021-08-19 22:16] JeremyCraven commented on #308
@hibiken Thank you so much! So far looks like we are unblocked.

[2021-08-20 02:50] duyhungtnn opened #314 "[BUG] The high priority queue is process very slow compare to lower queue"
**Describe the bug**
The high priority queue is processed very slow compare to the lower queue

**To Reproduce**
Steps to reproduce the behavior (Code snippets if applicable):
- Run a long-running task on the `default` queue. Many small but  critical tasks will issue from here and added to the `critical` queue
- The `default` queue is hold all the time of worker pools
- The `critical` queue is stu

[2021-08-20 02:54] crossworth commented on #314
Hello @duyhungtnn, could you tell me what value are you passing in the Concurrency (ccu variable)?

[2021-08-20 02:56] duyhungtnn commented on #314
Hi @crossworth ,  the Concurrency value is 12

[2021-08-20 03:02] duyhungtnn commented on #314
![Screen Shot 2021-08-20 at 10 01 22](https://user-images.githubusercontent.com/2597710/130172648-62cab41e-3a4f-41f1-97c8-684c8bceaeb2.png)

[2021-08-20 03:04] crossworth commented on #314
Looks like you need more workers. There are 12 active tasks on the default queue, if they are long running tasks and you have 12 total workers, you are out of workers.

![](https://user-images.githubusercontent.com/2597710/130171114-04ef65a7-1fc5-4caa-9dd5-1ba744da98ff.png)

You could try using [strict queues](https://github.com/hibiken/asynq/wiki/Queue-Priority#strict-priority) but if the process

[2021-08-20 03:24] duyhungtnn commented on #314
thank you for your suggestion. I tried it before and it works.

I just want to follow the document about [weighted priority](https://github.com/hibiken/asynq/wiki/Queue-Priority#weighted-priority)
But in the document when don't use strict queues, and use the default weighted priority here are whats I expected
[code]
It doesn't happen. After 1 hour of waiting but no `critical` task is processed. I

[2021-08-20 03:41] crossworth commented on #314
This occurs because you have long running tasks and all the workers are blocked.

If each task takes the same amount of time, the weighted priority would be exact as describe, but when you introduce long running tasks and don't have any free worker you must wait the tasks complete, if they are long running it can take awhile.

When you paused the queue, you had enough workers to process the critic

[2021-08-20 03:53] duyhungtnn commented on #314
@crossworth That is a good idea 👍

In my case right after a long-running task finish, (It usually run in 10 minutes)
we actually have a free worker for a short time and it has so many `critical` tasks out there.  It just could not pick some `critical` tasks but stick with low priority tasks.

[2021-08-20 23:09] pbarnum opened #315 "[FEATURE REQUEST] Provide the task ID to the task object when using the handler callback."
**Is your feature request related to a problem? Please describe.**
No.

**Describe the solution you'd like**
I would like to get the ID of the task currently being processed in the handler's callback function.

**Describe alternatives you've considered**
Adding our own ID to the task object and getting it through the payload.

**Additional context**
I would like to reference the resource (task) ge

[2021-08-20 23:15] crossworth commented on #315
Does [`GetTaskID`](https://pkg.go.dev/github.com/hibiken/asynq?utm_source=godoc#GetTaskID) solves your problem?

[code]

[2021-08-20 23:22] pbarnum commented on #315
Oh gosh yes it does! I don't know how I missed that. Thank you 👍

[2021-08-20 23:22] #315 closed

[2021-08-21 15:51] hibiken commented on #313
@crossworth Thank you for the proposal!
I think there's a huge benefit in making the API similar to `net/http` package, since there are lot of other packages built around the `net/http` and makes this package integrate with those packages easier.

Since this is a breaking change, I'd like to be careful when making the decision. Let's list out pros and cons of the current and suggested API and we c

[2021-08-21 16:16] hibiken commented on #314
@duyhungtnn thank you for raising this issue! It's something we should consider adding support for or at least update the documentation to make this clearer.

@crossworth's explanation is spot-on. Thank you for jumping in quickly to provide explanations!

For more context, the current implementation picks which queue to pull tasks from by calling this `queues()` function: https://github.com/hibike

[2021-08-22 00:52] crossworth commented on #313
I will work on enumerating the pros and cons.

Just a note, we could solve this problem by changing the function signature from `func(ctx context.Context, t *asynq.Task) error`  to `func(ctx context.Context, t *asynq.Task) (context.Context, error)` as well, but I think we should try mimic the `net/http` way of handling requests and since we are on the v0 its easy to do it now than later.

[2021-08-22 11:13] duyhungtnn commented on #314
@hibiken  I think I have a little misunderstanding in the documentation.
After a day of running, the chances of any queue are true as shown in the Docs. I think it is good.

I fixed this problem by setting up more servers, making sure the ` critical `  task is always handled first.
- Some servers have the `StrictPriority` ON.
- Some servers only listen on the `critical' queue.

So I think `reservi

[2021-08-22 11:13] #314 closed

[2021-08-23 02:59] hibiken commented on #314
@duyhungtnn Glad it worked out. These are great bug-reports/feature-requests. Thank you for reporting & keep 'em coming!

[2021-08-24 05:33] sdklab007 opened #316 "[FEATURE REQUEST] Schedule for retry / mark task as process later"
**Is your feature request related to a problem? Please describe.**
Currently, we are using Asynq for checking the status of the transaction that gets proceed by another system. Sometimes the transaction goes on the "PENDING" status, hence we would want Asynq to retry until the transaction status is either FAILED/SUCCESS.

**Describe the solution you'd like**
Ability to retry the task without creat

[2021-08-24 05:38] sdklab007 commented on #273
@hibiken Even I am looking for a similar solution proposed by @crossworth.

[2021-08-24 15:02] newlife commented on #105
I am working on a  client library for python https://github.com/newlife/asynq-py 。

For now ,It works fine for me ,I just need send task ran immediately, which is complete.

Next , I will finish next part  which  task to be processed in the future, shown in the example .

If there is any feature I missed,  let me know ,I will add if I can

Wish this client can make some  help

[2021-08-24 15:02] newlife commented on #105
I am working on a  client library for python https://github.com/newlife/asynq-py 。

For now ,It works fine for me ,I just need send task ran immediately, which is complete.

Next , I will finish next part  which  task to be processed in the future, shown in the example .

If there is any feature I missed,  let me know ,I will add if I can

Wish this client can make some  help

[2021-08-25 13:05] hibiken commented on #273
To answer @crossworth's [comment](https://github.com/hibiken/asynq/issues/273#issuecomment-902195937),

We have `RetryDelayFunc` which can be configured when you create a Server instance via config.
You could return a custom error and handle it in your RetryDelayFunc like so:

[code]

---

Going back to the original question from @andrey-ryoo, we could use a similar approach and we can add `IsFail

[2021-08-25 13:13] hibiken commented on #316
@sdklab007 Thank you for opening this issue!
I responded in the issue #273, please take a look!

This is a duplicate of #273 I'll close this one and move the discussion to the other issue.

[2021-08-25 13:13] #316 closed

[2021-08-27 10:56] xuyang2 opened #318 "[BUG] 用协程同时启动 asynq.Server 和 http.Server 的程序无法用 kill -TERM 结束"
**Describe the bug**
用协程同时启动 asynq.Server 和 http.Server 的程序无法用 kill -TERM 结束

**To Reproduce**
Steps to reproduce the behavior (Code snippets if applicable):
[code]
然后分别执行
go run main.go
go run main.go -run

**Expected behavior**
程序都应该能在若干秒后退出

**Actual behavior**
[code]

**Environment (please complete the following information):**
 - OS: Linux
 - Version of `asynq` package: 421dc584ffa4fab4ea8ced

[2021-08-28 16:41] crossworth commented on #313
**Current API**
PROS:
- It's already implemented and works for almost all cases.

CONS:
- The context is handled in a unilateral way, we receive the context, but we cannot change it, this limit the cases where a middleware is a solution (or complete solution), like returning custom data or adding contextual data to be used by a middleware.
- The API is more like the database apis that accept the c

[2021-08-29 08:21] ianprogrammer commented on #105
Is there anyone working in a rust client? this is something that I would like to work on

[2021-08-30 02:53] hibiken commented on #105
@ianprogrammer Please let us know if you end up creating a client library in Rust. We'll make sure to list the client libraries in other languages in the README.

Also, please feel free to ping me here or open a [discussion](https://github.com/hibiken/asynq/discussions) if you have questions on the current implementation in Go client 👍

[2021-08-31 02:05] Ryalu opened #320 "[FEATURE REQUEST] Add func NewServerWithClient() and NewWithClient()?"
[code]

[code]

[2021-08-31 02:21] hibiken commented on #320
@Ryalu thank you for opening a feature request.

I intentionally didn't add this option because I don't want `asynq` package API to be dependent on a specific `go-redis/redis` package API. For example, if the `NewClient` function takes `github.com/go-redis/redis/v7.UniversalClient` then we would need to bump our major version if we want to update to `github.com/go-redis/redis/v8.UniversalClient`.

[2021-08-31 08:51] Ryalu commented on #320
Thanks for replying, I know, I just want to unify my configuration file. 👍

[2021-08-31 11:31] seanyu4296 opened #321 "[FEATURE REQUEST] Instrumentation/Tracing for asynq redis client"
**Is your feature request related to a problem? Please describe.**
- I want to add tracing to the underlying redis client instance using `dd-trace-go`.
- Is it possible to get access to the underlying redis instance so I can wrap the client with a function like the one below?

[code]

**Describe alternatives you've considered**
- I am also looking if the way to go about this is creating a `RedisCo

[2021-08-31 13:17] hibiken commented on #321
@seanyu4296 thank you for opening this issue!

As I commented in #320 , I'd like to avoid exposing the redis client library (and its version) from `asynq` package API.
I think the alternative you mentioned is a good compromise. You can implement a type that satisfies `RedisConnOpt` interface and provide an object of that type to  `asynq.NewClient` and `asynq.NewServer`.

Let me know if that works!

[2021-08-31 13:18] hibiken commented on #320
@Ryalu As discussed in #321 , you could implement your own type that satisfies `asynq.RedisConnOpt` interface so that you have full control/access over the redis client.

Let me know if that works!

[2021-08-31 14:47] seanyu4296 commented on #321
Got it, will test it out the next coming days and let u know. Are there possible gotchas that you @hibiken  can think atm since I'm not a pro in go?

[2021-09-01 13:00] #273 closed

[2021-09-02 05:31] seanyu4296 commented on #321
was able to make it work btw @hibiken 😄  see screenshot below

![Screen Shot 2021-09-01 at 10 04 53 PM](https://user-images.githubusercontent.com/11349232/131786966-4b065739-75de-476b-aa10-8beda74ba73d.png)

do you think it will be helpful to add a wiki section on asynq/Tracing

[2021-09-02 05:44] seanyu4296 commented on #321
also updated this doc to use Stop and Shutdown

https://github.com/hibiken/asynq/wiki/Monitoring-and-Alerting

[2021-09-02 13:03] hibiken commented on #321
Also, a heads-up: I just merged PR #298 so you would need to update the redis-client library to v8 when the new release comes out!

[2021-09-02 13:19] seanyu4296 commented on #321
Ohh dang! Doesn't Google let you use your own tools or there's already an internal task scheduler system?

Nice I was actually hoping v8 will be merged before I deploy the usage of asynq in my day job work.

[2021-09-03 12:09] zdraganov commented on #241
In detail, you can use the same Redis instance for multiple services that are running asynq. If so, we want to have separate redis entries for each of the service, so we can have `payment_asynq:...` , `order_asynq:...` as any of those will be in the scope of the service itself.

[2021-09-05 00:33] dhh93 opened #322 "[FEATURE REQUEST] Support for ULID in TaskMessage ID field"
Hey there,

Was wondering if we could add support for [ULID](https://github.com/ulid/spec) in the `TaskMessage` ID field. The first 10 characters of each ULID string encode timestamp information, which would enable the sorting of tasks by ID.

There is another [library](https://github.com/oklog/ulid) (albeit 3rd party) that implements ULIDs with a similar API to the UUID library, though it would r

[2021-09-05 01:03] #293 closed

[2021-09-05 03:57] hibiken commented on #241
@zdraganov thank you for the comment.
Can we achieve that with custom queue names?
For example, you can create payment related queues such as `"payment:foo"`, `"payment:bar"`, etc
and create order related queues such as `"order:baz"`, `"order:qux"`, etc.

[2021-09-07 08:08] seanyu4296 commented on #321
By the way, since we upgraded to `redis v8`. Is it possible for us to have a Context version for asynq functions? So that, traces can be passed down and correlated @hibiken

[2021-09-07 14:00] hibiken commented on #321
Which function are you thinking of? Is it just the `Client.Enqueue` or something else too?

[2021-09-07 14:02] hibiken commented on #313
@crossworth thank you for putting this together!

I'm currently designing the implementation of [workflow](https://github.com/hibiken/asynq/issues/244) and will take this proposal into consideration 👍

[2021-09-07 14:05] hibiken commented on #322
@dhh93 Thank you for creating this issue!

To better understand the motivation behind the change; why do you need to sort tasks by the timestamp?
I'm guessing the timestamp is the time the task was enqueued or created?

[2021-09-07 14:06] hibiken commented on #320
Closing this; @Ryalu feel free to reopen if you have any follow up questions!

[2021-09-07 14:06] #320 closed

[2021-09-08 03:08] Ryalu commented on #322
@hibiken hi😊，I have a similar need.  First, I really liked the project and put it into production, although it's still in beta.I use it as a cache synchronization queue. I update the data in Redis and equeue the update operation to the asynq queue (schedule queue). The asynq server pulls tasks off queues and synchronize update operations to the database. To reduce database stress, I pass `asynq.Pr

[2021-09-08 03:46] hibiken commented on #322
@Ryalu you should probably achieve similar effect by passing `Unique(ttl)` option when enqueueing the task.

Example:
[code]

[2021-09-08 04:23] Ryalu commented on #322
Thank you for replying.
It can ensure that tasks are not executed repeatedly, but can't override the same task. such as:
I create a task to update item (`UPDATE `items` SET `number`=500 WHERE customerId = 3 AND item = 2`) and enqueue
`client.Enqueue(task, asynq.TaskId("customerId:3:item:2"), asynq.ProcessIn(300*time.Second))`.  After the 30 seconds,  I need to re-enqueue task("customerId:3:item:2"

[2021-09-08 13:04] hibiken commented on #322
Ok thank you for clarifying!

To address the initial feature request by @dhh93 and follow up request by @Ryalu, I think we can provide `TaskID(string)` option when enqueueing tasks to allow users to provide a custom task ID.

@Ryalu I think `Client.Enqueue` should return `ErrDuplicateTask` if task with the given ID already exists. I think we can add a method to `Inspector` to update an existing ta

[2021-09-08 16:32] dhh93 commented on #322
Appreciate the response, @hibiken. With regards to your initial question, I wanted to incorporate ULIDs to help with logging/tracing; I think this somewhat ties in to [Issue #321](https://github.com/hibiken/asynq/issues/321) as well. Having sortable, unique IDs really helps with parsing through aggregated logs/requests.

The proposed changes look good -- allowing for custom IDs in general is nice

[2021-09-09 07:17] seanyu4296 commented on #321
So far just the `Enqueue` to also trace the underlying redis calls

[2021-09-09 13:01] hibiken commented on #321
Ok sounds good.

My proposal is to add a new method `EnqueueContext(ctx, task)` instead of changing the API of the existing one. Let me know if that works.

[2021-09-09 13:19] hibiken commented on #265
I'm revisiting this thread together with #322.

My current (tentative) plan is to make the following changes:
- Add `ResultTTL(time.Duration) Option` helper to specify TTL after success processing
- (internal) Add `asynq:{qname}:completed` ZSET score being the timestamp of TTL expiry
- Add `ResultWriter` type that writes result for the given task and `GetResultWriter(ctx) ResultWriter` helper to g

[2021-09-14 03:46] lufishggg opened #325 "[BUG] github.com/hibiken/asynq/tools v0.0.0-20210902125602-b3ef9e91a9ce build fails"
**Describe the bug**
Build fails

**To Reproduce**
Steps to reproduce the behavior (Code snippets if applicable):
1. go get github.com/hibiken/asynq/tools/asynq@b3ef9e91a9ce

**Expected behavior**
Build success and we can use cli tools.

**Screenshots**
![image](https://user-images.githubusercontent.com/31639618/133191717-d4fa638e-50df-40d5-9153-35d99b8b1358.png)

**Environment (please complete th

[2021-09-14 18:41] hibiken opened #326 "[FEATURE REQUEST] Introduce Task Locals"
**Is your feature request related to a problem? Please describe.**
In some cases, we have middleware functions that want to add more context or decorate task so that downstream handler functions can retrieve that data. Similar issues: #285 #313

**Describe the solution you'd like**
To allow users to store local data within a handling of task, we can provide `map[string]interface{}` as "task locals

[2021-09-14 21:14] crossworth commented on #326
Hello, I have thought more about #313 and think that the context should be the first parameter as well, I dont think we should "hide" it inside a struct, go docs/context.Context clearly says:

The problem that #313 tries to solve is a way to change the context inside a task handler, the only reason is to allow context propagation (and all the patterns that is has already, like scoped values, traci

[2021-09-14 21:14] #313 closed

[2021-09-15 02:10] leafmirror commented on #173
maybe rocketmq is better

[2021-09-15 05:55] seanyu4296 commented on #321
can work on in the next coming week @hibiken

[2021-09-15 13:20] hibiken commented on #321
@seanyu4296 if you do work on it, please work off of the `next` branch instead of `master`  :)

[2021-09-15 18:17] dhh93 commented on #326
@hibiken +1 to that implementation.

I've tried implementing message passing/data sharing in middleware functions -- either by mutating the task payload directly or by wrapping handlers in a custom struct and passing data thru a field. The problem with the latter approach is that it is best meant for sharing global data as the data would be available to all tasks processed by that handler. The new

[2021-09-16 10:21] ajatprabha commented on #246
Hi @hibiken, great project you got here! 🚀

I'm also looking to move from `gocarft/work` to `asynq` as the former has not been updated since 2018.

For alerts I'm interested in

Any updates on this issue? If you have bandwidth issues, let me know, I'd be happy to help with contributions.

[2021-09-16 16:34] hibiken commented on #246
@ajatprabha Thank you for the comment.

I'm currently working on a few things and I may be able to squeeze in the latency work in the next release.

I'm not sure what you meant by "Lock count of a queue". Could you explain in more details?

[2021-09-16 20:37] ajatprabha commented on #246
I have not actually gone into asynq codebase, but in gocraft/work it maintains a [lock count](https://github.com/gocraft/work/blob/5959e69ad211c5ca37ffdf3ede02e35a5ae41d98/worker.go#L273) per jobType (also queue since there seems to one queue per jobType). I believe this is not much relevant to asynq.

But latency is something I think is worth exposing.

[2021-09-17 10:34] AlexeyBelezeko opened #327 "[FEATURE REQUEST] callback for archived tasks"
Right now asynq doesn't provide the functionality to notify go code about archived tasks. For example, I have a task for uploading images from one server to another. In case of failure, I want to retry this operation a few times and if the problem didn't fix I want to create a ticket or fire an alert.

I suggest adding some call back for archiving tasks to asynq server configuration.

[2021-09-17 11:57] hibiken commented on #327
@AlexeyBelezeko Thank you for opening this issue!

I think this is a common need and we do have a hook [`ErrorHandler`](https://pkg.go.dev/github.com/hibiken/asynq#Config.ErrorHandler) which gets invoked every time `Handler.ProcessTask` returns a non-nil error. We can use this hook to trigger alerts when task has reached its max-retry.

[code]

Let me know if this works!

[2021-09-17 12:15] AlexeyBelezeko commented on #327
@hibiken thank you for your answer. But this hook will be triggered every time when the task will be retried. I ask about hook which will be called only once when the task achieved max retries or deadline.

[2021-09-17 12:41] AlexeyBelezeko commented on #327
@hibiken thank you for a quick answer. This is exactly what I've been looking for. Sorry for my blindness I found out that the same snippet contains in the ErrorHandler comment section.

[2021-09-17 22:14] hibiken commented on #327
Glad I could help!

No worries. I appreciate these issues because it's a signal that I can do a better job in documentation.

[2021-09-17 22:14] #327 closed

[2021-09-18 11:13] ajatprabha opened #328 "[FEATURE REQUEST] Distributed concurrency support per queue / taskType"
**Is your feature request related to a problem? Please describe.**
N/A

**Describe the solution you'd like**
Is it possible to set concurrency individually for every queue like it is supported [here](https://github.com/gocraft/work#job-concurrency).

**Describe alternatives you've considered**
Currently I tried to wire up the server in a way where I calculate total concurrency and set max priority

[2021-09-20 22:50] hibiken commented on #328
@ajatprabha Thank you for the question.

Currently Asynq does support per queue concurrency rate limiting out of the box. However, it's possible to configure this by a pattern described in[ the Rate Limiting wiki page](https://github.com/hibiken/asynq/wiki/Rate-Limiting).
If you only need to limit the max concurrency of a certain task type *within a single process*, I think you can create a counti

[2021-09-21 07:24] ajatprabha commented on #328
Thank you for the detailed answer, the approach makes total sense.

However, in gocraft/work, per queue concurrency rate limiting is distributed in nature out-of-the-box (since it acquires lock using redis itself). Do you see such a feature getting added to asynq as an addition(not the default) maybe?

I would like to understand the pros and cons of doing such a thing in terms of performance, API

[2021-09-23 05:38] seanyu4296 commented on #321
ohhh will this be for v1? i haven't started yet

[2021-09-23 05:42] seanyu4296 opened #329 "[Question] Are there TTL set for tasks? How long does it stay in Redis?"
Asking because i cannot find this in the wiki and others might find it useful.

Specifically, How long do archived tasks stay in Redis so we can keep track or retry manually?

[2021-09-23 17:09] hibiken commented on #329
@seanyu4296 Thank you for the question! I should document this somewhere.

Currently these are defined here as constants:

https://github.com/hibiken/asynq/blob/b3ef9e91a9cec1f9890f3f34653aaf6b90388dbd/internal/rdb/rdb.go#L528-L531

In other words, tasks archived 90days ago (or older) will be deleted. If the archive size reaches 10,000, Asynq will start deleting oldest tasks to keep the size at 10

[2021-09-23 17:12] hibiken commented on #321
No, we have a long way to go before doing a v1 release. I use "next" branch for any next release (most likely v0.19 for the current one)

[2021-09-23 17:28] hibiken commented on #328
I think we can provide a rate limiter implementation using redis.

Usage example would look similar with other rate limit examples. I'm currently thinking something like the following:

[code]

Let me know if this solution works for you, or please let me know if you have any feedback :)

[2021-09-24 08:45] Me1onRind commented on #173
An idea, other message queues are supported as plugin. Use interface to decoupling from specific storage.

[2021-09-24 08:53] seanyu4296 commented on #329
Thank you again so much for the swift and detailed response @hibiken

From the code now, there is no way to override it right? correct me if I'm wrong?

[2021-09-24 11:41] seanyu4296 commented on #329
1. Another follow up question how often does the worker poll to get new tasks mainly for "scheduled" tasks? I'm looking through the code now and i see there is a process to move from scheduled -> pending in forward.go? What's next after that?

2. Is the execution accurate down to the Milliseconds?

Let's say I enqueued a task at 00:00:00.000 and scheduled it to process after a minute
`asynq.enqueu

[2021-09-24 12:15] newlife opened #330 "[FEATURE REQUEST] save cron info and task to redis"
**Is your feature request related to a problem? Please describe.**

when write  asynq client in python , to process tasks periodically ,I had to  enqueue task use some cron lib in python .
which is already there in asynq.

**Describe the solution you'd like**

save cron info in redis , use **Scheduler ** 's function to read and handle them. also ,can mange then in web ui

[2021-09-24 12:18] crossworth commented on #330
Related https://github.com/hibiken/asynq/issues/308#issuecomment-893980479

[2021-09-24 12:26] crossworth commented on #325
Hello, sorry for the delay.

You seems to be using redis v7, there was a PR a few days ago that added support for redis v8, maybe updating your redis dependency (if possible), would solve this problem.

Otherwise try using the `v0.18.4` version.

https://github.com/hibiken/asynq/pull/298

[2021-09-24 12:31] crossworth commented on #322
@hibiken  this can be closed I guess.
Seems that the PR failed to close this issue when was merged.

[2021-09-25 09:09] ajatprabha commented on #328
This looks good. I like that this is still opt-in!

[2021-09-26 14:30] lufishggg commented on #325
Try not to build in the repo. Just go to a new directory, init a new go module and go get github.com/hibiken/asynq/tools/asynq

[2021-09-26 14:39] lufishggg commented on #325
This might be a bug for go module. Try to update the version of github.com/hibiken/asynq from v0.17.1 to v1.18.5 in the go.mod  file of module github.com/hibiken/asynq/tools.

https://github.com/hibiken/asynq/blob/master/tools/go.mod:

github.com/hibiken/asynq v0.17.1 => github.com/hibiken/asynq v0.18.5

[2021-09-30 13:27] hibiken commented on #322
@crossworth The change is not in master yet. The branch was merged into `next` branch which I will merge once I'm ready to release a new version :)

[2021-09-30 13:51] hibiken commented on #329
@seanyu4296 Sorry for the delayed response.

Yes, you're right. Currently, user cannot configure `archiveMaxSize` and `archivedExpirationInDays`. Let me know if you have a need to configure these.

As for question #1, after task goes to `pending` it's FIFO from there so all available worker will look at the pending list and start processing in FIFO fashion.

To answer question #2, no it's not. It'

[2021-09-30 14:25] seanyu4296 commented on #329
So far, there is no need but it would be nice to have.

Thanks for answering my questions. Sorry, also didn't get back here after I looked through the code. How I figured it out is starting in rdb.go and going up. (e.g. start with the function `dequeue` and check where it is used)

Anyway, I noticed now we use RPOPLPUSH instead of BRPOPLPUSH. What's the reason behind that? Is it because of lua scr

[2021-09-30 16:08] zhaitailang opened #332 "[QUESTION] Does Asynq support multiple servers and processes? Is there a locking mechanism?"

[2021-10-01 12:57] hibiken commented on #332
@zhaitailang thank you for the question.
Yes, you can run multiple server processes to read from the same queues. For the most part, no locks are needed since we execute Lua script on Redis which is atomic in terms of execution of the script (see https://redis.io/commands/eval#atomicity-of-scripts).

[2021-10-01 12:59] #332 closed

[2021-10-01 13:18] hibiken commented on #329
Got it, yes we can make this configurable. I'll defer it for now, I don't want to add a feature not used by anyone :)

It's beacuase we want to consult multiple queues in order (based on priority) for any pending task but don't want to get blocked by an empty queue. For example, let's say our server is consuming tasks from Queue X, Y, and Z, and based on the priority configuration we should consul

[2021-10-03 12:59] hibiken commented on #325
@lufishggg Should be able to download the CLI now since I release a new package version. Let me know if you still run into an issue.

[2021-10-06 02:04] lufishggg commented on #325
The problem is solved. Thanks!

[2021-10-08 03:10] gf3 commented on #308
@hibiken @crossworth i also have a use-case for a persisted/distributed schedule:

our platform allows shop owners to have multiple locations where goods are sold, each location has its own fulfillment time and rules. every order on our platform is associated with a location and has a fulfillment date in the future. therefore each location requires a daily job at a specific time to mark current or

[2021-10-17 17:21] huttotw commented on #246
I have just started using Asynq in production and I am also looking for some out-of-the-box telemetry.

@hibiken what are your thoughts of exposing all of these things natively via the Prometheus format?

Prometheus also offers a client API that the `asyncmon` UI could use to consume all such stats in a nice way.

The big benefits to this method are:
1. A single source of truth for stats (Promethe

[2021-10-18 14:16] ajatprabha commented on #328
Sure, I'll pick this up. Might have to go through the style/structure of asynq codebase. Do share any pointers to keep in mind while working on this PR, like the scripting style in rdb package.

[2021-10-18 15:28] ajatprabha commented on #328
[Turns out](https://groups.google.com/g/golang-nuts/c/eD8dh3T9yyA/m/l5Ail-xfMiAJ) `x` in `x/abc` denotes external and not experimental. Let me know your thoughts on where we should put experimental stuff.

[2021-10-20 09:39] Chosokabeho opened #334 "[FEATURE REQUEST] Recover tasks immediately when server is crashed"
**Is your feature request related to a problem? Please describe.**
Some tasks of my project plan to run for several hours, however, if the asynq-server crashes/hang, they can't be retried immediately until a timeout is reached.

**Describe the solution you'd like**
* Add worker ID into task hashtable when dequeueing from a pending queue.
* Recoverer periodically iterate tasks in active task set of

[2021-10-20 14:14] hibiken commented on #334
@Chosokabeho thank you for creating an issue! This is a great feedback.

I believe RabbitMQ does something similar.
Quote from their getting started guide:

We have the second part (Timeout) for Asynq, but as you pointed out, the first part is not implemented in Asynq. I will look into the behavior of other systems (RabbitMQ, etc) and come up with a sensible solution here.
I want to look at other

[2021-10-24 16:48] sujit-baniya opened #335 "[QUESTION] How does registration and execution of task works with scheduler?"
For a normal task, we need to create handler and assign queue to that handler (if we use mux). So whenever task is enqueued, handler processes the task.

But for scheduled task, as per this: https://github.com/hibiken/asynq/wiki/Periodic-Tasks
I don't see we define the handler for the task. So please help me understand, when I register a task

[code]
How is this task executed? Which handler execut

[2021-10-24 22:35] #335 closed, assigned to hibiken

[2021-11-03 22:55] #328 closed

[2021-11-06 22:29] hibiken commented on #322
This has landed in master now and available since version 0.19

[2021-11-06 22:29] #322 closed

[2021-11-06 22:29] hibiken commented on #265
This feature is now available since version 0.19

[2021-11-06 22:29] #265 closed

[2021-11-07 15:54] hibiken commented on #285
This can now be done through `ResultWriter` since version 0.19!

[2021-11-07 15:54] #285 closed

[2021-11-08 11:43] johnha opened #338 "[BUG] Redis produces an error "ERR invalid expire time in set" when tasks enqueued with properties ProcessIn & Unique < 1 second."
**Describe the bug**

Redis produces an error "ERR invalid expire time in set" when tasks enqueued with properties ProcessIn & Unique < 1 second.

**To Reproduce**

			asynq.ProcessIn(time.Millisecond * 500),
			asynq.Unique(time.Millisecond * 500))

Returns error:

UNKNOWN: redis eval error: ERR Error running script (call to f_8640afea14b4dc438522b83eab3523efbf54ba9d): @user_script:2: ERR invalid

[2021-11-08 16:29] hibiken commented on #338
Thank you for opening an issue!

I will update the docs to say that duration >= 1s is required for `ProcessIn` and `Unique` options. And I will update the code to return an error from `Enqueue` if those conditions are not met.

Thank you so much for spotting this :)

[2021-11-08 16:42] krhubert opened #339 "[FEATURE REQUEST] Group tasks by a specific key"
**Is your feature request related to a problem? Please describe.**
I have a service that that sends emails to users and sometimes it may happen that there will be >20 emails of the same type to send. Not the same email this is the key difference why I can't use the unique task option. Let me give you an example of such situation:

There's an email to accept an invitation to edit file A, B, C, ...

[2021-11-08 18:49] johnha commented on #338
Cheers.    And many thanks for the library - looks the best of those available.

1 second minimum is ok I think in this case.   As FYI redis does support the PX where time is specified in milliseconds as opposed to EX.  Obviously there is a lag for in getting to that point where some more performant requirements may have expired before they hit the request to redis - but I doubt anything above 50m

[2021-11-08 19:49] Luqqk commented on #338
Hi @johnha & @hibiken,

Do I understand correctly that:

[code]
and then, we pass that `0` to redis. Could you please elaborate on this part:

how do we end up with a negative value? What do I miss? I'm just trying to understand what exactly happens here.

Thanks!

[2021-11-09 04:03] hibiken commented on #338
@Luqqk thanks for the correction there! Yes, this error happens when `Unique` option is specified to be less than 1s and `int(d.Seconds())` evaluates to zero, which we pass to redis `SET` command as `EX` option and that results in an error.

I'm hesitant to round this up to 1 so I'll document that the duration has to be greater than or equal to 1s and return an error otherwise 👍

[2021-11-09 04:05] hibiken commented on #339
@krhubert Thank you for opening an issue!
This is a great feature request and I think both of your suggestion makes sense. I think this requires more thinking and planning on my side and I'll update the thread when I have more a concrete plan!

[2021-11-09 12:46] johnha commented on #338
Apologies for confusion - when I reproduced the error I was executing in debug with breakpoint - at which point my duration had become -'ve RE unique expiry.   In the non-debug case this must have been 0 but had no transparency on that.

I misused the interface RE the de-dupe of tasks.   To clarify my problem statement: - in short:
testing for use in event driven system, where many events can happ

[2021-11-09 13:14] jonnyguio opened #340 "[BUG] GetTaskInfo doesn't return expected errors"
**Describe the bug**
The method `GetTaskInfo` of the `Inspector` doesn't return the expected error: it creates a new error appending the two possible errors to the string `asynq: `.

**To Reproduce**
[code]

**Expected behavior**
[code]

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Environment (please complete the following information):**
 - OS: any
 - v0.18.6

[2021-11-09 14:25] aon108 commented on #244
temporal.io is the best example

[2021-11-09 16:49] hibiken commented on #338
@johnha Thank you for the clarification.
As you described, the behavior of `Unique` option in conjunction with `ProcessIn` (or `ProcessAt`) is a bit nuanced (maybe I need to review/update the docs around that).

If you could generate a unique task ID to deduplicate tasks, it'd be the simplest and more straight-forward. As long as task ID is still in the queue, another task with the same ID won't b

[2021-11-09 17:10] hibiken commented on #340
@jonnyguio Thank you for opening an issue!
I believe this is a documentation bug, Inspector is returning an error that wraps those sentinel error values (to allow for flexibility in adding more context in the error in the future if needed).

So instead of directly comparing to the error value, the user of the package needs to unwrap it:

[code]

This pattern was taken from this blog: https://go.de

[2021-11-09 17:22] johnha commented on #338
Cheers.   I may be using the library for a slightly odd case - essentially I am debouncing work on the server side when I see a repeat, which is not exactly what the library was created for.   However the dedupe feature of the library makes it possible for this style of task.   Given its ability to be able to maintain the shared state for multiple consumers,  the ability to ensure a process gets e

[2021-11-09 17:22] #338 closed

[2021-11-09 20:33] jonnyguio commented on #340
Oh, that's great! That makes a lot of sense, I missed this way of handling it.

Keep it up with the good work! :smile:

[2021-11-09 23:45] #340 closed

[2021-11-09 23:46] hibiken commented on #318
Closing this as I'm unable to read the description (sorry!) :(

[2021-11-09 23:46] #318 closed

[2021-11-10 09:41] iqDF commented on #173
Hi @hibiken just want to check on the progress of the blocking features that you mentioned above:
* Periodic Task feature [FEATURE REQUEST] Recurring scheduled tasks using a CRON schedule #183
* Support Redis Cluster Support RedisCluster client #182

I saw as of today, November 2021. I see its already merged into the codebase for asynq. If we haven't had any progress on the external support for ot

[2021-11-10 11:00] zijiwork opened #347 "[FEATURE REQUEST] The time in non crontab format is 2021-11-08 02:00:00. Does asynq support it"
Do you support one-time tasks? Use non crontab format 2021-11-08 02:00:00. Does asynq support it

[2021-11-10 23:54] hibiken commented on #339
I'm having trouble coming up with a good solution to this, it may take more time to design a solution that's satisfying from both package users' and implementers' perspective.

But in the meantime, I have a workaround suggestion:
Essentially, we can create a queue to buffer all the tasks we want to aggregate, and make sure to *not* configure any server to consume tasks from this queue. Then we enq

[2021-11-11 00:18] hibiken commented on #173
@iqDF Thank you for checking in!

I'm still hesitant to start working on this yet since I still feel we haven't built out all the features we want to implement with Redis.
For example, these are some of the feature requests I'm interested in tackling before we can say the library is feature complete with Redis as a message broker:
- #339
- #244

When we add support for other message brokers, it'll

[2021-11-11 00:20] hibiken commented on #347
@zijiwork Thank you for opening an issue!
We do have `ProcessAt` option to specify when the task should get picked up by a worker?

Could you describe your use case in more detail? I want to make sure if this library is a good choice for your use case :)

[2021-11-11 00:47] iqDF commented on #173
This blocking features of Redis are still available?

[2021-11-11 00:50] hibiken commented on #339
FYI: Found an interesting blog post from Sidekiq author: https://www.mikeperham.com/2020/12/14/grouping-events-for-later-processing/

[2021-11-11 00:51] iqDF commented on #173
Anyway yup I'll take a look into the design of broker interface.

[2021-11-11 13:40] aon108 commented on #244
Just contributing some thoughts to this workflow idea, as I'm rolling my own implementation of this at the moment.
The simplest implementation I had was just specifying the next task that had to be scheduled inside the payload struct.
So when the worker was finished doing task X, it knew to schedule task Y. The `treating workflow as a unit` comes with a lot of overhead to get right - as can be see

[2021-11-12 04:45] hibiken commented on #244
@aon108 thanks for your input. I currently have a rough idea on how I want to go about implementing this. I agree with you that we want to keep the simplicity of the library and my hope is that this workflow feature is a layer on top of what we currently have so that it doesn't change the core of the library :)

[2021-11-12 08:50] zijiwork commented on #347
Thank you 'processat' for fixing my problem ，asynq is a good project

[2021-11-12 08:56] zijiwork commented on #347
Thank you 'processat' for fixing my problem ，asynq is a good project

[2021-11-12 08:56] #347 closed

[2021-11-12 09:55] krhubert commented on #339
The solution you wrote makes sense, but I was thinking about my usecase, and It even a bit more complex than what I originally described. I think what I really need is one more feature, a cooldown period before fire a task. Let me demonstrate it with an example of an email with a file invitation. Imagine two situations.

1. user Alice receives an invitation email every 0.5 sec through 60 seconds.

[2021-11-13 00:43] hibiken commented on #339
@krhubert The use case you described totally makes sense. And I can see that it'd be useful to others as well where use have to batch multiple successive operation into one (e.g. batch notifications to a user).

I'm currently designing the API and also what's the semantics around task options (e.g. retries, timeouts, etc)

This is my preliminary API proposal:

On the client side, user can specify

[2021-11-17 00:37] hibiken opened #351 "[FEATURE REQUEST] Rethink the semantics of "Paused" queue"
With current implementation (v0.19.0), the semantics of "paused" queue is such that no workers are going to pick up tasks from the queue (i.e. we stop tasks from the queue to be handled while the queue is paused).

This may be sufficient to stop bad task handlers to execute to bring down the error rate. However, we may also want to support "pausing the queue" from the client side, so that we block